<?xml version="1.0" encoding="utf-8"?>
<div id="275A_cnt">
  <h1>275A - Liquidation Reserve Form</h1>
  <div id="LiquidationReserveForm_cnt" class="biztax-panel">
    <div id="LiquidationReserveForm" class="biztax-title">Liquidation Reserve Form</div>
    <div id="LiquidationReserveForm_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-grid-header" width="100px"></th>
          <th class="biztax-th-grid-header" width="100px"></th>
          <th class="biztax-th-grid-header" width="100px"></th>
          <th class="biztax-th-grid-header" width="100px"></th>
          <th class="biztax-th-grid-header" width="100px"></th>
          <th class="biztax-th-grid-header" width="100px"></th>
          <th class="biztax-th-grid-header" width="100px"></th>
        </tr>
        <tr>
          <td class="biztax-td-name">Liquidation Reserve Previous Tax Period</td>
          <td class="biztax-td-code" width="50px">(2) (3)</td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReservePreviousTaxPeriod_D__id__TaxPeriod-1Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReservePreviousTaxPeriod" data-xbrl-context="id__TaxPeriod-1Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-1Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReservePreviousTaxPeriod_D__id__TaxPeriod-2Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReservePreviousTaxPeriod" data-xbrl-context="id__TaxPeriod-2Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-2Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReservePreviousTaxPeriod_D__id__TaxPeriod-3Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReservePreviousTaxPeriod" data-xbrl-context="id__TaxPeriod-3Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-3Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReservePreviousTaxPeriod_D__id__TaxPeriod-4Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReservePreviousTaxPeriod" data-xbrl-context="id__TaxPeriod-4Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-4Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReservePreviousTaxPeriod_D__id__TaxPeriod-5Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReservePreviousTaxPeriod" data-xbrl-context="id__TaxPeriod-5Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-5Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReservePreviousTaxPeriod_D__id__TaxPeriod-6AndPreviousMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReservePreviousTaxPeriod" data-xbrl-context="id__TaxPeriod-6AndPreviousMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-6AndPreviousMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Liquidation Reserve Current Tax Period</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveCurrentTaxPeriod_D__id__TaxPeriod-0Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCurrentTaxPeriod" data-xbrl-context="id__TaxPeriod-0Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-0Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Liquidation Reserve Compensated Previous Tax Period</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveCompensatedPreviousTaxPeriod_D__id__TaxPeriod-1Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCompensatedPreviousTaxPeriod" data-xbrl-context="id__TaxPeriod-1Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-1Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveCompensatedPreviousTaxPeriod_D__id__TaxPeriod-2Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCompensatedPreviousTaxPeriod" data-xbrl-context="id__TaxPeriod-2Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-2Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveCompensatedPreviousTaxPeriod_D__id__TaxPeriod-3Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCompensatedPreviousTaxPeriod" data-xbrl-context="id__TaxPeriod-3Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-3Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveCompensatedPreviousTaxPeriod_D__id__TaxPeriod-4Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCompensatedPreviousTaxPeriod" data-xbrl-context="id__TaxPeriod-4Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-4Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveCompensatedPreviousTaxPeriod_D__id__TaxPeriod-5Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCompensatedPreviousTaxPeriod" data-xbrl-context="id__TaxPeriod-5Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-5Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveCompensatedPreviousTaxPeriod_D__id__TaxPeriod-6AndPreviousMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCompensatedPreviousTaxPeriod" data-xbrl-context="id__TaxPeriod-6AndPreviousMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-6AndPreviousMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Liquidation Reserve Liable Repayable Withholding Tax</td>
          <td class="biztax-td-code" width="50px">(4)</td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveLiableRepayableWithholdingTax_D__id__TaxPeriod-1Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveLiableRepayableWithholdingTax" data-xbrl-context="id__TaxPeriod-1Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-1Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveLiableRepayableWithholdingTax_D__id__TaxPeriod-2Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveLiableRepayableWithholdingTax" data-xbrl-context="id__TaxPeriod-2Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-2Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveLiableRepayableWithholdingTax_D__id__TaxPeriod-3Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveLiableRepayableWithholdingTax" data-xbrl-context="id__TaxPeriod-3Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-3Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveLiableRepayableWithholdingTax_D__id__TaxPeriod-4Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveLiableRepayableWithholdingTax" data-xbrl-context="id__TaxPeriod-4Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-4Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveLiableRepayableWithholdingTax_D__id__TaxPeriod-5Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveLiableRepayableWithholdingTax" data-xbrl-context="id__TaxPeriod-5Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-5Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LiquidationReserveLiableRepayableWithholdingTax_D__id__TaxPeriod-6AndPreviousMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveLiableRepayableWithholdingTax" data-xbrl-context="id__TaxPeriod-6AndPreviousMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-6AndPreviousMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Liquidation Reserve Carry Over Next Tax Period</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="LiquidationReserveCarryOverNextTaxPeriod_D__id__TaxPeriod-1Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCarryOverNextTaxPeriod" data-xbrl-context="id__TaxPeriod-1Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-1Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="LiquidationReserveCarryOverNextTaxPeriod_D__id__TaxPeriod-2Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCarryOverNextTaxPeriod" data-xbrl-context="id__TaxPeriod-2Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-2Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="LiquidationReserveCarryOverNextTaxPeriod_D__id__TaxPeriod-3Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCarryOverNextTaxPeriod" data-xbrl-context="id__TaxPeriod-3Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-3Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="LiquidationReserveCarryOverNextTaxPeriod_D__id__TaxPeriod-4Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCarryOverNextTaxPeriod" data-xbrl-context="id__TaxPeriod-4Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-4Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="LiquidationReserveCarryOverNextTaxPeriod_D__id__TaxPeriod-5Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCarryOverNextTaxPeriod" data-xbrl-context="id__TaxPeriod-5Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-5Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="LiquidationReserveCarryOverNextTaxPeriod_D__id__TaxPeriod-6AndPreviousMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCarryOverNextTaxPeriod" data-xbrl-context="id__TaxPeriod-6AndPreviousMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-6AndPreviousMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="LiquidationReserveCarryOverNextTaxPeriod_D__id__TaxPeriod-0Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LiquidationReserveCarryOverNextTaxPeriod" data-xbrl-context="id__TaxPeriod-0Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-0Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>