<?xml version="1.0" encoding="utf-8"?>
<div id="275C_cnt">
  <h1>275C - Déduction pour capital à risque</h1>
  <div id="CalculationAllowanceCorporateEquitySection_cnt" class="biztax-panel">
    <div id="CalculationAllowanceCorporateEquitySection" class="biztax-title">Calcul de la déduction pour capital à risque</div>
    <div id="CalculationAllowanceCorporateEquitySection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Bij het begin van het belastbare tijdperk</th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Capitaux propres</td>
          <td class="biztax-td-code" width="50px">8001</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Equity_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="Equity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="3">Eléments à déduire des capitaux propres</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="DeductionsEquityAllowanceCorporateEquity_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="DeductionsEquityAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Actions ou parts propres</td>
          <td class="biztax-td-code" width="50px">8011</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="OwnSharesFiscalValue_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="OwnSharesFiscalValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Immobilisations financières consistant en participations et autres actions ou parts</td>
          <td class="biztax-td-code" width="50px">8012</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FinancialFixedAssetsParticipationsOtherShares_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="FinancialFixedAssetsParticipationsOtherShares" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Actions ou parts dont les revenus éventuels sont susceptibles du bénéfice des RDT</td>
          <td class="biztax-td-code" width="50px">8024</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="SharesIncomeEligibleDeductionPEExemptIncomeMovableAssets_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="SharesIncomeEligibleDeductionPEExemptIncomeMovableAssets" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Actifs corporels dans la mesure où les frais y afférents sont déraisonnables</td>
          <td class="biztax-td-code" width="50px">8016</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TangibleFixedAssetsUnreasonableRelatedCosts_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="TangibleFixedAssetsUnreasonableRelatedCosts" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Eléments détenus à titre de placement non productifs de revenus périodiques imposables</td>
          <td class="biztax-td-code" width="50px">8017</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentsNoPeriodicalIncome_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="InvestmentsNoPeriodicalIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Biens immobiliers dont les dirigeants ont l'usage</td>
          <td class="biztax-td-code" width="50px">8018</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ImmovablePropertyUseManager_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ImmovablePropertyUseManager" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Plus-values exprimées mais non réalisées</td>
          <td class="biztax-td-code" width="50px">8019</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="UnrealisedExpressedCapitalGains_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="UnrealisedExpressedCapitalGains" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Crédit d’impôt pour recherche et développement</td>
          <td class="biztax-td-code" width="50px">8020</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxCreditResearchDevelopmentDeductionEquityAllowanceCorporateEquity_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="TaxCreditResearchDevelopmentDeductionEquityAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Subsides en capital</td>
          <td class="biztax-td-code" width="50px">8021</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentGrants_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="InvestmentGrants" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Actualisation des stocks des diamantaires agréés</td>
          <td class="biztax-td-code" width="50px">8022</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ActualisationStockRecognisedDiamondTraders_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ActualisationStockRecognisedDiamondTraders" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Moyens empruntés dans le chef du siège principal dont les intérêts sont à charge du résultat imposable de l'établissement belge</td>
          <td class="biztax-td-code" width="50px">8023</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BorrowedFundsMainEstablishmentInterestChargedTaxableResultBelgianBranch_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="BorrowedFundsMainEstablishmentInterestChargedTaxableResultBelgianBranch" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Variations en cours de période imposable des capitaux propres et des éléments à déduire</td>
          <td class="biztax-td-code" width="50px">8040</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="MovementEquityAfterDeductionsAllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementEquityAfterDeductionsAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Capital à risque de la période imposable</td>
          <td class="biztax-td-code" width="50px">8050</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="AllowanceCorporateEquityCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AllowanceCorporateEquityCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table">
          <td colspan="4">Déduction pour capital à risque de l'exercice d'imposition, déductible en principe avant la diminution relative à des établissements stables ou immeubles situés dans un pays de l’EEE avec convention et avant la diminution relative à des établissements stables ou immeubles situés dans un pays hors EEE avec convention</td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">En cas de période imposable d’une durée différente de 12 mois ou pour la première période imposable, le taux doit être multiplié par une fraction dont le numérateur est le nombre de jours de la période imposable et le dénominateur 365.</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px" />
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déductible en principe avant les diminutions</td>
          <td class="biztax-td-code" width="50px">8051</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductibleAllowanceCorporateEquityCurrentAssessmentYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleAllowanceCorporateEquityCurrentAssessmentYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Diminution relative à des établissements stables ou immeubles situés dans un pays de l’EEE avec convention</td>
          <td class="biztax-td-code" width="50px">8061</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductionBranchImmovablePropertyInEEATreaty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionBranchImmovablePropertyInEEATreaty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Diminution relative à des établissements stables ou immeubles situés dans un pays hors EEE avec convention</td>
          <td class="biztax-td-code" width="50px">8062</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductionBranchImmovablePropertyOutsideEEATreaty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionBranchImmovablePropertyOutsideEEATreaty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Déduction pour capital à risque déductible en principe</td>
          <td class="biztax-td-code" width="50px">8070</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="DeductionsBranchImmovablePropertyInEEAOutsideEEATreatyAfterDeductions_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionsBranchImmovablePropertyInEEAOutsideEEATreatyAfterDeductions" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Déduction pour capital à risque de l'exercice d'imposition actuel, effectivement déduite</td>
          <td class="biztax-td-code" width="50px">1435</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CalculationCarryOverExemptionsAllowanceCorporateEquitySection_cnt" class="biztax-panel">
    <div id="CalculationCarryOverExemptionsAllowanceCorporateEquitySection" class="biztax-title">Calcul de la déduction du report des exonérations pour capital à risque</div>
    <div id="CalculationCarryOverExemptionsAllowanceCorporateEquitySection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Exonérations pour capital à risque constituées antérieurement et au plus tard au cours de l'exercice d'imposition 2012 non déduites au cours des exercices d'imposition antérieurs</td>
          <td class="biztax-td-code" width="50px">1711</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Exonérations pour capital à risque constituées antérieurement et au plus tard au cours de l'exercice d'imposition 2012 non déduites au cours des exercices d’imposition antérieurs, effectivement déduites au cours de l'exercice d'imposition actuel</td>
          <td class="biztax-td-code" width="50px">1438</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="true" data-xbrl-id="DeductionExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Exonérations pour capital à risque constituées antérieurement et au plus tard au cours de l'exercice d'imposition 2012 non déduites au cours des exercices d’imposition antérieurs, et non déduites au cours de l'exercice d'imposition actuel en raison de la limitation à 60 %</td>
          <td class="biztax-td-code" width="50px">8081</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NotDeductedExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012LimitRate6000_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NotDeductedExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012LimitRate6000" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Montant perdu définitivement au cours de l'exercice d'imposition actuel d’une partie des exonérations pour capital à risque constituées antérieurement et au plus tard au cours de l'exercice d'imposition 2012 non déduites au cours des exercices d’imposition antérieurs, après les 7 périodes imposables</td>
          <td class="biztax-td-code" width="50px">8082</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NotDeductedPermanentlyLostExceedsSevenYearsExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NotDeductedPermanentlyLostExceedsSevenYearsExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Solde du report des exonérations pour capital à risque à déduire lors d'exercices d'imposition ultérieurs</td>
          <td class="biztax-td-code" width="50px">1712</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="CarryOverExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="DetailMovementEquityAfterDeductionsAllowanceCorporateEquitySection_cnt" class="biztax-panel">
    <div id="DetailMovementEquityAfterDeductionsAllowanceCorporateEquitySection" class="biztax-title">Explication des variations en cours de période imposable des capitaux propres et des éléments à déduire</div>
    <div id="DetailMovementEquityAfterDeductionsAllowanceCorporateEquitySection_children" class="biztax-panel-children">
      <div id="ApplicableDurationMovementEquityAllowanceCorporateEquity_cnt" class="biztax-panel">
        <div id="ApplicableDurationMovementEquityAllowanceCorporateEquity" class="biztax-title">Chaque mouvement doit être multiplié par le nombre de mois restant à courir jusqu’à la fin de la période imposable divisé par le nombre de mois de la période imposable, en considérant que la variation a lieu le premier jour du mois civil qui suit celui de sa survenance. Si la période imposable ne contient pas un nombre de mois entier, la fraction précitée (numérateur et dénominateur) doit comprendre des nombres à 3 décimales après la virgule.</div>
        <div id="ApplicableDurationMovementEquityAllowanceCorporateEquity_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="ApplicableDurationMovementEquityAllowanceCorporateEquity" data-xbrl-cg-ids="ApplicableDurationMovementEquityAllowanceCorporateEquity" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-context-header" width="100px">Description</th>
                  <th class="biztax-th-context-header" width="100px">Date</th>
                  <th class="biztax-th-field-header" width="100px">Calcul de la variation en moyenne pondérée</th>
                  <th class="biztax-th-field-header" width="100px">Variations en cours de période imposable des capitaux propres et des éléments à déduire</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DescriptionTypedDimension" data-xbrl-datatype="DescriptionTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DateTypedDimension" data-xbrl-datatype="date" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CalculationWeightedAverageMovementEquityAfterDeductionsAllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CalculationWeightedAverageMovementEquityAfterDeductionsAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonEmptyNormalizedStringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="MovementEquityAfterDeductionsAllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementEquityAfterDeductionsAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
    </div>
  </div>
</div>