<?xml version="1.0" encoding="utf-8"?>
<div id="275F_cnt">
  <h1>275F - Aangifte van gedane betalingen naar staten die niet effectief en substantieel de OESO-standaard op het gebied van uitwisseling van inlichtingen toepassen of naar staten zonder of met een lage belasting</h1>
  <div id="PaymentsCertainStatesForm_cnt" class="biztax-panel">
    <div id="PaymentsCertainStatesForm" class="biztax-title">Aangifte van gedane betalingen naar staten die niet effectief en substantieel de OESO-standaard op het gebied van uitwisseling van inlichtingen toepassen of naar staten zonder of met een lage belasting</div>
    <div id="PaymentsCertainStatesForm_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="PaymentsCertainStatesForm" data-xbrl-cg-ids="PaymentsCertainStatesForm" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:NatureTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px">Aard</th>
              <th class="biztax-th-context-header" width="100px">Datum</th>
              <th class="biztax-th-field-header" width="100px">Staat</th>
              <th class="biztax-th-field-header" width="100px">Verkrijger van de betaling</th>
              <th class="biztax-th-field-header" width="100px">Betaling uitgedrukt in EUR</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NatureTypedDimension" data-xbrl-datatype="NatureTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DateTypedDimension" data-xbrl-datatype="date" data-xbrl-type="input" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="StateName_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="StateName" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:NatureTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonEmptyNormalizedStringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BeneficiaryPaymentCertainState_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BeneficiaryPaymentCertainState" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:NatureTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonEmptyNormalizedStringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PaymentCertainState_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PaymentCertainState" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:NatureTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
</div>