<?xml version="1.0" encoding="utf-8"?>
<div id="275U_cnt">
  <h1>275U - Déduction pour investissement</h1>
  <div id="InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentSection_cnt" class="biztax-panel">
    <div id="InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentSection" class="biztax-title">Déduction pour investissement pour les sociétés qui n'optent pas pour le crédit d’impôt pour recherche et développement</div>
    <div id="InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentSection_children" class="biztax-panel-children">
      <div id="InvestmentDeductionOneGoTitle_cnt" class="biztax-panel">
        <div id="InvestmentDeductionOneGoTitle" class="biztax-title">Déduction pour investissement en une fois</div>
        <div id="InvestmentDeductionOneGoTitle_children" class="biztax-panel-children">
          <div id="InvestmentDeductionOneGoNewFixedAssetsAllCompaniesTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoNewFixedAssetsAllCompaniesTitle" class="biztax-title">Investissements en immobilisations neuves par toutes les sociétés</div>
            <div id="InvestmentDeductionOneGoNewFixedAssetsAllCompaniesTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Brevets</th>
                  <th class="biztax-th-grid-header" width="100px">Recherche et développement</th>
                  <th class="biztax-th-grid-header" width="100px">Investissements économiseurs d’énergie</th>
                  <th class="biztax-th-grid-header" width="100px">Systèmes d’extraction ou d’épuration d’air dans des établissements Horeca</th>
                  <th class="biztax-th-grid-header" width="100px">Incitation à la réutilisation de récipients</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Valeur d’investissement ou de revient</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PatentsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PatentsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PatentsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:EnergySavingsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">En une fois</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PatentsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PatentsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PatentsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:EnergySavingsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div id="InvestmentDeductionOneGoSMEsTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoSMEsTitle" class="biztax-title">Investissements par certains types de sociétés</div>
            <div id="InvestmentDeductionOneGoSMEsTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Sécurisation</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Valeur d’investissement ou de revient</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SecurityDevicesMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">En une fois</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SecurityDevicesMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div id="InvestmentDeductionOneGoInvestmentsSeaVesselsShippingCompaniesTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoInvestmentsSeaVesselsShippingCompaniesTitle" class="biztax-title">Investissements en navires par des sociétés qui recueillent exclusivement des bénéfices provenant de la navigation maritime</div>
            <div id="InvestmentDeductionOneGoInvestmentsSeaVesselsShippingCompaniesTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Navires neufs ou navires de seconde main qui entrent pour la première fois en la possession d’un contribuable belge</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Valeur d’investissement ou de revient</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SeaVesselsNonBelgianOriginMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">En une fois</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SeaVesselsNonBelgianOriginMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div id="InvestmentDeductionOneGoNewFixedAssetsSMEsTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoNewFixedAssetsSMEsTitle" class="biztax-title">Investissements en immobilisations neuves par des petites sociétés</div>
            <div id="InvestmentDeductionOneGoNewFixedAssetsSMEsTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Immobilisations neuves directement liées à l’activité économique réellement exercée</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Valeur d’investissement ou de revient</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:NewFixedAssetsActualEconomicActivityMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">En une fois</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:NewFixedAssetsActualEconomicActivityMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div id="InvestmentDeductionSpreadTitle_cnt" class="biztax-panel">
        <div id="InvestmentDeductionSpreadTitle" class="biztax-title">Déduction pour investissement étalée</div>
        <div id="InvestmentDeductionSpreadTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-grid-header" width="100px">Recherche et développement</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Valeur d'investissement ou de revient, amortissable</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValueSpread_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValueSpread" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Amortissements admissibles</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EligibleDepreciations_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EligibleDepreciations" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Etalée</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveSpread_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveSpread" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Déduction pour investissement en une fois et déduction pour investissement étalée</td>
          <td class="biztax-td-code" width="50px">8310</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentDeductionOneGoSpreadCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentDeductionOneGoSpreadCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Déductions étalées en raison d’investissements des périodes imposables précédentes</td>
          <td class="biztax-td-code" width="50px">8311</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentDeductionSpreadPreviousTaxPeriods_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentDeductionSpreadPreviousTaxPeriods" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="2">Cumul des déductions pour investissement antérieures qui n’ont pas encore été déduites</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="PreviousCarryOverInvestmentDeduction_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousCarryOverInvestmentDeduction" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déductions pour investissement antérieures qui n’ont pas encore été déduites concernant des investissements en navires neufs ou en navires de seconde main qui entrent pour la première fois en la possession d’un contribuable belge</td>
          <td class="biztax-td-code" width="50px">8321</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PreviousCarryOverInvestmentDeductionSeaVessels_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousCarryOverInvestmentDeductionSeaVessels" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déductions pour investissement antérieures qui n'ont pas encore été déduites concernant des investissements en immobilisations neuves faits lors de la précédente période imposable par des petites sociétés et directement liés à l’activité économique réellement exercée</td>
          <td class="biztax-td-code" width="50px">8324</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PreviousCarryOverNewFixedAssetsActualEconomicActivitySME_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousCarryOverNewFixedAssetsActualEconomicActivitySME" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déductions pour investissement antérieures qui n'ont pas encore été déduites concernant d'autres investissements</td>
          <td class="biztax-td-code" width="50px">8322</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="OtherPreviousCarryOverInvestmentDeduction_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="OtherPreviousCarryOverInvestmentDeduction" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Déduction pour investissement déductible en principe</td>
          <td class="biztax-td-code" width="50px">8340</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="BasicTaxableInvestmentDeduction_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BasicTaxableInvestmentDeduction" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Déduction pour investissement déductible pour la période imposable</td>
          <td class="biztax-td-code" width="50px">1437.1</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductibleAllowanceInvestmentDeductionIncompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleAllowanceInvestmentDeductionIncompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="2">A reporter sur les périodes imposables ultérieures</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="CarryOverInvestmentDeduction_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverInvestmentDeduction" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déduction pour investissement à reporter concernant des investissements en navires neufs ou en navires de seconde main qui entrent pour la première fois en la possession d'un contribuable belge</td>
          <td class="biztax-td-code" width="50px">8361</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CarryOverInvestmentDeductionSeaVessels_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverInvestmentDeductionSeaVessels" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déduction pour investissement à reporter concernant des investissements en immobilisations neuves faits lors de la présente période imposable par des petites sociétés et directement liés à l’activité économique réellement exercée</td>
          <td class="biztax-td-code" width="50px">8363</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CarryOverNewFixedAssetsActualEconomicActivity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverNewFixedAssetsActualEconomicActivity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déduction pour investissement à reporter concernant d’autres investissements</td>
          <td class="biztax-td-code" width="50px">8362</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="OtherCarryOverInvestmentDeduction_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="OtherCarryOverInvestmentDeduction" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="InvestmentDeductionCompatibleTaxCreditResearchDevelopmentSection_cnt" class="biztax-panel">
    <div id="InvestmentDeductionCompatibleTaxCreditResearchDevelopmentSection" class="biztax-title">Déduction pour investissement pour les sociétés qui optent pour le crédit d’impôt pour recherche et développement</div>
    <div id="InvestmentDeductionCompatibleTaxCreditResearchDevelopmentSection_children" class="biztax-panel-children">
      <div id="InvestmentDeductionOneGoCompatibleTaxCreditResearchDevelopmentTitle_cnt" class="biztax-panel">
        <div id="InvestmentDeductionOneGoCompatibleTaxCreditResearchDevelopmentTitle" class="biztax-title">Déduction pour investissement en une fois</div>
        <div id="InvestmentDeductionOneGoCompatibleTaxCreditResearchDevelopmentTitle_children" class="biztax-panel-children">
          <div id="InvestmentDeductionOneGoNewFixedAssetsAllCompaniesCompatibleTaxCreditResearchDevelopmentTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoNewFixedAssetsAllCompaniesCompatibleTaxCreditResearchDevelopmentTitle" class="biztax-title">Investissements en immobilisations neuves par toutes les sociétés</div>
            <div id="InvestmentDeductionOneGoNewFixedAssetsAllCompaniesCompatibleTaxCreditResearchDevelopmentTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Investissements économiseurs d’énergie</th>
                  <th class="biztax-th-grid-header" width="100px">Systèmes d’extraction ou d’épuration d’air dans des établissements Horeca</th>
                  <th class="biztax-th-grid-header" width="100px">Incitation à la réutilisation de récipients</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Valeur d’investissement ou de revient</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:EnergySavingsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">En une fois</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:EnergySavingsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div id="InvestmentDeductionOneGoSMEsCompatibleTaxCreditResearchDevelopmentTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoSMEsCompatibleTaxCreditResearchDevelopmentTitle" class="biztax-title">Investissements par certains types de sociétés</div>
            <div id="InvestmentDeductionOneGoSMEsCompatibleTaxCreditResearchDevelopmentTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Sécurisation</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Valeur d’investissement ou de revient</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SecurityDevicesMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">En une fois</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SecurityDevicesMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div id="InvestmentDeductionOneGoInvestmentsSeaVesselsShippingCompaniesCompatibleTaxCreditResearchDevelopmentTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoInvestmentsSeaVesselsShippingCompaniesCompatibleTaxCreditResearchDevelopmentTitle" class="biztax-title">Investissements en navires par des sociétés qui recueillent exclusivement des bénéfices provenant de la navigation maritime</div>
            <div id="InvestmentDeductionOneGoInvestmentsSeaVesselsShippingCompaniesCompatibleTaxCreditResearchDevelopmentTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Navires neufs ou navires de seconde main qui entrent pour la première fois en la possession d’un contribuable belge</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Valeur d’investissement ou de revient</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SeaVesselsNonBelgianOriginMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">En une fois</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SeaVesselsNonBelgianOriginMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div id="InvestmentDeductionOneGoNewFixedAssetsSMEsCompatibleTaxCreditResearchDevelopmentTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoNewFixedAssetsSMEsCompatibleTaxCreditResearchDevelopmentTitle" class="biztax-title">Investissements en immobilisations neuves par des petites sociétés</div>
            <div id="InvestmentDeductionOneGoNewFixedAssetsSMEsCompatibleTaxCreditResearchDevelopmentTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Immobilisations neuves directement liées à l’activité économique réellement exercée</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Valeur d’investissement ou de revient</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:NewFixedAssetsActualEconomicActivityMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">En une fois</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:NewFixedAssetsActualEconomicActivityMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Déduction pour investissement en une fois</td>
          <td class="biztax-td-code" width="50px">8410</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentDeductionOneGoCurrentTaxPeriodCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentDeductionOneGoCurrentTaxPeriodCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Déductions étalées des périodes imposables précédentes pour des investissements autres que les investissements en recherche et développement</td>
          <td class="biztax-td-code" width="50px">8411</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PreviousCarryOverSpreadInvestmentDeductionNoResearchDevelopmentCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousCarryOverSpreadInvestmentDeductionNoResearchDevelopmentCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="2">Cumul des déductions pour investissement antérieures qui n’ont pas encore été déduites</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="PreviousCarryOverInvestmentDeductionCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousCarryOverInvestmentDeductionCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déductions pour investissement antérieures qui n’ont pas encore été déduites concernant des investissements en navires neufs ou en navires de seconde main qui entrent pour la première fois en la possession d’un contribuable belge</td>
          <td class="biztax-td-code" width="50px">8421</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PreviousCarryOverInvestmentDeductionSeaVesselsCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousCarryOverInvestmentDeductionSeaVesselsCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déductions pour investissement antérieures qui n'ont pas encore été déduites concernant des investissements en immobilisations neuves faits lors de la précédente période imposable par des petites sociétés et directement liés à l’activité économique réellement exercée</td>
          <td class="biztax-td-code" width="50px">8424</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PreviousCarryOverNewFixedAssetsActualEconomicActivitySMECompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousCarryOverNewFixedAssetsActualEconomicActivitySMECompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déductions pour investissement antérieures qui n'ont pas encore été déduites concernant d'autres investissements</td>
          <td class="biztax-td-code" width="50px">8422</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="OtherPreviousCarryOverInvestmentDeductionCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="OtherPreviousCarryOverInvestmentDeductionCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déductions pour investissement antérieures qui n'ont pas encore été déduites pour les trois exercices d'imposition précédents concernant la déduction pour investissement en une fois en matière de brevets et les déductions pour investissement en une fois et étalée en matière d'investissements pour la recherche et le développement</td>
          <td class="biztax-td-code" width="50px">8423</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PreviousThreeTaxPeriodsCarryOverInvestmentDeductionParticularDeductionsCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousThreeTaxPeriodsCarryOverInvestmentDeductionParticularDeductionsCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Déduction pour investissement déductible en principe</td>
          <td class="biztax-td-code" width="50px">8440</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="BasicTaxableInvestmentDeductionCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BasicTaxableInvestmentDeductionCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Déduction pour investissement déductible pour la période imposable</td>
          <td class="biztax-td-code" width="50px">1437.2</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductibleAllowanceInvestmentDeductionCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleAllowanceInvestmentDeductionCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="2">A reporter sur les périodes imposables ultérieures</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="CarryOverInvestmentDeductionCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverInvestmentDeductionCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déduction pour investissement à reporter concernant des investissements en navires neufs ou en navires de seconde main qui entrent pour la première fois en la possession d'un contribuable belge</td>
          <td class="biztax-td-code" width="50px">8461</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CarryOverInvestmentDeductionSeaVesselsCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverInvestmentDeductionSeaVesselsCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déduction pour investissement à reporter concernant des investissements en immobilisations neuves faits lors de la présente période imposable par des petites sociétés et directement liés à l’activité économique réellement exercée</td>
          <td class="biztax-td-code" width="50px">8463</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CarryOverNewFixedAssetsActualEconomicActivityCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverNewFixedAssetsActualEconomicActivityCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déduction pour investissement à reporter concernant d'autres investissements</td>
          <td class="biztax-td-code" width="50px">8462</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CarryOverInvestmentDeductionParticularDeductionsCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverInvestmentDeductionParticularDeductionsCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>