<?xml version="1.0" encoding="utf-8"?>
<div id="204.3_cnt">
  <h1>204.3 - Write Downs Debt Claims Provisions Expenses Risks Form</h1>
  <div id="WriteDownsDebtClaimsSection_cnt" class="biztax-panel">
    <div id="WriteDownsDebtClaimsSection" class="biztax-title">Write Downs Debt Claims Section</div>
    <div id="WriteDownsDebtClaimsSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="WriteDownsDebtClaimsSection" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th rowspan="2" class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
              <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Identity Trade Debtor</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Address Trade Debtor</th>
              <th colspan="2" class="biztax-th-field-header" width="100px">Debt Claim</th>
              <th colspan="2" class="biztax-th-field-header" width="100px">Exempt Write Down Debt Claim</th>
              <th colspan="3" class="biztax-th-panel">Decrease Exempt Write Down Debt Claim Title</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Increase Exempt Write Down Debt Claim</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Justification Exempt Write Down</th>
            </tr>
            <tr>
              <th class="biztax-th-period" width="100px">EN-Bij het begin van het belastbare tijdperk</th>
              <th class="biztax-th-period" width="100px">EN-Bij het einde van het belastbare tijdperk</th>
              <th class="biztax-th-period" width="100px">EN-Bij het begin van het belastbare tijdperk</th>
              <th class="biztax-th-period" width="100px">EN-Bij het einde van het belastbare tijdperk</th>
              <th class="biztax-th-field-header" width="100px">Decrease Exempt Write Down Debt Claim Final Write Down Current Tax Period</th>
              <th class="biztax-th-field-header" width="100px">Decrease Exempt Write Down Debt Claim Full Partial Collection Current Tax Period</th>
              <th class="biztax-th-field-header" width="100px">Decrease Exempt Write Down Debt Claim New Estimation Probable Loss</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ec:ExemptionCategoryDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-ec:UnalteredBalanceWriteDownDebtClaimMember"></div>
                    <div data-value="d-ec:RemainingBalanceAfterIncreaseWriteDownDebtClaimMember"></div>
                    <div data-value="d-ec:RemainingBalanceAfterDecreaseWriteDownDebtClaimMember"></div>
                    <div data-value="d-ec:NewWriteDownDebtClaimMember"></div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-datatype="WritedownDebtClaimTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IdentityTradeDebtor_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IdentityTradeDebtor" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AddressTradeDebtor_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AddressTradeDebtor" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DebtClaim_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="DebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DebtClaim_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="DebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptWriteDownDebtClaim_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ExemptWriteDownDebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptWriteDownDebtClaim_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="ExemptWriteDownDebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptWriteDownDebtClaimFinalWriteDownCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptWriteDownDebtClaimFinalWriteDownCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptWriteDownDebtClaimFullPartialCollectionCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptWriteDownDebtClaimFullPartialCollectionCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptWriteDownDebtClaimNewEstimationProbableLoss_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptWriteDownDebtClaimNewEstimationProbableLoss" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreaseExemptWriteDownDebtClaim_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreaseExemptWriteDownDebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="JustificationExemptWriteDown_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="JustificationExemptWriteDown" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
  <div id="ProvisionsRisksExpensesSection_cnt" class="biztax-panel">
    <div id="ProvisionsRisksExpensesSection" class="biztax-title">Provisions Risks Expenses Section</div>
    <div id="ProvisionsRisksExpensesSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="ProvisionsRisksExpensesSection" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th rowspan="2" class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
              <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
              <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Probable Cost</th>
              <th colspan="2" class="biztax-th-field-header" width="100px">Exempt Provision Risks Expenses</th>
              <th colspan="2" class="biztax-th-panel">Decrease Exempt Provisions Risks Expenses Title</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Increase Exempt Provision Risks Expenses</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Justification Exempt Provision</th>
            </tr>
            <tr>
              <th class="biztax-th-period" width="100px">EN-Bij het begin van het belastbare tijdperk</th>
              <th class="biztax-th-period" width="100px">EN-Bij het einde van het belastbare tijdperk</th>
              <th class="biztax-th-field-header" width="100px">Decrease Exempt Provision Risks Expenses Borne Expenses Current Tax Period</th>
              <th class="biztax-th-field-header" width="100px">Decrease Exempt Provision Risks Expenses New Estimation Probable Expenses</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ec:ExemptionCategoryDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-ec:UnalteredBalanceProvisionRisksExpensesMember"></div>
                    <div data-value="d-ec:RemainingBalanceAfterDecreaseProvisionRisksExpensesMember"></div>
                    <div data-value="d-ec:RemainingBalanceAfterIncreaseProvisionRisksExpensesMember"></div>
                    <div data-value="d-ec:NewProvisionRisksExpensesMember"></div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-expt:ExpenseTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-expt:ExpensesCompensationCoveredCurrentTaxPeriodMember"></div>
                    <div data-value="d-expt:ExpensesOverhaulImportantRepairsMaximum10YearsMember"></div>
                    <div data-value="d-expt:ProfessionalExpensesCurrentTaxPeriodMember"></div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-datatype="ProvisionRiskExpenseTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ProbableCost_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="ProbableCost" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptProvisionRisksExpenses_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ExemptProvisionRisksExpenses" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptProvisionRisksExpenses_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="ExemptProvisionRisksExpenses" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptProvisionRisksExpensesBorneExpensesCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptProvisionRisksExpensesBorneExpensesCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptProvisionRisksExpensesNewEstimationProbableExpenses_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptProvisionRisksExpensesNewEstimationProbableExpenses" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreaseExemptProvisionRisksExpenses_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreaseExemptProvisionRisksExpenses" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="JustificationExemptProvision_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="JustificationExemptProvision" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
</div>