<?xml version="1.0" encoding="utf-8"?>
<div id="276T_cnt">
  <h1>276T - Vrijstelling bijkomend personeel</h1>
  <div id="CalculationPerformedWorkingDaysSection_cnt" class="biztax-panel">
    <div id="CalculationPerformedWorkingDaysSection" class="biztax-title">Gepresteerde arbeidsdagen</div>
    <div id="CalculationPerformedWorkingDaysSection_children" class="biztax-panel-children">
      <div id="CalculationPerformedWorkingDaysCalendarYear-1Title_cnt" class="biztax-panel">
        <div id="CalculationPerformedWorkingDaysCalendarYear-1Title" class="biztax-title">Gepresteerde dagen kalenderjaar-1</div>
        <div id="CalculationPerformedWorkingDaysCalendarYear-1Title_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="CalculationPerformedWorkingDaysCalendarYear-1Title" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th rowspan="2" class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Naam</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Nationaal nummer</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Periode</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Tijdseenheid</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Arbeidsstatuut</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Arbeidsregeling</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Arbeidsregeling, aantal dagen</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Arbeidsregeling, totaal aantal dagen</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Brutoloon</th>
                  <th colspan="3" class="biztax-th-panel">Arbeidsdagen, alle personeelsleden</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Bezoldigde uren, per kwartaal</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Gemiddeld dagloon</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Gemiddeld uurloon</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Arbeidsdagen, personeelsleden met een laag loon</th>
                </tr>
                <tr>
                  <th class="biztax-th-field-header" width="100px">Bezoldigde dagen</th>
                  <th class="biztax-th-field-header" width="100px">Vakantiedagen arbeiders</th>
                  <th class="biztax-th-field-header" width="100px">Correcties</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-per:CalendarYear-1Member">Kalenderjaar-1</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-tu:TimeUnitDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-tu:Quarter1Member">Kwartaal 1</div>
                        <div data-value="d-tu:Quarter2Member">Kwartaal 2</div>
                        <div data-value="d-tu:Quarter3Member">Kwartaal 3</div>
                        <div data-value="d-tu:Quarter4Member">Kwartaal 4</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empstat:EmploymentStatusDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empstat:EmployeeMember">Bediende</div>
                        <div data-value="d-empstat:WorkerMember">Arbeider</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empreg:EmploymentRegimeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empreg:FullTimeMember">Voltijds</div>
                        <div data-value="d-empreg:PartTimeMember">Deeltijds</div>
                      </div>
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LabourRegulationNumberDays_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LabourRegulationNumberDays" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="positiveIntegerMin1Max6ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LabourRegulationNumberDaysYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LabourRegulationNumberDaysYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeInteger6ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="GrossIncome_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="GrossIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="WorkingDaysPaid_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="WorkingDaysPaid" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="HolidaysWorkers_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="HolidaysWorkers" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CorrectionsWorkingDays_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectionsWorkingDays" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PaidHoursQuarter_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PaidHoursQuarter" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AverageDayPay_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AverageDayPay" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AverageHourPay_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AverageHourPay" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="WorkingDaysLowWages_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="WorkingDaysLowWages" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
      <div id="CalculationPerformedWorkingDaysCalendarYear-2Title_cnt" class="biztax-panel">
        <div id="CalculationPerformedWorkingDaysCalendarYear-2Title" class="biztax-title">Gepresteerde dagen kalenderjaar-2</div>
        <div id="CalculationPerformedWorkingDaysCalendarYear-2Title_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="CalculationPerformedWorkingDaysCalendarYear-2Title" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th rowspan="2" class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Naam</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Nationaal nummer</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Periode</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Tijdseenheid</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Arbeidsstatuut</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Arbeidsregeling</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Arbeidsregeling, aantal dagen</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Arbeidsregeling, totaal aantal dagen</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Brutoloon</th>
                  <th colspan="3" class="biztax-th-panel">Arbeidsdagen, alle personeelsleden</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Bezoldigde uren, per kwartaal</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Gemiddeld dagloon</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Gemiddeld uurloon</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Arbeidsdagen, personeelsleden met een laag loon</th>
                </tr>
                <tr>
                  <th class="biztax-th-field-header" width="100px">Bezoldigde dagen</th>
                  <th class="biztax-th-field-header" width="100px">Vakantiedagen arbeiders</th>
                  <th class="biztax-th-field-header" width="100px">Correcties</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-per:CalendarYear-2Member">Kalenderjaar-2</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-tu:TimeUnitDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-tu:Quarter1Member">Kwartaal 1</div>
                        <div data-value="d-tu:Quarter2Member">Kwartaal 2</div>
                        <div data-value="d-tu:Quarter3Member">Kwartaal 3</div>
                        <div data-value="d-tu:Quarter4Member">Kwartaal 4</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empstat:EmploymentStatusDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empstat:EmployeeMember">Bediende</div>
                        <div data-value="d-empstat:WorkerMember">Arbeider</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empreg:EmploymentRegimeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empreg:FullTimeMember">Voltijds</div>
                        <div data-value="d-empreg:PartTimeMember">Deeltijds</div>
                      </div>
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LabourRegulationNumberDays_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LabourRegulationNumberDays" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="positiveIntegerMin1Max6ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LabourRegulationNumberDaysYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LabourRegulationNumberDaysYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeInteger6ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="GrossIncome_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="GrossIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="WorkingDaysPaid_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="WorkingDaysPaid" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="HolidaysWorkers_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="HolidaysWorkers" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CorrectionsWorkingDays_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectionsWorkingDays" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PaidHoursQuarter_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PaidHoursQuarter" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AverageDayPay_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AverageDayPay" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AverageHourPay_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AverageHourPay" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="WorkingDaysLowWages_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="WorkingDaysLowWages" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
    </div>
  </div>
  <div id="CalculationExemptionAdditionalPersonnelSection_cnt" class="biztax-panel">
    <div id="CalculationExemptionAdditionalPersonnelSection" class="biztax-title">Vrijstelling voor bijkomend personeel</div>
    <div id="CalculationExemptionAdditionalPersonnelSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Beweging alle personeelsleden, kalenderjaar-1</td>
          <td class="biztax-td-code" width="50px">8601</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="MovementAllPersonnelCalendarYear-1_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementAllPersonnelCalendarYear-1" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="integer6ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Aangroei van de personeelsleden met een laag loon, kalenderjaar-1</td>
          <td class="biztax-td-code" width="50px">8602</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreasePersonnelLowWageCalendarYear-1_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreasePersonnelLowWageCalendarYear-1" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeInteger6ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Aantal personeelsleden waarvoor de vrijstelling kan bekomen worden</td>
          <td class="biztax-td-code" width="50px">8603</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EmployeesEligibleExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EmployeesEligibleExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Vrijstelling</td>
          <td class="biztax-td-code" width="50px">8604</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="ExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CalculationReversalPreviousExemptionAdditionalPersonnelSection_cnt" class="biztax-panel">
    <div id="CalculationReversalPreviousExemptionAdditionalPersonnelSection" class="biztax-title">Terug te nemen vrijstelling</div>
    <div id="CalculationReversalPreviousExemptionAdditionalPersonnelSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Beweging alle personeelsleden, kalenderjaar-1</td>
          <td class="biztax-td-code" width="50px">8601</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="MovementAllPersonnelCalendarYear-1_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementAllPersonnelCalendarYear-1" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="integer6ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">In principe terug te nemen vrijstelling</td>
          <td class="biztax-td-code" width="50px">8612</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BasicTaxableReversalPreviousExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BasicTaxableReversalPreviousExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Vrijstelling die voor het vorige aanslagjaar werd verleend</td>
          <td class="biztax-td-code" width="50px">8613</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptionAdditionalPersonnelPreviousAssessmentYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptionAdditionalPersonnelPreviousAssessmentYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Terug te nemen vrijstelling</td>
          <td class="biztax-td-code" width="50px">8614</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ReversalPreviousExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReversalPreviousExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CorrectionsWorkingDaysPersonnelDetailSection_cnt" class="biztax-panel">
    <div id="CorrectionsWorkingDaysPersonnelDetailSection" class="biztax-title">Correcties</div>
    <div id="CorrectionsWorkingDaysPersonnelDetailSection_children" class="biztax-panel-children">
      <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-1Title_cnt" class="biztax-panel">
        <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-1Title" class="biztax-title">Correcties kalenderjaar-1</div>
        <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-1Title_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-1Title" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-context-header" width="100px">Naam</th>
                  <th class="biztax-th-context-header" width="100px">Nationaal nummer</th>
                  <th class="biztax-th-context-header" width="100px">Periode</th>
                  <th class="biztax-th-context-header" width="100px">Tijdseenheid</th>
                  <th class="biztax-th-context-header" width="100px">Arbeidsstatuut</th>
                  <th class="biztax-th-context-header" width="100px">Arbeidsregeling</th>
                  <th class="biztax-th-field-header" width="100px">Equivalent van gepresteerde dagen met betrekking tot het bij deeltijdse arbeid ontstane verschil tussen de dagen die zijn vermeld in de kwartaal aangifte RSZ en de effectieve prestaties</th>
                  <th class="biztax-th-field-header" width="100px">Wettelijke feestdagen begrepen in de bezoldigde dagen van de arbeiders</th>
                  <th class="biztax-th-field-header" width="100px">Wettelijke feestdagen begrepen in de correcties op de bezoldigde dagen en de vakantiedagen van de arbeiders</th>
                  <th class="biztax-th-field-header" width="100px">Uitleg</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-per:CalendarYear-1Member">Kalenderjaar-1</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-tu:TimeUnitDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-tu:Quarter1Member">Kwartaal 1</div>
                        <div data-value="d-tu:Quarter2Member">Kwartaal 2</div>
                        <div data-value="d-tu:Quarter3Member">Kwartaal 3</div>
                        <div data-value="d-tu:Quarter4Member">Kwartaal 4</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empstat:EmploymentStatusDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empstat:EmployeeMember">Bediende</div>
                        <div data-value="d-empstat:WorkerMember">Arbeider</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empreg:EmploymentRegimeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empreg:FullTimeMember">Voltijds</div>
                        <div data-value="d-empreg:PartTimeMember">Deeltijds</div>
                      </div>
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EquivalentWholeDayWorkingDaysPartTimePersonnelPerformedAccordingNSSOQuarterlyDeclaration_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EquivalentWholeDayWorkingDaysPartTimePersonnelPerformedAccordingNSSOQuarterlyDeclaration" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankHolidaysIncludedDaysPaidWorkingDaysAllPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankHolidaysIncludedDaysPaidWorkingDaysAllPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankHolidaysIncludedCorrectionsWorkingDaysAllPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankHolidaysIncludedCorrectionsWorkingDaysAllPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CorrectionWorkingDaysPersonnelDetail_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectionWorkingDaysPersonnelDetail" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
      <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-2Title_cnt" class="biztax-panel">
        <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-2Title" class="biztax-title">Correcties kalenderjaar-2</div>
        <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-2Title_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-2Title" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-context-header" width="100px">Naam</th>
                  <th class="biztax-th-context-header" width="100px">Nationaal nummer</th>
                  <th class="biztax-th-context-header" width="100px">Periode</th>
                  <th class="biztax-th-context-header" width="100px">Tijdseenheid</th>
                  <th class="biztax-th-context-header" width="100px">Arbeidsstatuut</th>
                  <th class="biztax-th-context-header" width="100px">Arbeidsregeling</th>
                  <th class="biztax-th-field-header" width="100px">Equivalent van gepresteerde dagen met betrekking tot het bij deeltijdse arbeid ontstane verschil tussen de dagen die zijn vermeld in de kwartaal aangifte RSZ en de effectieve prestaties</th>
                  <th class="biztax-th-field-header" width="100px">Wettelijke feestdagen begrepen in de bezoldigde dagen van de arbeiders</th>
                  <th class="biztax-th-field-header" width="100px">Wettelijke feestdagen begrepen in de correcties op de bezoldigde dagen en de vakantiedagen van de arbeiders</th>
                  <th class="biztax-th-field-header" width="100px">Uitleg</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-per:CalendarYear-2Member">Kalenderjaar-2</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-tu:TimeUnitDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-tu:Quarter1Member">Kwartaal 1</div>
                        <div data-value="d-tu:Quarter2Member">Kwartaal 2</div>
                        <div data-value="d-tu:Quarter3Member">Kwartaal 3</div>
                        <div data-value="d-tu:Quarter4Member">Kwartaal 4</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empstat:EmploymentStatusDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empstat:EmployeeMember">Bediende</div>
                        <div data-value="d-empstat:WorkerMember">Arbeider</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empreg:EmploymentRegimeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empreg:FullTimeMember">Voltijds</div>
                        <div data-value="d-empreg:PartTimeMember">Deeltijds</div>
                      </div>
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EquivalentWholeDayWorkingDaysPartTimePersonnelPerformedAccordingNSSOQuarterlyDeclaration_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EquivalentWholeDayWorkingDaysPartTimePersonnelPerformedAccordingNSSOQuarterlyDeclaration" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankHolidaysIncludedDaysPaidWorkingDaysAllPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankHolidaysIncludedDaysPaidWorkingDaysAllPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankHolidaysIncludedCorrectionsWorkingDaysAllPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankHolidaysIncludedCorrectionsWorkingDaysAllPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CorrectionWorkingDaysPersonnelDetail_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectionWorkingDaysPersonnelDetail" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
    </div>
  </div>
</div>