<?xml version="1.0" encoding="utf-8"?>
<div id="275.2.B.2_cnt">
  <h1>275.2.B.2 - Documents et relevés divers</h1>
  <div id="StatutoryAccountsMandatoryLegalEntitiesTitle_cnt" class="biztax-panel">
    <div id="StatutoryAccountsMandatoryLegalEntitiesTitle" class="biztax-title">Les personnes morales qui établissent des comptes annuels</div>
    <div id="StatutoryAccountsMandatoryLegalEntitiesTitle_children" class="biztax-panel-children">
      <div id="BalanceSheetStatutorySeatStatutoryAccountsBelgianBranchLegalEntityTitle_cnt" class="biztax-panel">
        <div id="BalanceSheetStatutorySeatStatutoryAccountsBelgianBranchLegalEntityTitle" class="biztax-title">Bilan du siège social et les comptes annuels de l'établissement</div>
        <div id="BalanceSheetStatutorySeatStatutoryAccountsBelgianBranchLegalEntityTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">A joindre</td>
              <td class="biztax-td-period" width="100px" />
            </tr>
            <tr>
              <td colspan="2" class="biztax-td-name">Bilan du siège social et les comptes annuels de l'établissement</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BalanceSheetStatutorySeatStatutoryAccountsBelgianBranchLegalEntity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BalanceSheetStatutorySeatStatutoryAccountsBelgianBranchLegalEntity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="base64BinaryItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="LegalEntitiesExcludedReportStatutoryAccountsTitle_cnt" class="biztax-panel">
    <div id="LegalEntitiesExcludedReportStatutoryAccountsTitle" class="biztax-title">Autres personnes morales</div>
    <div id="LegalEntitiesExcludedReportStatutoryAccountsTitle_children" class="biztax-panel-children">
      <div id="AccountsAssessmentLiabilityTaxRegimeLegalEntityIncomeTaxTaxableIncomeTitle_cnt" class="biztax-panel">
        <div id="AccountsAssessmentLiabilityTaxRegimeLegalEntityIncomeTaxTaxableIncomeTitle" class="biztax-title">Comptes nécessaires à l'appréciation du régime d'imposition applicable et des revenus imposables</div>
        <div id="AccountsAssessmentLiabilityTaxRegimeLegalEntityIncomeTaxTaxableIncomeTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">A joindre</td>
              <td class="biztax-td-period" width="100px" />
            </tr>
            <tr>
              <td colspan="2" class="biztax-td-name">Comptes nécessaires à l'appréciation du régime d'imposition applicable et des revenus imposables</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AccountsAssessmentLiabilityTaxRegimeLegalEntityIncomeTaxTaxableIncome_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AccountsAssessmentLiabilityTaxRegimeLegalEntityIncomeTaxTaxableIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="base64BinaryItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="OtherDocumentsLegalEntityTitle_cnt" class="biztax-panel">
    <div id="OtherDocumentsLegalEntityTitle" class="biztax-title">Autres</div>
    <div id="OtherDocumentsLegalEntityTitle_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Annexe facultative</td>
          <td class="biztax-td-period" width="100px" />
        </tr>
        <tr>
          <td colspan="2" class="biztax-td-name">Autres</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="OtherDocumentsLegalEntity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="OtherDocumentsLegalEntity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="base64BinaryItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>