<?xml version="1.0" encoding="utf-8"?>
<div id="275.2.A.2_cnt">
  <h1>275.2.A.2 - Aangifte in de belasting van niet-inwoners - Rechtspersonen die geen onderneming exploiteren of zich niet met verrichtingen van winstgevende aard bezighouden</h1>
  <div id="ImmovablePropertyIncomeSection_cnt" class="biztax-panel">
    <div id="ImmovablePropertyIncomeSection" class="biztax-title">Onroerende inkomsten</div>
    <div id="ImmovablePropertyIncomeSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="3">Inkomsten uit verhuurde onroerende goederen</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="LetOutImmovablePropertyIncomeBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LetOutImmovablePropertyIncomeBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Brutobedrag van de huurprijs en de huurvoordelen</td>
          <td class="biztax-td-code" width="50px">RM100 N140</td>
          <td class="biztax-td-code" width="50px">5001 A1</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="GrossRentRentalBenefitsBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="GrossRentRentalBenefitsBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Aftrekbare kosten</td>
          <td class="biztax-td-code" width="50px">RM101 N141</td>
          <td class="biztax-td-code" width="50px">5002 A2</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductibleCostsRentRentalBenefitsBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleCostsRentRentalBenefitsBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Netto-inkomsten uit verhuurde onroerende goederen</td>
          <td class="biztax-td-code" width="50px">RM102 N142</td>
          <td class="biztax-td-code" width="50px">5003 A3</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="NetRentRentalBenefitsBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NetRentRentalBenefitsBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Geïndexeerd kadastraal inkomen</td>
          <td class="biztax-td-code" width="50px">RM103 N143</td>
          <td class="biztax-td-code" width="50px">5004 A4</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IndexedCadastralIncomeBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IndexedCadastralIncomeBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Bedragen verkregen bij vestiging of overdracht van een recht van erfpacht of van opstal of van gelijkaardige onroerende rechten</td>
          <td class="biztax-td-code" width="50px">RM105 N145</td>
          <td class="biztax-td-code" width="50px">5010 B</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncomeConstitutionTransferLongLeaseRightsBuildingRightsPlantingRightsSimilarLandRightsBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncomeConstitutionTransferLongLeaseRightsBuildingRightsPlantingRightsSimilarLandRightsBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Belastbare inkomsten</td>
          <td class="biztax-td-code" width="50px">RM106 N146</td>
          <td class="biztax-td-code" width="50px">5020 C</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="TaxableImmovablePropertyIncomeBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableImmovablePropertyIncomeBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="FinancialAdvantagesBenefitsAllKindSection_cnt" class="biztax-panel">
    <div id="FinancialAdvantagesBenefitsAllKindSection" class="biztax-title">Financiële voordelen of voordelen van alle aard</div>
    <div id="FinancialAdvantagesBenefitsAllKindSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Belastbaar bedrag</td>
          <td class="biztax-td-code" width="50px">135</td>
          <td class="biztax-td-code" width="50px">5310</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableFinancialAdvantagesBenefitsAllKind_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableFinancialAdvantagesBenefitsAllKind" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="PensionsCapitalsEmployerContributionsEmployerPremiumsSection_cnt" class="biztax-panel">
    <div id="PensionsCapitalsEmployerContributionsEmployerPremiumsSection" class="biztax-title">Pensioenen, kapitalen, werkgeversbijdragen en -premies</div>
    <div id="PensionsCapitalsEmployerContributionsEmployerPremiumsSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Belastbaar bedrag</td>
          <td class="biztax-td-code" width="50px">RM140 N147</td>
          <td class="biztax-td-code" width="50px">5320</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxablePensionsCapitalsEmployerContributionsEmployerPremiums_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxablePensionsCapitalsEmployerContributionsEmployerPremiums" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="NonDeductibleCarExpensesPartBenefitsAllKindSection_cnt" class="biztax-panel">
    <div id="NonDeductibleCarExpensesPartBenefitsAllKindSection" class="biztax-title">Autokosten ten belope van een gedeelte van het voordeel van alle aard</div>
    <div id="NonDeductibleCarExpensesPartBenefitsAllKindSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Belastbaar bedrag</td>
          <td class="biztax-td-code" width="50px">136</td>
          <td class="biztax-td-code" width="50px">5206</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NonDeductibleCarExpensesPartBenefitsAllKindLegalEntity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NonDeductibleCarExpensesPartBenefitsAllKindLegalEntity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="UnjustifiedExpensesFinancialAdvantagesBenefitsAllKindSection_cnt" class="biztax-panel">
    <div id="UnjustifiedExpensesFinancialAdvantagesBenefitsAllKindSection" class="biztax-title">Niet-verantwoorde kosten of voordelen van alle aard en financiële voordelen of voordelen van alle aard</div>
    <div id="UnjustifiedExpensesFinancialAdvantagesBenefitsAllKindSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Belastbaar bedrag</td>
          <td class="biztax-td-code" width="50px">RM141 N129</td>
          <td class="biztax-td-code" width="50px">5330</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableUnjustifiedExpensesFinancialAdvantagesBenefitsAllKind_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableUnjustifiedExpensesFinancialAdvantagesBenefitsAllKind" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="SeparateAssessmentAdditionalIndividualPensionProvisionsSection_cnt" class="biztax-panel">
    <div id="SeparateAssessmentAdditionalIndividualPensionProvisionsSection" class="biztax-title">Afzonderlijke aanslag op de voorzieningen gevormd in uitvoering van aanvullende individuele pensioentoezeggingen</div>
    <div id="SeparateAssessmentAdditionalIndividualPensionProvisionsSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Totaal bedrag van de voorzieningen bestaand op het eind van het laatste boekjaar met afsluitdatum vóór 1.1.2012</td>
          <td class="biztax-td-code" width="50px">212</td>
          <td class="biztax-td-code" width="50px">5533</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="SeparateAssessmentAdditionalIndividualPensionProvisionsOnEndTaxPeriodClosingDateBefore2012-01-01LegalEntity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="SeparateAssessmentAdditionalIndividualPensionProvisionsOnEndTaxPeriodClosingDateBefore2012-01-01LegalEntity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">De belastingplichtige wenst de afzonderlijke aanslag te spreiden over de aanslagjaren 2013, 2014 en 2015</td>
          <td class="biztax-td-code" width="50px">213</td>
          <td class="biztax-td-code" width="50px">5534</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="SeparateAssessmentAdditionalIndividualPensionProvisionsSpreadThreeAssessmentYears2013Until2015LegalEntity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="SeparateAssessmentAdditionalIndividualPensionProvisionsSpreadThreeAssessmentYears2013Until2015LegalEntity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="booleanItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CapitalGainsSection_cnt" class="biztax-panel">
    <div id="CapitalGainsSection" class="biztax-title">Meerwaarden</div>
    <div id="CapitalGainsSection_children" class="biztax-panel-children">
      <div id="CapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyTitle_cnt" class="biztax-panel">
        <div id="CapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyTitle" class="biztax-title">Meerwaarden op ongebouwde onroerende goederen of op sommige zakelijke rechten met betrekking tot zulke goederen</div>
        <div id="CapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-code" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-code" width="50px">Code </th>
              <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Nettoresultaat van de meerwaarden en verliezen met betrekking tot dergelijke tijdens het belastbare tijdperk vervreemde goederen of rechten</td>
              <td class="biztax-td-code" width="50px">
                <span>
                  <space />
                </span>
              </td>
              <td class="biztax-td-code" width="50px">5101 A/P B/N</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NetRealisedCapitalGainsLossesUnbuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NetRealisedCapitalGainsLossesUnbuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Saldo van de tijdens de vijf vorige belastbare tijdperken geleden en nog te compenseren verliezen op de vervreemding van dergelijke goederen of rechten, beperkt tot het positief nettoresultaat</td>
              <td class="biztax-td-code" width="50px">
                <span>
                  <space />
                </span>
              </td>
              <td class="biztax-td-code" width="50px">5103 C</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CompensableLossesUnbuiltImmovablePropertyRightsInRemImmovablePropertyFivePreviousTaxPeriods_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CompensableLossesUnbuiltImmovablePropertyRightsInRemImmovablePropertyFivePreviousTaxPeriods" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="3">Belastbare meerwaarden</td>
              <td>
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">Meerwaarden belastbaar tegen 33%</td>
              <td class="biztax-td-code" width="50px">130</td>
              <td class="biztax-td-code" width="50px">5111 D1</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyRate3300_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyRate3300" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">Meerwaarden belastbaar tegen 16,5%</td>
              <td class="biztax-td-code" width="50px">131</td>
              <td class="biztax-td-code" width="50px">5112 D2</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyRate1650_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyRate1650" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Belasting die door de ontvanger van de registratie is gevestigd</td>
              <td class="biztax-td-code" width="50px">132</td>
              <td class="biztax-td-code" width="50px">2113 E</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="RegistrationDutiesUnbuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RegistrationDutiesUnbuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="CapitalGainsBuiltImmovablePropertyRightsInRemImmovablePropertyTitle_cnt" class="biztax-panel">
        <div id="CapitalGainsBuiltImmovablePropertyRightsInRemImmovablePropertyTitle" class="biztax-title">Meerwaarden op gebouwde onroerende goederen of op sommige zakelijke rechten met betrekking tot zulke goederen</div>
        <div id="CapitalGainsBuiltImmovablePropertyRightsInRemImmovablePropertyTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-code" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-code" width="50px">Code </th>
              <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Nettoresultaat van de meerwaarden en verliezen met betrekking tot dergelijke tijdens het belastbare tijdperk vervreemde goederen of rechten</td>
              <td class="biztax-td-code" width="50px">
                <span>
                  <space />
                </span>
              </td>
              <td class="biztax-td-code" width="50px">5121 F/P G/N</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NetRealisedCapitalGainsLossesBuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NetRealisedCapitalGainsLossesBuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Saldo van de tijdens de vijf vorige belastbare tijdperken geleden en nog te compenseren verliezen op de vervreemding van dergelijke goederen of rechten, beperkt tot het positief nettoresultaat</td>
              <td class="biztax-td-code" width="50px">
                <span>
                  <space />
                </span>
              </td>
              <td class="biztax-td-code" width="50px">5123 H</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CompensableLossesBuiltImmovablePropertyRightsInRemImmovablePropertyFivePreviousTaxPeriods_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CompensableLossesBuiltImmovablePropertyRightsInRemImmovablePropertyFivePreviousTaxPeriods" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Belastbare meerwaarden</td>
              <td class="biztax-td-code" width="50px">RM132 N133</td>
              <td class="biztax-td-code" width="50px">5130 I</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="TaxableRealisedCapitalGainsBuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableRealisedCapitalGainsBuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Belasting die door de ontvanger van de registratie is gevestigd</td>
              <td class="biztax-td-code" width="50px">134</td>
              <td class="biztax-td-code" width="50px">2131 J</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="RegistrationDutiesBuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RegistrationDutiesBuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="DocumentsStatementsSection_cnt" class="biztax-panel">
    <div id="DocumentsStatementsSection" class="biztax-title">Diverse bescheiden en opgaven</div>
    <div id="DocumentsStatementsSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Voor de buitenlandse rechtspersonen die een jaarrekening opstellen, worden de balans opgesteld door de maatschappelijke zetel en de jaarrekening van de inrichting bij de aangifte gevoegd. Voor de andere rechtspersonen worden de rekeningen ter beoordeling van het toepasselijke belastingstelsel en van de belastbare inkomsten bij de aangifte gevoegd.</td>
          <td class="biztax-td-period" width="100px" />
        </tr>
      </table>
    </div>
  </div>
</div>