<?xml version="1.0" encoding="utf-8"?>
<div id="276P_cnt">
  <h1>276P - Exemption Capital Gains River Vessels Commercial Trade Form</h1>
  <div id="CapitalGainsRiverVesselSection_cnt" class="biztax-panel">
    <div id="CapitalGainsRiverVesselSection" class="biztax-title">Capital Gains River Vessel Section</div>
    <div id="CapitalGainsRiverVesselSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="CapitalGainsRiverVesselSection" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-field-header" width="100px">Description</th>
              <th class="biztax-th-field-header" width="100px">Date Investment</th>
              <th class="biztax-th-field-header" width="100px">Date Realisation</th>
              <th class="biztax-th-field-header" width="100px">Date Compensation Receipt</th>
              <th class="biztax-th-field-header" width="100px">Realised Selling Value</th>
              <th class="biztax-th-field-header" width="100px">Received Compensation</th>
              <th class="biztax-th-field-header" width="100px">Cost Realisation</th>
              <th class="biztax-th-field-header" width="100px">Acquisition Investment Value</th>
              <th class="biztax-th-field-header" width="100px">Tax Accepted Depreciations Write Downs Investment</th>
              <th class="biztax-th-field-header" width="100px">Fiscal Net Worth</th>
              <th class="biztax-th-field-header" width="100px">Realised Capital Gain</th>
              <th class="biztax-th-field-header" width="100px">Voluntary Realised Capital Gain</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:CapitalGainTypedDimension" data-xbrl-datatype="CapitalGainTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-asst:AssetTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-asst:RiverVesselMember"></div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Description_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Description" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateInvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateInvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRealisation_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRealisation" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateCompensationReceipt_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateCompensationReceipt" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="RealisedSellingValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RealisedSellingValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ReceivedCompensation_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReceivedCompensation" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CostRealisation_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CostRealisation" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxAcceptedDepreciationsWriteDownsInvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxAcceptedDepreciationsWriteDownsInvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="FiscalNetWorth_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FiscalNetWorth" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="RealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="VoluntaryRealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="VoluntaryRealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="booleanItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
  <div id="ReinvestmentsEcologicalRiverVesselCommercialTradeSection_cnt" class="biztax-panel">
    <div id="ReinvestmentsEcologicalRiverVesselCommercialTradeSection" class="biztax-title">Reinvestments Ecological River Vessel Commercial Trade Section</div>
    <div id="ReinvestmentsEcologicalRiverVesselCommercialTradeSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="ReinvestmentsEcologicalRiverVesselCommercialTradeSection" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-field-header" width="100px">Realised Capital Gain</th>
              <th class="biztax-th-field-header" width="100px">Description Reinvestment</th>
              <th class="biztax-th-field-header" width="100px">Date Reinvestment</th>
              <th class="biztax-th-field-header" width="100px">Reinvestment Value</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:CapitalGainTypedDimension" data-xbrl-datatype="CapitalGainTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:ReinvestmentTypedDimension" data-xbrl-datatype="ReinvestmentTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-asst:AssetTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-asst:RiverVesselMember"></div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="RealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DescriptionReinvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DescriptionReinvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateReinvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateReinvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ReinvestmentValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReinvestmentValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
</div>