<?xml version="1.0" encoding="utf-8"?>
<div id="276T_cnt">
  <h1>276T - Exemption Additional Personnel Form</h1>
  <div id="CalculationPerformedWorkingDaysSection_cnt" class="biztax-panel">
    <div id="CalculationPerformedWorkingDaysSection" class="biztax-title">Calculation Performed Working Days Section</div>
    <div id="CalculationPerformedWorkingDaysSection_children" class="biztax-panel-children">
      <div id="CalculationPerformedWorkingDaysCalendarYear-1Title_cnt" class="biztax-panel">
        <div id="CalculationPerformedWorkingDaysCalendarYear-1Title" class="biztax-title">Calculation Performed Working Days Calendar Year Title</div>
        <div id="CalculationPerformedWorkingDaysCalendarYear-1Title_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="CalculationPerformedWorkingDaysCalendarYear-1Title" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th rowspan="2" class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Labour Regulation Number Days</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Labour Regulation Number Days Year</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Gross Income</th>
                  <th colspan="3" class="biztax-th-panel">Working Days All Personnel</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Paid Hours Quarter</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Average Day Pay</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Average Hour Pay</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Working Days Low Wages</th>
                </tr>
                <tr>
                  <th class="biztax-th-field-header" width="100px">Working Days Paid</th>
                  <th class="biztax-th-field-header" width="100px">Holidays Workers</th>
                  <th class="biztax-th-field-header" width="100px">Corrections Working Days</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-per:CalendarYear-1Member"></div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-tu:TimeUnitDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-tu:Quarter1Member"></div>
                        <div data-value="d-tu:Quarter2Member"></div>
                        <div data-value="d-tu:Quarter3Member"></div>
                        <div data-value="d-tu:Quarter4Member"></div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empstat:EmploymentStatusDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empstat:EmployeeMember"></div>
                        <div data-value="d-empstat:WorkerMember"></div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empreg:EmploymentRegimeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empreg:FullTimeMember"></div>
                        <div data-value="d-empreg:PartTimeMember"></div>
                      </div>
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LabourRegulationNumberDays_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LabourRegulationNumberDays" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="positiveIntegerMin1Max6ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LabourRegulationNumberDaysYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LabourRegulationNumberDaysYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeInteger6ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="GrossIncome_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="GrossIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="WorkingDaysPaid_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="WorkingDaysPaid" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="HolidaysWorkers_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="HolidaysWorkers" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CorrectionsWorkingDays_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectionsWorkingDays" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PaidHoursQuarter_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PaidHoursQuarter" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AverageDayPay_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AverageDayPay" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AverageHourPay_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AverageHourPay" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="WorkingDaysLowWages_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="WorkingDaysLowWages" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
      <div id="CalculationPerformedWorkingDaysCalendarYear-2Title_cnt" class="biztax-panel">
        <div id="CalculationPerformedWorkingDaysCalendarYear-2Title" class="biztax-title">Calculation Performed Working Days Calendar Year Title</div>
        <div id="CalculationPerformedWorkingDaysCalendarYear-2Title_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="CalculationPerformedWorkingDaysCalendarYear-2Title" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th rowspan="2" class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px"></th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Labour Regulation Number Days</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Labour Regulation Number Days Year</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Gross Income</th>
                  <th colspan="3" class="biztax-th-panel">Working Days All Personnel</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Paid Hours Quarter</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Average Day Pay</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Average Hour Pay</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Working Days Low Wages</th>
                </tr>
                <tr>
                  <th class="biztax-th-field-header" width="100px">Working Days Paid</th>
                  <th class="biztax-th-field-header" width="100px">Holidays Workers</th>
                  <th class="biztax-th-field-header" width="100px">Corrections Working Days</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-per:CalendarYear-2Member"></div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-tu:TimeUnitDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-tu:Quarter1Member"></div>
                        <div data-value="d-tu:Quarter2Member"></div>
                        <div data-value="d-tu:Quarter3Member"></div>
                        <div data-value="d-tu:Quarter4Member"></div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empstat:EmploymentStatusDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empstat:EmployeeMember"></div>
                        <div data-value="d-empstat:WorkerMember"></div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empreg:EmploymentRegimeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empreg:FullTimeMember"></div>
                        <div data-value="d-empreg:PartTimeMember"></div>
                      </div>
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LabourRegulationNumberDays_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LabourRegulationNumberDays" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="positiveIntegerMin1Max6ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LabourRegulationNumberDaysYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LabourRegulationNumberDaysYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeInteger6ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="GrossIncome_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="GrossIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="WorkingDaysPaid_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="WorkingDaysPaid" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="HolidaysWorkers_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="HolidaysWorkers" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CorrectionsWorkingDays_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectionsWorkingDays" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PaidHoursQuarter_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PaidHoursQuarter" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AverageDayPay_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AverageDayPay" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AverageHourPay_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AverageHourPay" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="WorkingDaysLowWages_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="WorkingDaysLowWages" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
    </div>
  </div>
  <div id="CalculationExemptionAdditionalPersonnelSection_cnt" class="biztax-panel">
    <div id="CalculationExemptionAdditionalPersonnelSection" class="biztax-title">Calculation Exemption Additional Personnel Section</div>
    <div id="CalculationExemptionAdditionalPersonnelSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Movement All Personnel Calendar Year</td>
          <td class="biztax-td-code" width="50px">8601</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="MovementAllPersonnelCalendarYear-1_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementAllPersonnelCalendarYear-1" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="integer6ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Increase Personnel Low Wage Calendar Year</td>
          <td class="biztax-td-code" width="50px">8602</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreasePersonnelLowWageCalendarYear-1_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreasePersonnelLowWageCalendarYear-1" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeInteger6ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Employees Eligible Exemption Additional Personnel</td>
          <td class="biztax-td-code" width="50px">8603</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EmployeesEligibleExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EmployeesEligibleExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Exemption Additional Personnel</td>
          <td class="biztax-td-code" width="50px">8604</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="ExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CalculationReversalPreviousExemptionAdditionalPersonnelSection_cnt" class="biztax-panel">
    <div id="CalculationReversalPreviousExemptionAdditionalPersonnelSection" class="biztax-title">Calculation Reversal Previous Exemption Additional Personnel Section</div>
    <div id="CalculationReversalPreviousExemptionAdditionalPersonnelSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Movement All Personnel Calendar Year</td>
          <td class="biztax-td-code" width="50px">8601</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="MovementAllPersonnelCalendarYear-1_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementAllPersonnelCalendarYear-1" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="integer6ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Basic Taxable Reversal Previous Exemption Additional Personnel</td>
          <td class="biztax-td-code" width="50px">8612</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BasicTaxableReversalPreviousExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BasicTaxableReversalPreviousExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Exemption Additional Personnel Previous Assessment Year</td>
          <td class="biztax-td-code" width="50px">8613</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptionAdditionalPersonnelPreviousAssessmentYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptionAdditionalPersonnelPreviousAssessmentYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Reversal Previous Exemption Additional Personnel</td>
          <td class="biztax-td-code" width="50px">8614</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ReversalPreviousExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReversalPreviousExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CorrectionsWorkingDaysPersonnelDetailSection_cnt" class="biztax-panel">
    <div id="CorrectionsWorkingDaysPersonnelDetailSection" class="biztax-title">Corrections Working Days Personnel Detail Section</div>
    <div id="CorrectionsWorkingDaysPersonnelDetailSection_children" class="biztax-panel-children">
      <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-1Title_cnt" class="biztax-panel">
        <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-1Title" class="biztax-title">Corrections Working Days Personnel Detail Calendar Year Title</div>
        <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-1Title_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-1Title" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-field-header" width="100px">Equivalent Whole Day Working Days Part Time Personnel Performed According N S S O Quarterly Declaration</th>
                  <th class="biztax-th-field-header" width="100px">Bank Holidays Included Days Paid Working Days All Personnel</th>
                  <th class="biztax-th-field-header" width="100px">Bank Holidays Included Corrections Working Days All Personnel</th>
                  <th class="biztax-th-field-header" width="100px">Correction Working Days Personnel Detail</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-per:CalendarYear-1Member"></div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-tu:TimeUnitDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-tu:Quarter1Member"></div>
                        <div data-value="d-tu:Quarter2Member"></div>
                        <div data-value="d-tu:Quarter3Member"></div>
                        <div data-value="d-tu:Quarter4Member"></div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empstat:EmploymentStatusDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empstat:EmployeeMember"></div>
                        <div data-value="d-empstat:WorkerMember"></div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empreg:EmploymentRegimeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empreg:FullTimeMember"></div>
                        <div data-value="d-empreg:PartTimeMember"></div>
                      </div>
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EquivalentWholeDayWorkingDaysPartTimePersonnelPerformedAccordingNSSOQuarterlyDeclaration_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EquivalentWholeDayWorkingDaysPartTimePersonnelPerformedAccordingNSSOQuarterlyDeclaration" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankHolidaysIncludedDaysPaidWorkingDaysAllPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankHolidaysIncludedDaysPaidWorkingDaysAllPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankHolidaysIncludedCorrectionsWorkingDaysAllPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankHolidaysIncludedCorrectionsWorkingDaysAllPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CorrectionWorkingDaysPersonnelDetail_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectionWorkingDaysPersonnelDetail" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
      <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-2Title_cnt" class="biztax-panel">
        <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-2Title" class="biztax-title">Corrections Working Days Personnel Detail Calendar Year Title</div>
        <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-2Title_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-2Title" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-field-header" width="100px">Equivalent Whole Day Working Days Part Time Personnel Performed According N S S O Quarterly Declaration</th>
                  <th class="biztax-th-field-header" width="100px">Bank Holidays Included Days Paid Working Days All Personnel</th>
                  <th class="biztax-th-field-header" width="100px">Bank Holidays Included Corrections Working Days All Personnel</th>
                  <th class="biztax-th-field-header" width="100px">Correction Working Days Personnel Detail</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-per:CalendarYear-2Member"></div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-tu:TimeUnitDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-tu:Quarter1Member"></div>
                        <div data-value="d-tu:Quarter2Member"></div>
                        <div data-value="d-tu:Quarter3Member"></div>
                        <div data-value="d-tu:Quarter4Member"></div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empstat:EmploymentStatusDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empstat:EmployeeMember"></div>
                        <div data-value="d-empstat:WorkerMember"></div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empreg:EmploymentRegimeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empreg:FullTimeMember"></div>
                        <div data-value="d-empreg:PartTimeMember"></div>
                      </div>
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EquivalentWholeDayWorkingDaysPartTimePersonnelPerformedAccordingNSSOQuarterlyDeclaration_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EquivalentWholeDayWorkingDaysPartTimePersonnelPerformedAccordingNSSOQuarterlyDeclaration" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankHolidaysIncludedDaysPaidWorkingDaysAllPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankHolidaysIncludedDaysPaidWorkingDaysAllPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankHolidaysIncludedCorrectionsWorkingDaysAllPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankHolidaysIncludedCorrectionsWorkingDaysAllPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CorrectionWorkingDaysPersonnelDetail_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectionWorkingDaysPersonnelDetail" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
    </div>
  </div>
</div>