<?xml version="1.0" encoding="utf-8"?>
<div id="276W2_cnt">
  <h1>276W2 - Exemption Additional Personnel Development Technological Potential Form</h1>
  <div id="EmployedFullTimeIncreaseTechnologicalPotentialSection_cnt" class="biztax-panel">
    <div id="EmployedFullTimeIncreaseTechnologicalPotentialSection" class="biztax-title">Employed Full Time Increase Technological Potential Section</div>
    <div id="EmployedFullTimeIncreaseTechnologicalPotentialSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="EmployedFullTimeIncreaseTechnologicalPotentialSection" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-field-header" width="100px">Date Recruitment Employment Additional Personnel</th>
              <th class="biztax-th-field-header" width="100px">Full Exemption Additional Personnel</th>
              <th class="biztax-th-field-header" width="100px">Actual Exemption Additional Personnel</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empper:EmploymentPeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-empper:EmployedFullTimeMember"></div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empf:EmploymentFunctionDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-empf:IncreaseTechnologicalPotentialPersonnelMember"></div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRecruitmentEmploymentAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRecruitmentEmploymentAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FullExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FullExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ActualExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ActualExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
  <div id="EmployedPartTimeIncreaseTechnologicalPotentialSection_cnt" class="biztax-panel">
    <div id="EmployedPartTimeIncreaseTechnologicalPotentialSection" class="biztax-title">Employed Part Time Increase Technological Potential Section</div>
    <div id="EmployedPartTimeIncreaseTechnologicalPotentialSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="EmployedPartTimeIncreaseTechnologicalPotentialSection" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-context-header" width="100px"></th>
              <th class="biztax-th-field-header" width="100px">Date Recruitment Employment Additional Personnel</th>
              <th class="biztax-th-field-header" width="100px">Full Exemption Additional Personnel</th>
              <th class="biztax-th-field-header" width="100px">Actual Exemption Additional Personnel</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empper:EmploymentPeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-empper:EmployedPartTimeMember"></div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empf:EmploymentFunctionDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-empf:IncreaseTechnologicalPotentialPersonnelMember"></div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRecruitmentEmploymentAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRecruitmentEmploymentAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FullExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FullExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ActualExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ActualExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
</div>