<?xml version="1.0" encoding="utf-8"?>
<div id="275C_cnt">
  <h1>275C - Aftrek voor risicokapitaal</h1>
  <div id="CalculationAllowanceCorporateEquitySection_cnt" class="biztax-panel">
    <div id="CalculationAllowanceCorporateEquitySection" class="biztax-title">Berekening aftrek voor risicokapitaal</div>
    <div id="CalculationAllowanceCorporateEquitySection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">Bij het begin van het belastbare tijdperk</th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Eigen vermogen</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8001</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Equity_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="Equity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="4">Bestanddelen af te trekken van het eigen vermogen</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="DeductionsEquityAllowanceCorporateEquity_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="DeductionsEquityAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Eigen aandelen</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8011</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="OwnSharesFiscalValue_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="OwnSharesFiscalValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Financiële vaste activa die uit deelnemingen en andere aandelen bestaan</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8012</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FinancialFixedAssetsParticipationsOtherShares_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="FinancialFixedAssetsParticipationsOtherShares" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Aandelen waarvan de eventuele inkomsten in aanmerking komen voor DBI-aftrek</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8024</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="SharesIncomeEligibleDeductionPEExemptIncomeMovableAssets_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="SharesIncomeEligibleDeductionPEExemptIncomeMovableAssets" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Materiële vaste activa in zover de erop betrekking hebbende kosten onredelijk zijn</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8016</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TangibleFixedAssetsUnreasonableRelatedCosts_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="TangibleFixedAssetsUnreasonableRelatedCosts" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Bestanddelen die als belegging worden gehouden en geen belastbaar periodiek inkomen voortbrengen</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8017</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentsNoPeriodicalIncome_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="InvestmentsNoPeriodicalIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Onroerende goederen waarvan bedrijfsleiders het gebruik hebben</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8018</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ImmovablePropertyUseManager_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ImmovablePropertyUseManager" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Uitgedrukte maar niet-verwezenlijkte meerwaarden</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8019</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="UnrealisedExpressedCapitalGains_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="UnrealisedExpressedCapitalGains" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Belastingkrediet voor onderzoek en ontwikkeling</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8020</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxCreditResearchDevelopmentDeductionEquityAllowanceCorporateEquity_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="TaxCreditResearchDevelopmentDeductionEquityAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Kapitaalsubsidies</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8021</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentGrants_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="InvestmentGrants" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Voorraadactualisering erkende diamanthandelaars</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8022</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ActualisationStockRecognisedDiamondTraders_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ActualisationStockRecognisedDiamondTraders" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Ten name van de hoofdzetel ontleende middelen met betrekking tot dewelke de interesten ten laste van het belastbaar resultaat van de Belgische inrichting worden gelegd</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8023</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BorrowedFundsMainEstablishmentInterestChargedTaxableResultBelgianBranch_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="BorrowedFundsMainEstablishmentInterestChargedTaxableResultBelgianBranch" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Wijzigingen tijdens het belastbare tijdperk van het eigen vermogen en van de bestanddelen die hiervan afgetrokken mogen worden</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8040</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="MovementEquityAfterDeductionsAllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementEquityAfterDeductionsAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Risicokapitaal van het belastbaar tijdperk</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8050</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="AllowanceCorporateEquityCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AllowanceCorporateEquityCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table">
          <td colspan="5">Aftrek voor risicokapitaal die voor het aanslagjaar in principe aftrekbaar is vóór de vermindering met betrekking tot vaste inrichtingen of onroerende goederen gelegen in een land van de EER met verdrag en vóór de vermindering met betrekking tot vaste inrichtingen of onroerende goederen gelegen in een land buiten de EER met verdrag</td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Indien het belastbare tijdperk niet gelijk is aan 12 maanden of voor het eerste belastbare tijdperk moet het tarief worden vermenigvuldigd met een breuk waarvan de teller gelijk is aan het totaal aantal dagen van het belastbare tijdperk en de noemer gelijk is aan 365.</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px" />
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">In principe aftrekbaar vóór de verminderingen</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8051</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductibleAllowanceCorporateEquityCurrentAssessmentYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleAllowanceCorporateEquityCurrentAssessmentYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Vermindering met betrekking tot vaste inrichtingen of onroerende goederen gelegen in een land van de EER met verdrag</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8061</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductionBranchImmovablePropertyInEEATreaty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionBranchImmovablePropertyInEEATreaty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Vermindering met betrekking tot vaste inrichtingen of onroerende goederen gelegen in een land buiten de EER met verdrag</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8062</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductionBranchImmovablePropertyOutsideEEATreaty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionBranchImmovablePropertyOutsideEEATreaty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Aftrek voor risicokapitaal die voor het aanslagjaar in principe aftrekbaar is</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8070</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="DeductionsBranchImmovablePropertyInEEAOutsideEEATreatyAfterDeductions_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionsBranchImmovablePropertyInEEAOutsideEEATreatyAfterDeductions" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Aftrek voor risicokapitaal van het huidig aanslagjaar die werkelijk wordt afgetrokken</td>
          <td class="biztax-td-code" width="50px">104 103</td>
          <td class="biztax-td-code" width="50px">1435</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CalculationCarryOverExemptionsAllowanceCorporateEquitySection_cnt" class="biztax-panel">
    <div id="CalculationCarryOverExemptionsAllowanceCorporateEquitySection" class="biztax-title">Berekening van de aftrek van de overgedragen vrijstellingen voor risicokapitaal</div>
    <div id="CalculationCarryOverExemptionsAllowanceCorporateEquitySection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Voorheen en ten laatste tijdens aanslagjaar 2012 gevormde vrijstellingen voor risicokapitaal die niet werden afgetrokken tijdens de vorige aanslagjaren</td>
          <td class="biztax-td-code" width="50px">330</td>
          <td class="biztax-td-code" width="50px">1711</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Voorheen en ten laatste tijdens aanslagjaar 2012 gevormde vrijstellingen voor risicokapitaal die niet werden afgetrokken tijdens de vorige aanslagjaren en die werkelijk worden afgetrokken tijdens het huidige aanslagjaar</td>
          <td class="biztax-td-code" width="50px">113 111</td>
          <td class="biztax-td-code" width="50px">1438</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductionExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Saldo van de overgedragen vrijstellingen voor risicokapitaal dat aftrekbaar is tijdens latere aanslagjaren</td>
          <td class="biztax-td-code" width="50px">332</td>
          <td class="biztax-td-code" width="50px">1712</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CarryOverExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="DetailMovementEquityAfterDeductionsAllowanceCorporateEquitySection_cnt" class="biztax-panel">
    <div id="DetailMovementEquityAfterDeductionsAllowanceCorporateEquitySection" class="biztax-title">Uitleg wijzigingen tijdens het belastbare tijdperk van het eigen vermogen en van de bestanddelen die hiervan afgetrokken mogen worden</div>
    <div id="DetailMovementEquityAfterDeductionsAllowanceCorporateEquitySection_children" class="biztax-panel-children">
      <div id="ApplicableDurationMovementEquityAllowanceCorporateEquity_cnt" class="biztax-panel">
        <div id="ApplicableDurationMovementEquityAllowanceCorporateEquity" class="biztax-title">Elke beweging moet worden vermenigvuldigd met het aantal maanden die nog blijven lopen tot op het einde van het belastbare tijdperk en gedeeld door het totale aantal maanden van het belastbare tijdperk en waarbij de wijzigingen geacht worden te hebben plaatsgevonden de eerste dag van de kalendermaand volgend op die waarin ze zich hebben voorgedaan. Indien het belastbaar tijdperk geen geheel aantal maanden bevat moet de voormelde breuk (teller en noemer) drie cijfers na de komma bevatten</div>
        <div id="ApplicableDurationMovementEquityAllowanceCorporateEquity_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="ApplicableDurationMovementEquityAllowanceCorporateEquity" data-xbrl-cg-ids="ApplicableDurationMovementEquityAllowanceCorporateEquity" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-context-header" width="100px">Omschrijving</th>
                  <th class="biztax-th-context-header" width="100px">Datum</th>
                  <th class="biztax-th-field-header" width="100px">Berekening als gewogen gemiddelde</th>
                  <th class="biztax-th-field-header" width="100px">Wijzigingen tijdens het belastbare tijdperk van het eigen vermogen en van de bestanddelen die hiervan afgetrokken mogen worden</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DescriptionTypedDimension" data-xbrl-datatype="DescriptionTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DateTypedDimension" data-xbrl-datatype="date" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CalculationWeightedAverageMovementEquityAfterDeductionsAllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CalculationWeightedAverageMovementEquityAfterDeductionsAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="notEmptyStringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="MovementEquityAfterDeductionsAllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementEquityAfterDeductionsAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
    </div>
  </div>
</div>