<?xml version="1.0" encoding="utf-8"?>
<div id="275R_cnt">
  <h1>275R - Investment Reserve Form</h1>
  <div id="ExemptInvestmentReserveSection_cnt" class="biztax-panel">
    <div id="ExemptInvestmentReserveSection" class="biztax-title">Exempt Investment Reserve Section</div>
    <div id="ExemptInvestmentReserveSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
          <th class="biztax-th-period" width="100px">EN-Bij het begin van het belastbare tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Increase Taxable Reserves Investment Reserve Excluded</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8201</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreaseTaxableReservesInvestmentReserveExcluded_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreaseTaxableReservesInvestmentReserveExcluded" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="4">Reductions Increase Taxable Reserves Investment Reserve Excluded</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="ReductionsIncreaseTaxableReservesInvestmentReserveExcluded_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReductionsIncreaseTaxableReservesInvestmentReserveExcluded" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Capital Gains Shares Investment Reserve</td>
          <td class="biztax-td-code" width="50px">006 (1)</td>
          <td class="biztax-td-code" width="50px">8211</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CapitalGainsSharesInvestmentReserve_D" data-xbrl-pres-period="I-Start" data-xbrl-period="D" data-xbrl-name="CapitalGainsSharesInvestmentReserve" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Capital Gains Vehicles No Profit</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8212</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CapitalGainsVehiclesNoProfit_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CapitalGainsVehiclesNoProfit" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Decrease Paid Up Capital</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8213</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreasePaidUpCapital_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreasePaidUpCapital" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Increase Particular Debt Claims</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8214</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreaseParticularDebtClaims_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreaseParticularDebtClaims" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Corrected Increase Taxable Reserves Investment Reserve Excluded</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8230</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="CorrectedIncreaseTaxableReservesInvestmentReserveExcluded_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectedIncreaseTaxableReservesInvestmentReserveExcluded" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Increase Taxable Reserves Investment Reserve Included</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8231</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreaseTaxableReservesInvestmentReserveIncluded_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreaseTaxableReservesInvestmentReserveIncluded" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Exemptible Investment Reserve</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8240</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptibleInvestmentReserve_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptibleInvestmentReserve" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Exempt Investment Reserve Current Tax Period</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8250</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptInvestmentReserveCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptInvestmentReserveCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="InvestmentsDepreciableTangibleIntangibleFixedAssetsSection_cnt" class="biztax-panel">
    <div id="InvestmentsDepreciableTangibleIntangibleFixedAssetsSection" class="biztax-title">Investments Depreciable Tangible Intangible Fixed Assets Section</div>
    <div id="InvestmentsDepreciableTangibleIntangibleFixedAssetsSection_children" class="biztax-panel-children">
      <div id="ExemptInvestmentReserveLastThreeTaxPeriodsTitle_cnt" class="biztax-panel">
        <div id="ExemptInvestmentReserveLastThreeTaxPeriodsTitle" class="biztax-title">Exempt Investment Reserve Last Three Tax Periods Title</div>
        <div id="ExemptInvestmentReserveLastThreeTaxPeriodsTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-grid-header" width="100px"></th>
              <th class="biztax-th-grid-header" width="100px"></th>
              <th class="biztax-th-grid-header" width="100px"></th>
            </tr>
            <tr>
              <td class="biztax-td-name">Exempt Investment Reserve Overview</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptInvestmentReserveOverview_D__id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptInvestmentReserveOverview" data-xbrl-context="id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-0Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptInvestmentReserveOverview_D__id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptInvestmentReserveOverview" data-xbrl-context="id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-1Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptInvestmentReserveOverview_D__id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptInvestmentReserveOverview" data-xbrl-context="id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-2Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Final Date Investment</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FinalDateInvestment_D__id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FinalDateInvestment" data-xbrl-context="id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-0Member" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FinalDateInvestment_D__id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FinalDateInvestment" data-xbrl-context="id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-1Member" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FinalDateInvestment_D__id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FinalDateInvestment" data-xbrl-context="id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-2Member" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="InvestmentsTangibleIntangibleFixedAssetsTitle_cnt" class="biztax-panel">
        <div id="InvestmentsTangibleIntangibleFixedAssetsTitle" class="biztax-title">Investments Tangible Intangible Fixed Assets Title</div>
        <div id="InvestmentsTangibleIntangibleFixedAssetsTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-grid-header" width="100px"></th>
              <th class="biztax-th-grid-header" width="100px"></th>
              <th class="biztax-th-grid-header" width="100px"></th>
            </tr>
            <tr>
              <td class="biztax-td-name">Investments Previous Investment Reserve Tax Period</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentsPreviousInvestmentReserveTaxPeriod_D__id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentsPreviousInvestmentReserveTaxPeriod" data-xbrl-context="id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-0Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentsPreviousInvestmentReserveTaxPeriod_D__id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentsPreviousInvestmentReserveTaxPeriod" data-xbrl-context="id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-1Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentsPreviousInvestmentReserveTaxPeriod_D__id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentsPreviousInvestmentReserveTaxPeriod" data-xbrl-context="id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-2Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="3">Investment Current Tax Period</td>
              <td>
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension/d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="" />
              </td>
            </tr>
            <tr>
              <td class="biztax-subpanel-indent" colspan="4">
                <contextgrid data-xbrl-cg-parent-id="InvestmentCurrentTaxPeriod" data-xbrl-cg-ids="InvestmentCurrentTaxPeriod" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension/d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension">
                  <contextheading>
                    <table cellpadding="5" cellspacing="0" width="100%">
                      <tr>
                        <th class="biztax-th-context-action" width="50px">
                          <span>
                            <space />
                          </span>
                        </th>
                        <th class="biztax-th-context-header" width="100px"></th>
                        <th class="biztax-th-context-header" width="100px"></th>
                        <th class="biztax-th-context-header" width="100px"></th>
                        <th class="biztax-th-context-header" width="100px"></th>
                        <th class="biztax-th-field-header" width="100px">Investment Current Tax Period</th>
                      </tr>
                    </table>
                  </contextheading>
                  <lineTpl>
                    <table>
                      <tbody>
                        <tr>
                          <td class="biztax-context-action">
                            <div class="biztax-context-removeitem" />
                          </td>
                          <td>
                            <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                              <div data-value="d-per:TaxPeriod-0Member"></div>
                              <div data-value="d-per:TaxPeriod-1Member"></div>
                              <div data-value="d-per:TaxPeriod-2Member"></div>
                            </div>
                          </td>
                          <td>
                            <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-asst:AssetTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                              <div data-value="d-asst:TangibleIntangibleFixedAssetsMember"></div>
                            </div>
                          </td>
                          <td>
                            <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DescriptionTypedDimension" data-xbrl-datatype="DescriptionTypedID" data-xbrl-type="input" />
                          </td>
                          <td>
                            <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DateTypedDimension" data-xbrl-datatype="date" data-xbrl-type="input" />
                          </td>
                          <td>
                            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension/d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </lineTpl>
                </contextgrid>
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Invest Balance</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestBalance_D__id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestBalance" data-xbrl-context="id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-0Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestBalance_D__id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestBalance" data-xbrl-context="id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-1Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestBalance_D__id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestBalance" data-xbrl-context="id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-2Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>