<?xml version="1.0" encoding="utf-8"?>
<div id="275U_cnt">
  <h1>275U - Investeringsaftrek</h1>
  <div id="InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentSection_cnt" class="biztax-panel">
    <div id="InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentSection" class="biztax-title">Investeringsaftrek voor vennootschappen die niet opteren voor het belastingkrediet voor onderzoek en ontwikkeling</div>
    <div id="InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentSection_children" class="biztax-panel-children">
      <div id="InvestmentDeductionOneGoTitle_cnt" class="biztax-panel">
        <div id="InvestmentDeductionOneGoTitle" class="biztax-title">Eenmalige investeringsaftrek</div>
        <div id="InvestmentDeductionOneGoTitle_children" class="biztax-panel-children">
          <div id="InvestmentDeductionOneGoNewFixedAssetsAllCompaniesTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoNewFixedAssetsAllCompaniesTitle" class="biztax-title">Investeringen in nieuwe vaste activa door alle vennootschappen</div>
            <div id="InvestmentDeductionOneGoNewFixedAssetsAllCompaniesTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Octrooien</th>
                  <th class="biztax-th-grid-header" width="100px">Onderzoek en ontwikkeling</th>
                  <th class="biztax-th-grid-header" width="100px">Energiebesparende investeringen</th>
                  <th class="biztax-th-grid-header" width="100px">Rookafzuig- of verluchtingssystemen in horeca-inrichtingen</th>
                  <th class="biztax-th-grid-header" width="100px">Oplaadstations voor elektrische voertuigen (enkel in 2012 gedane investeringen)</th>
                  <th class="biztax-th-grid-header" width="100px">Aanmoediging van het hergebruik van verpakkingen</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Aanschaffings- of beleggingswaarde</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PatentsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PatentsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PatentsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:EnergySavingsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ElectricVehicleChargingStations2012Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ElectricVehicleChargingStations2012Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ElectricVehicleChargingStations2012Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">Eenmalig</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PatentsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PatentsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PatentsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:EnergySavingsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ElectricVehicleChargingStations2012Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ElectricVehicleChargingStations2012Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ElectricVehicleChargingStations2012Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div id="InvestmentDeductionOneGoSMEsTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoSMEsTitle" class="biztax-title">Investeringen door KMO's</div>
            <div id="InvestmentDeductionOneGoSMEsTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Beveiliging</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Aanschaffings- of beleggingswaarde</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SecurityDevicesMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">Eenmalig</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SecurityDevicesMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div id="InvestmentDeductionOneGoInvestmentsSeaVesselsShippingCompaniesTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoInvestmentsSeaVesselsShippingCompaniesTitle" class="biztax-title">Investeringen in zeeschepen door vennootschappen die uitsluitend winst uit zeescheepvaart verkrijgen</div>
            <div id="InvestmentDeductionOneGoInvestmentsSeaVesselsShippingCompaniesTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Nieuwe zeeschepen of tweedehandse zeeschepen die voor het eerst in het bezit van een Belgische belastingplichtige komen</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Aanschaffings- of beleggingswaarde</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SeaVesselsNonBelgianOriginMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">Eenmalig</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SeaVesselsNonBelgianOriginMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div id="InvestmentDeductionOneGoNewFixedAssetsSMEsTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoNewFixedAssetsSMEsTitle" class="biztax-title">Investeringen in nieuwe vaste activa door kleine vennootschappen</div>
            <div id="InvestmentDeductionOneGoNewFixedAssetsSMEsTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Nieuwe vaste activa die rechtstreeks verband houden met de werkelijk uitgeoefende economische werkzaamheid</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Aanschaffings- of beleggingswaarde</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:NewFixedAssetsActualEconomicActivityMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">Eenmalig</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:NewFixedAssetsActualEconomicActivityMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div id="InvestmentDeductionSpreadTitle_cnt" class="biztax-panel">
        <div id="InvestmentDeductionSpreadTitle" class="biztax-title">Gespreide investeringsaftrek</div>
        <div id="InvestmentDeductionSpreadTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-grid-header" width="100px">Onderzoek en ontwikkeling</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Aanschaffings- of beleggingswaarde, afschrijfbaar</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValueSpread_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValueSpread" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Aanneembare afschrijvingen</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EligibleDepreciations_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EligibleDepreciations" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Gespreid</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveSpread_D__id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveSpread" data-xbrl-context="id__InvestmentDeductionIncompatibleTaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Eenmalige en gespreide investeringsaftrek</td>
          <td class="biztax-td-code" width="50px">884</td>
          <td class="biztax-td-code" width="50px">8310</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentDeductionOneGoSpreadCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentDeductionOneGoSpreadCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Gespreide aftrekken voor investeringen van vorige belastbare tijdperken</td>
          <td class="biztax-td-code" width="50px">885</td>
          <td class="biztax-td-code" width="50px">8311</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentDeductionSpreadPreviousTaxPeriods_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentDeductionSpreadPreviousTaxPeriods" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="3">Gecumuleerde vroegere nog niet afgetrokken investeringsaftrekken</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="PreviousCarryOverInvestmentDeduction_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousCarryOverInvestmentDeduction" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Vroegere nog niet afgetrokken investeringsaftrekken met betrekking tot investeringen in nieuwe zeeschepen of in tweedehandse zeeschepen die voor het eerst in het bezit van een Belgische belastingplichtige komen</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8321</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PreviousCarryOverInvestmentDeductionSeaVessels_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousCarryOverInvestmentDeductionSeaVessels" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Vroegere nog niet afgetrokken investeringsaftrekken met betrekking tot andere investeringen</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8322</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="OtherPreviousCarryOverInvestmentDeduction_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="OtherPreviousCarryOverInvestmentDeduction" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">In beginsel aftrekbare investeringsaftrek</td>
          <td class="biztax-td-code" width="50px">887</td>
          <td class="biztax-td-code" width="50px">8340</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="BasicTaxableInvestmentDeduction_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BasicTaxableInvestmentDeduction" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Investeringsaftrek aftrekbaar voor het belastbare tijdperk</td>
          <td class="biztax-td-code" width="50px">888</td>
          <td class="biztax-td-code" width="50px">1437.1</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductibleAllowanceInvestmentDeductionIncompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleAllowanceInvestmentDeductionIncompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="3">Over te dragen naar volgende belastbare tijdperken</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="CarryOverInvestmentDeduction_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverInvestmentDeduction" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Over te dragen investeringsaftrekken met betrekking tot investeringen in nieuwe zeeschepen of in tweedehandse zeeschepen die voor het eerst in het bezit van een Belgische belastingplichtige komen</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8361</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CarryOverInvestmentDeductionSeaVessels_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverInvestmentDeductionSeaVessels" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Over te dragen investeringsaftrekken met betrekking tot investeringen in nieuwe vaste activa die door kleine vennootschappen zijn verricht en die rechtstreeks verband houden met de werkelijk uitgeoefende economische werkzaamheid</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8363</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CarryOverNewFixedAssetsActualEconomicActivity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverNewFixedAssetsActualEconomicActivity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Over te dragen investeringsaftrekken met betrekking tot andere investeringen</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8362</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="OtherCarryOverInvestmentDeduction_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="OtherCarryOverInvestmentDeduction" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="InvestmentDeductionCompatibleTaxCreditResearchDevelopmentSection_cnt" class="biztax-panel">
    <div id="InvestmentDeductionCompatibleTaxCreditResearchDevelopmentSection" class="biztax-title">Investeringsaftrek voor vennootschappen die opteren voor het belastingkrediet voor onderzoek en ontwikkeling</div>
    <div id="InvestmentDeductionCompatibleTaxCreditResearchDevelopmentSection_children" class="biztax-panel-children">
      <div id="InvestmentDeductionOneGoCompatibleTaxCreditResearchDevelopmentTitle_cnt" class="biztax-panel">
        <div id="InvestmentDeductionOneGoCompatibleTaxCreditResearchDevelopmentTitle" class="biztax-title">Eenmalige investeringsaftrek</div>
        <div id="InvestmentDeductionOneGoCompatibleTaxCreditResearchDevelopmentTitle_children" class="biztax-panel-children">
          <div id="InvestmentDeductionOneGoNewFixedAssetsAllCompaniesCompatibleTaxCreditResearchDevelopmentTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoNewFixedAssetsAllCompaniesCompatibleTaxCreditResearchDevelopmentTitle" class="biztax-title">Investeringen in nieuwe vaste activa door alle vennootschappen</div>
            <div id="InvestmentDeductionOneGoNewFixedAssetsAllCompaniesCompatibleTaxCreditResearchDevelopmentTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Energiebesparende investeringen</th>
                  <th class="biztax-th-grid-header" width="100px">Rookafzuig- of verluchtingssystemen in horeca-inrichtingen</th>
                  <th class="biztax-th-grid-header" width="100px">Oplaadstations voor elektrische voertuigen (enkel in 2012 gedane investeringen)</th>
                  <th class="biztax-th-grid-header" width="100px">Aanmoediging van het hergebruik van verpakkingen</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Aanschaffings- of beleggingswaarde</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:EnergySavingsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__ElectricVehicleChargingStations2012Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__ElectricVehicleChargingStations2012Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ElectricVehicleChargingStations2012Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">Eenmalig</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__EnergySavingsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:EnergySavingsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SmokeExtractionAirTreatmentSystemsHorecaOutletsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__ElectricVehicleChargingStations2012Member" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__ElectricVehicleChargingStations2012Member" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ElectricVehicleChargingStations2012Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PromoteReutilisationRefillableBeveragePackagesReusableIndustrialProductsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div id="InvestmentDeductionOneGoSMEsCompatibleTaxCreditResearchDevelopmentTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoSMEsCompatibleTaxCreditResearchDevelopmentTitle" class="biztax-title">Investeringen door KMO's</div>
            <div id="InvestmentDeductionOneGoSMEsCompatibleTaxCreditResearchDevelopmentTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Beveiliging</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Aanschaffings- of beleggingswaarde</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SecurityDevicesMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">Eenmalig</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SecurityDevicesMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SecurityDevicesMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div id="InvestmentDeductionOneGoInvestmentsSeaVesselsShippingCompaniesCompatibleTaxCreditResearchDevelopmentTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoInvestmentsSeaVesselsShippingCompaniesCompatibleTaxCreditResearchDevelopmentTitle" class="biztax-title">Investeringen in zeeschepen door vennootschappen die uitsluitend winst uit zeescheepvaart verkrijgen</div>
            <div id="InvestmentDeductionOneGoInvestmentsSeaVesselsShippingCompaniesCompatibleTaxCreditResearchDevelopmentTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Nieuwe zeeschepen of tweedehandse zeeschepen die voor het eerst in het bezit van een Belgische belastingplichtige komen</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Aanschaffings- of beleggingswaarde</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SeaVesselsNonBelgianOriginMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">Eenmalig</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__SeaVesselsNonBelgianOriginMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:SeaVesselsNonBelgianOriginMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div id="InvestmentDeductionOneGoNewFixedAssetsSMEsCompatibleTaxCreditResearchDevelopmentTitle_cnt" class="biztax-panel">
            <div id="InvestmentDeductionOneGoNewFixedAssetsSMEsCompatibleTaxCreditResearchDevelopmentTitle" class="biztax-title">Investeringen in nieuwe vaste activa door kleine vennootschappen</div>
            <div id="InvestmentDeductionOneGoNewFixedAssetsSMEsCompatibleTaxCreditResearchDevelopmentTitle_children" class="biztax-panel-children">
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-name">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-grid-header" width="100px">Nieuwe vaste activa die rechtstreeks verband houden met de werkelijk uitgeoefende economische werkzaamheid</th>
                </tr>
                <tr>
                  <td class="biztax-td-name">Aanschaffings- of beleggingswaarde</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:NewFixedAssetsActualEconomicActivityMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
                <tr>
                  <td class="biztax-td-name">Eenmalig</td>
                  <td class="biztax-td-grid-item" width="100px">
                    <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__InvestmentDeductionCompatibleTaxCreditResearchDevelopmentMember__id__NewFixedAssetsActualEconomicActivityMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:NewFixedAssetsActualEconomicActivityMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Eenmalige investeringsaftrek</td>
          <td class="biztax-td-code" width="50px">879</td>
          <td class="biztax-td-code" width="50px">8410</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentDeductionOneGoCurrentTaxPeriodCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentDeductionOneGoCurrentTaxPeriodCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Gespreide investeringsaftrek van vorige belastbare tijdperken voor andere investeringen dan investeringen in onderzoek en ontwikkeling</td>
          <td class="biztax-td-code" width="50px">895</td>
          <td class="biztax-td-code" width="50px">8411</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PreviousCarryOverSpreadInvestmentDeductionNoResearchDevelopmentCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousCarryOverSpreadInvestmentDeductionNoResearchDevelopmentCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="3">Gecumuleerde vroegere nog niet afgetrokken investeringsaftrekken</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="PreviousCarryOverInvestmentDeductionCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousCarryOverInvestmentDeductionCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Vroegere nog niet afgetrokken investeringsaftrekken met betrekking tot investeringen in nieuwe zeeschepen of in tweedehandse zeeschepen die voor het eerst in het bezit van een Belgische belastingplichtige komen</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8421</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PreviousCarryOverInvestmentDeductionSeaVesselsCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousCarryOverInvestmentDeductionSeaVesselsCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Vroegere nog niet afgetrokken investeringsaftrekken met betrekking tot andere investeringen</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8422</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="OtherPreviousCarryOverInvestmentDeductionCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="OtherPreviousCarryOverInvestmentDeductionCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Investeringsaftrekken die niet konden worden afgetrokken voor de drie voorafgaande aanslagjaren met betrekking tot de eenmalige investeringsaftrek voor octrooien en de eenmalige en de gespreide investeringsaftrekken voor investeringen in onderzoek en ontwikkeling</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8423</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PreviousThreeTaxPeriodsCarryOverInvestmentDeductionParticularDeductionsCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PreviousThreeTaxPeriodsCarryOverInvestmentDeductionParticularDeductionsCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">In beginsel aftrekbare investeringsaftrek</td>
          <td class="biztax-td-code" width="50px">897</td>
          <td class="biztax-td-code" width="50px">8440</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="BasicTaxableInvestmentDeductionCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BasicTaxableInvestmentDeductionCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Investeringsaftrek aftrekbaar voor het belastbare tijdperk</td>
          <td class="biztax-td-code" width="50px">898</td>
          <td class="biztax-td-code" width="50px">1437.2</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductibleAllowanceInvestmentDeductionCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleAllowanceInvestmentDeductionCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="3">Over te dragen naar volgende belastbare tijdperken</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="CarryOverInvestmentDeductionCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverInvestmentDeductionCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Over te dragen investeringsaftrekken met betrekking tot investeringen in nieuwe zeeschepen of in tweedehandse zeeschepen die voor het eerst in het bezit van een Belgische belastingplichtige komen</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8461</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CarryOverInvestmentDeductionSeaVesselsCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverInvestmentDeductionSeaVesselsCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Over te dragen investeringsaftrekken met betrekking tot investeringen in nieuwe vaste activa die door kleine vennootschappen zijn verricht en die rechtstreeks verband houden met de werkelijk uitgeoefende economische werkzaamheid</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8463</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CarryOverNewFixedAssetsActualEconomicActivityCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverNewFixedAssetsActualEconomicActivityCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Over te dragen investeringsaftrekken met betrekking tot andere investeringen</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8462</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CarryOverInvestmentDeductionParticularDeductionsCompatibleTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverInvestmentDeductionParticularDeductionsCompatibleTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>