<?xml version="1.0" encoding="utf-8"?>
<div id="276W1_cnt">
  <h1>276W1 - Vrijstelling voor bijkomend personeel tewerkgesteld voor wetenschappelijk onderzoek</h1>
  <div id="EmployedFullTimeScientificResearchSection_cnt" class="biztax-panel">
    <div id="EmployedFullTimeScientificResearchSection" class="biztax-title">Personeelsleden aangeworven tijdens een vorig belastbaar tijdperk en gedurende het volledige belastbare tijdperk voltijds tewerkgesteld</div>
    <div id="EmployedFullTimeScientificResearchSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="EmployedFullTimeScientificResearchSection" data-xbrl-cg-ids="EmployedFullTimeScientificResearchSection" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px">Naam</th>
              <th class="biztax-th-context-header" width="100px">Nationaal nummer</th>
              <th class="biztax-th-context-header" width="100px">Tewerkstellingsperiode</th>
              <th class="biztax-th-context-header" width="100px">Tewerkstellingsfunctie</th>
              <th class="biztax-th-field-header" width="100px">Datum van aanwerving en tewerkstelling</th>
              <th class="biztax-th-field-header" width="100px">Vrijstelling</th>
              <th class="biztax-th-field-header" width="100px">Effectief vrijgesteld</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empper:EmploymentPeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-empper:EmployedFullTimeMember">Voltijds</div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empf:EmploymentFunctionDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-empf:HighlyQualifiedResearcherMember">Hooggekwalificeerd onderzoeker</div>
                    <div data-value="d-empf:ResearcherMember">Onderzoeker</div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRecruitmentEmploymentAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRecruitmentEmploymentAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FullExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FullExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ActualExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ActualExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
  <div id="EmployedPartTimeScientificResearchSection_cnt" class="biztax-panel">
    <div id="EmployedPartTimeScientificResearchSection" class="biztax-title">In een vorig belastbaar tijdperk aangeworven personeel waarvan de voltijdse tewerkstelling tijdens het belastbare tijdperk is opgehouden</div>
    <div id="EmployedPartTimeScientificResearchSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="EmployedPartTimeScientificResearchSection" data-xbrl-cg-ids="EmployedPartTimeScientificResearchSection" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px">Naam</th>
              <th class="biztax-th-context-header" width="100px">Nationaal nummer</th>
              <th class="biztax-th-context-header" width="100px">Tewerkstellingsperiode</th>
              <th class="biztax-th-context-header" width="100px">Tewerkstellingsfunctie</th>
              <th class="biztax-th-field-header" width="100px">Datum van aanwerving en tewerkstelling</th>
              <th class="biztax-th-field-header" width="100px">Vrijstelling</th>
              <th class="biztax-th-field-header" width="100px">Effectief vrijgesteld</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empper:EmploymentPeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-empper:EmployedPartTimeMember">Einde voltijds</div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empf:EmploymentFunctionDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-empf:HighlyQualifiedResearcherMember">Hooggekwalificeerd onderzoeker</div>
                    <div data-value="d-empf:ResearcherMember">Onderzoeker</div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRecruitmentEmploymentAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRecruitmentEmploymentAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FullExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FullExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ActualExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ActualExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
</div>