<?xml version="1.0" encoding="utf-8"?>
<div id="328K_cnt">
  <h1>328K - Degressief af te schrijven vaste activa</h1>
  <div id="DegressiveDepreciationFixedAssetsForm_cnt" class="biztax-panel">
    <div id="DegressiveDepreciationFixedAssetsForm" class="biztax-title">Degressief af te schrijven vaste activa</div>
    <div id="DegressiveDepreciationFixedAssetsForm_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="DegressiveDepreciationFixedAssetsForm" data-xbrl-cg-ids="DegressiveDepreciationFixedAssetsForm" data-xbrl-dimensionset="d-depm:DepreciationMethodDimension/d-ty:DescriptionTypedDimension/d-ty:NatureTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px">Afschrijvingsmethode</th>
              <th class="biztax-th-context-header" width="100px">Aard</th>
              <th class="biztax-th-context-header" width="100px">Omschrijving</th>
              <th class="biztax-th-field-header" width="100px">Vermoedelijke gebruiksduur, in jaren</th>
              <th class="biztax-th-field-header" width="100px">Degressief afschrijvingspercentage</th>
              <th class="biztax-th-field-header" width="100px">Datum van verkrijging of totstandbrenging</th>
              <th class="biztax-th-field-header" width="100px">Aanschaffings- of beleggingswaarde</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-depm:DepreciationMethodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-depm:DegressiveDepreciationMethodMember">Stelsel van degressieve afschrijving</div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NatureTypedDimension" data-xbrl-datatype="NatureTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DescriptionTypedDimension" data-xbrl-datatype="DescriptionTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="UsefulEconomicLifeInYears_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="UsefulEconomicLifeInYears" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-depm:DepreciationMethodDimension/d-ty:DescriptionTypedDimension/d-ty:NatureTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeInteger6ItemType" />
                </td>
                <td>
					<div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AnnuityDegressiveDepreciation_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AnnuityDegressiveDepreciation" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-depm:DepreciationMethodDimension/d-ty:DescriptionTypedDimension/d-ty:NatureTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="percentageItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateAcquisitionInvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateAcquisitionInvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-depm:DepreciationMethodDimension/d-ty:DescriptionTypedDimension/d-ty:NatureTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-depm:DepreciationMethodDimension/d-ty:DescriptionTypedDimension/d-ty:NatureTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
</div>