﻿.eBookAT-worksheet-help-view
{
    background-color: white;    
}

.eBookAT-worksheet-help
{
    padding: 10px 10px 20px 10px;
    margin: 10px 10px 20px 10px;
    border: dashed 1px black;
    background-color: #E0E0E0
}

.eBookAT-worksheet-help:hover .eBookAT-worksheet-help-buttons
{     
    visibility:visible;
}



.eBookAT-worksheet-help-buttons
{
    float:right;
    visibility:hidden;
}

.eBookAT-worksheet-help-wrapper
{
    overflow:hidden;    
}

.eBookAT-worksheet-help-subject
{
    font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
    margin-bottom: 10px;
    float: left;
}

.eBookAT-worksheet-help-body
{
    font-size: 12px;
}

.eBookAT-Worksheets
{
    margin-top: 5px !important;
    margin-bottom: 13px !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
    border: 1px solid gray;      
}

.testcls
{
    border:none;
    background-image:none;
    }
.report-search-btn
{
    padding: 10px;
    border-radius: 10px;
    } 
 
.blue .x-grid-cell
{
    background-color: #81BEF7;
}

.red .x-grid-cell
{
    background-color: #F5A9A9;
}

.green .x-grid-cell
{
    background-color: #D0F5A9;
}

/* SPLASH*/

#eBookAT-mask {
    background-color: #CCCCCC;
    height: 100%;
    left: 0;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.eBookAT-masked-msg-container {
    height: 100%;
    left: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20001;
}
.eBookAT-masked-msg-container .eBookAT-masked-msg-centered {
    text-align: center;
    width: 100%;
}
.eBookAT-masked-msg-window {
    background-color: #FFFFFF;
-webkit-box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.5);
-moz-box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.5);
box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.5);
border-radius: 10px 10px 10px 10px;
    opacity:0.9;
    cursor: wait;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    position: relative;
    text-align: left;
    width: 400px;
}
#eBookAT-splash.eBookAT-masked-msg-window {
    height: 220px;
}
.eBookAT-masked-msg-header {
    border-radius: 10px 10px 0px 0px;
    background-image: url("../images/EY/eyBeam-internal.png");
    background-position: 105px 50%;
    background-repeat: no-repeat;
    border-bottom: 1px solid #CCCCCC;
    padding: 5px;
}
.eBookAT-masked-msg-icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    height: 80px;
    width: 80px;
}
#eBookAT-icon {
    background-image: url("../images/eBook/eBookIcon-e.png");
    height: 160px;
    width: 160px;
}
.eBookAT-masked-msg-gerenating-pdf {
    background-image: url("../images/eBookAT/generatingReport.gif");
}
.eBookAT-masked-msg {
    float: left;
    font-size: 12pt;
    margin-top: 30px;
}
#eBookAT-startload-title {
    font-size: 24pt;
    margin-top: 40px;
}
#eBookAT-start-loader-loading {
    background-image: url("../images/default/grid/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    width: 20px;
}
.eBookAT-loading-ico {
    background-image: url("../images/default/grid/loading.gif");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.eBookAT-activity {
    -webkit-transition: opacity 0.1s ease-in 0s;
    float: right;
    margin-right: 10px;
}



/* HEADER */
#header 
{
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	
	height: 62px;
	position: relative;
	background-image: url(../images/EY/eyBeam-internal.png);
	background-repeat: no-repeat;
	background-position: 225px;
	padding: 0 20px 0 20px;
	
	
	margin-left:9px;
	margin-right:12px;
}

.wrapperPadding
{
	padding-left:.8em;
	padding-right:1em;
}

#header h1 {
	margin: 0;
	padding: 17px 0 0;
	float: right;
	font-size: 18px;
	line-height:20px;
	border: 0;
	width: 350px;
	text-align: right;
	font-weight: bold;
}
#header .eylogo  {
	float: left;	/*margin-left: 16px;*/
	margin-top: 13px;
}
#utilities {
	text-align:left;
	overflow: hidden;
	font-size:0.91em;
	height: 20px;
	padding-left:2em;
	padding-right:2em;
	
}
#utilities ul {
	margin: 0;
	padding: 0px;
	color: #666666;
}
#utilities li {
	float: left;
	list-style-type: none;
	padding:0 6px;
}
#utilities .globalutil {
	float: right;
	margin-right: .6em;
}
#utilities div.user {
	float:left;
	padding: 0;
	width: 250px;
	margin-left: 0;
	display: inline;
	
}
#utilities .user div {padding:0;display: inline;}
#utilities .user strong { color: #333333; }
.globalutil li {
	border-left: 1px solid #ccc;
}
.globalutil li.ey-first {
	border-left: 0px solid #ccc;
}

#eBookAT-Title 
{
	padding-left:136px;
	width:auto !important;
	display: block;
  	margin-top: 0.5em;
  	font-family: Arial;
  	font-size: 2em;
  	font-weight: bold;
  	color:#000;
  	letter-spacing: 0.1em;
}


#eBookAT-header-logo {
	background-image:url(../images/eBook/eBookIcon-e-title.png);
	background-position:center center;
	background-repeat:no-repeat;	
	float:right;
	margin-right:10px;
	height:64px;
	width:64px;
}

/* GENERAL */
.eBookAT-menu-item
{
    margin: 15px;
    padding: 25px;
    border: 1px dotted gray;
    border-radius: 20px;
    float: left;    
}

.eBookAT-menu-item:hover
{
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black !important;
}

.eBookAT-defaultwindow
{
    background-position:0 0;
	background-image:url(../images/icons/16/eBook.png);    
}

.eBookAT-coefficient-panel
{
    margin-top: 5px !important;
    margin-bottom: 13px !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
    border: 1px solid gray;    
}

.eBookAT-GTH-Persongrid
{
    margin-top:5px !important;
    margin-bottom:15px !important;
    margin-left:5px !important;
    margin-right:15px !important;
    border: 1px solid gray;
}

.eBookAT-CoefficientAddWindow-Field
{
    margin-left:10px;    
}

.eBookAT-CoefficientAddWindow-Field-first
{
    margin-top:10px;    
}

.eBookAT-PersonAddWindow-Field
{
    margin-left:10px;    
}

.eBookAT-PersonAddWindow-Field-first
{
    margin-top:10px;    
}

.eBookAT-Person-Grid-Search
{
    border-radius:8px;    
}

.eBookAT-Roles-Dataview
{
    margin-top: 5px !important;
    margin-bottom: 15px !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
    border: 1px solid gray;
    
    background-color: white;
}

.eBookAT-GTH-Rolesgrid
{
    margin-top:5px !important;
    margin-bottom:15px !important;
    margin-left:5px !important;
    margin-right:15px !important;
    border: 1px solid gray;
}

.roles
{
    padding-left:10px;
    padding-top:10px;
    padding-bottom:5px;    
}

.eBookAT-replace-panel
{
    margin-top:5px !important;
    margin-bottom:15px !important;
    margin-left:5px !important;
    margin-right:15px !important;    
    border: 1px solid gray;
}

.eBookAT-default-margin
{
     margin-top:5px !important;
    margin-bottom:15px !important;
    margin-left:5px !important;
    margin-right:15px !important;    
    border: 1px solid gray;
    }
    
.eBookAT-confirmpnl
{
    padding: 40% 5%;
    text-align: center;
    font-weight: bold;    
}