﻿.eBookAT-repository-icon
{
   background-image:url(../images/icons/128/repository.png); 
}


.eBookAT-worksheet-help-add-btn
{
    background-image:url(../images/icons/16/add.png); 
 }
 
.button
{
    height: 24px;
    width: 35px;
}
 

.eBookAT-icon-add-16
{
    background-image:url(../images/icons/16/add.png);  
}

.eBookAT-icon-delete-16
{
    background-image:url(../images/icons/16/delete.png);  
}

.eBookAT-icon-edit-16
{
    background-image:url(../images/icons/16/edit.png);  
}

.eBookAT-icon-cancel-32 
{
	background-image:url(../images/icons/32/cancel.png) !important;
}

.eBookAT-icon-search-32 
{
	background-image:url(../images/icons/32/search.png) !important;
}

.eBookAT-icon-excel-32 
{
	background-image:url(../images/icons/32/excel.png) !important;
}

.eBookAT-icon-save-32 
{
	background-image:url(../images/icons/32/save.png) !important;
}

.eBookAT-icon-addToList-32 
{
	background-image:url(../images/icons/32/blue_arrow_right.png) !important;
}


.eBookAT-menu-item-icon
{
    width: 128px;
    height: 128px;    
}

.eBookAT-help-icon
{
    background-image:url(../images/icons/128/help.png) !important;
    margin-left: 11px;
}

.eBookAT-GTH-persons-icon
{
    background-image:url(../images/icons/128/persons2.png) !important;   
}

.eBookAT-GTH-roles-icon
{
    background-image:url(../images/icons/128/roles2.png) !important;  
    }
    
.eBookAT-GTH-replacements-icon
{
    background-image:url(../images/icons/128/replace.png) !important;  
    }
    
    .eBookAT-report-icon
{
    background-image:url(../images/icons/128/report.png) !important;  
    margin-left:15px;
    }
    
.eBookAT-file-reopen-icon
{
    background-image:url(../images/icons/128/reopen.png) !important;  
    }
    
.eBookAT-file-close-icon
{
    background-image:url(../images/icons/128/close.png) !important;  
    }
    
.eBookAT-biztax-failed-icon
{
    background-image:url(../images/icons/128/biztax-failed.png) !important; 
    }
    
    .eBookAT-biztax-success-icon
{
    background-image:url(../images/icons/128/biztax-success.png) !important; 
    }
    
.eBookAT-coefficient-manage-icon
{
    background-image:url(../images/icons/128/coefficient.png) !important;  
    }
    
    .eBookAT-champions-manage-icon
{
    background-image:url(../images/icons/128/champions.png) !important;  
    }
    
        .eBookAT-caching-icon
{
    background-image:url(../images/icons/128/restart.png) !important;  
    }

.eBookAT-menu-title
{
    text-align:center;
    font-weight:bold;
}