<?xml version="1.0" encoding="utf-8"?>
<div id="275C_cnt">
  <h1>275C - Déduction pour capital à risque</h1>
  <div id="CalculationAllowanceCorporateEquitySection_cnt" class="biztax-panel">
    <div id="CalculationAllowanceCorporateEquitySection" class="biztax-title">Calcul déduction pour capital à risque</div>
    <div id="CalculationAllowanceCorporateEquitySection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Bij het begin van het belastbare tijdperk</th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Capitaux propres</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8001</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Equity_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="Equity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="4">Eléments à déduire des capitaux propres</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="DeductionsEquityAllowanceCorporateEquity_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="DeductionsEquityAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Actions ou parts propres</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8011</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="OwnSharesFiscalValue_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="OwnSharesFiscalValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Immobilisations financières consistant en participations et autres actions ou parts</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8012</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FinancialFixedAssetsParticipationsOtherShares_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="FinancialFixedAssetsParticipationsOtherShares" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Actions ou parts émises par des sociétés d'investissement</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8013</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="SharesInvestmentCorporations_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="SharesInvestmentCorporations" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Etablissements situés dans un pays avec convention</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8014</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BranchesCountryTaxTreaty_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="BranchesCountryTaxTreaty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Immeubles situés dans un pays avec convention</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8015</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ImmovablePropertyCountryTaxTreaty_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ImmovablePropertyCountryTaxTreaty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Actifs corporels dans la mesure où les frais y afférents sont déraisonnables</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8016</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TangibleFixedAssetsUnreasonableRelatedCosts_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="TangibleFixedAssetsUnreasonableRelatedCosts" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Eléments détenus à titre de placement non productifs de revenus périodiques imposables</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8017</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentsNoPeriodicalIncome_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="InvestmentsNoPeriodicalIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Biens immobiliers dont les dirigeants ont l'usage</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8018</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ImmovablePropertyUseManager_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ImmovablePropertyUseManager" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Plus-values exprimées mais non réalisées</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8019</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="UnrealisedExpressedCapitalGains_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="UnrealisedExpressedCapitalGains" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Crédit d’impôt pour recherche et développement</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8020</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxCreditResearchDevelopmentDeductionEquityAllowanceCorporateEquity_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="TaxCreditResearchDevelopmentDeductionEquityAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Subsides en capital</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8021</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentGrants_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="InvestmentGrants" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Actualisation des stocks des diamantaires agréés</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8022</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ActualisationStockRecognisedDiamondTraders_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ActualisationStockRecognisedDiamondTraders" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Moyens empruntés dans le chef du siège principal dont les intérêts sont à charge du résultat imposable de l'établissement belge</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8023</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BorrowedFundsMainEstablishmentInterestChargedTaxableResultBelgianBranch_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="BorrowedFundsMainEstablishmentInterestChargedTaxableResultBelgianBranch" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Variations en cours de période imposable des capitaux propres et des éléments à déduire</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8040</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="MovementEquityAfterDeductionsAllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementEquityAfterDeductionsAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Capital à risque de la période imposable</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8050</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="AllowanceCorporateEquityCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AllowanceCorporateEquityCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table">
          <td colspan="5">Déduction pour capital à risque de l'exercice d'imposition, déductible en principe</td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">En cas de période imposable d’une durée différente de 12 mois ou pour la première période imposable, le taux doit être multiplié par une fraction dont le numérateur est le nombre de jours de la période imposable et le dénominateur 365.</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px" />
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Déductible en principe</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8051</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductibleAllowanceCorporateEquityCurrentAssessmentYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleAllowanceCorporateEquityCurrentAssessmentYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Déduction pour capital à risque de l'exercice d'imposition actuel, effectivement déduite</td>
          <td class="biztax-td-code" width="50px">104 103</td>
          <td class="biztax-td-code" width="50px">1435</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CalculationCarryOverExemptionsAllowanceCorporateEquitySection_cnt" class="biztax-panel">
    <div id="CalculationCarryOverExemptionsAllowanceCorporateEquitySection" class="biztax-title">Calcul de la déduction du report des exonérations pour capital à risque</div>
    <div id="CalculationCarryOverExemptionsAllowanceCorporateEquitySection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Exonérations pour capital à risque constituées antérieurement et au plus tard au cours de l'exercice d'imposition 2012</td>
          <td class="biztax-td-code" width="50px">330</td>
          <td class="biztax-td-code" width="50px">1711</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Exonérations pour capital à risque constituées antérieurement et au plus tard au cours de l'exercice d'imposition 2012, effectivement déduites au cours de l'exercice d'imposition actuel</td>
          <td class="biztax-td-code" width="50px">113 111</td>
          <td class="biztax-td-code" width="50px">1438</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductionExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Solde du report des exonérations pour capital à risque à déduire lors d'exercices d'imposition ultérieurs</td>
          <td class="biztax-td-code" width="50px">332</td>
          <td class="biztax-td-code" width="50px">1712</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CarryOverExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="DetailMovementEquityAfterDeductionsAllowanceCorporateEquitySection_cnt" class="biztax-panel">
    <div id="DetailMovementEquityAfterDeductionsAllowanceCorporateEquitySection" class="biztax-title">Explication des variations en cours de la période imposable des capitaux propres et des éléments à déduire</div>
    <div id="DetailMovementEquityAfterDeductionsAllowanceCorporateEquitySection_children" class="biztax-panel-children">
      <div id="ApplicableDurationMovementEquityAllowanceCorporateEquity_cnt" class="biztax-panel">
        <div id="ApplicableDurationMovementEquityAllowanceCorporateEquity" class="biztax-title">Chaque mouvement doit être multiplié par le nombre de mois restant à courir jusqu’à la fin de la période imposable divisé par le nombre de mois de la période imposable, en considérant que la variation a lieu le premier jour du mois civil qui suit celui de sa survenance. Si la période imposable ne contient pas un nombre de mois entier, la fraction précitée (numérateur et dénominateur) doit comprendre des nombres à 3 décimales après la virgule.</div>
        <div id="ApplicableDurationMovementEquityAllowanceCorporateEquity_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="ApplicableDurationMovementEquityAllowanceCorporateEquity" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-context-header" width="100px">Description</th>
                  <th class="biztax-th-context-header" width="100px">Date</th>
                  <th class="biztax-th-field-header" width="100px">Calcul de la variation en moyenne pondérée</th>
                  <th class="biztax-th-field-header" width="100px">Variations en cours de période imposable des capitaux propres et des éléments à déduire</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DescriptionTypedDimension" data-xbrl-datatype="DescriptionTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DateTypedDimension" data-xbrl-datatype="DateTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CalculationWeightedAverageMovementEquityAfterDeductionsAllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CalculationWeightedAverageMovementEquityAfterDeductionsAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="MovementEquityAfterDeductionsAllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementEquityAfterDeductionsAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
    </div>
  </div>
</div>