<?xml version="1.0" encoding="utf-8"?>
<div id="275P_cnt">
  <h1>275P - Deduction Patents Income Form</h1>
  <div id="DeductionPatentsIncomeForm_cnt" class="biztax-panel">
    <div id="DeductionPatentsIncomeForm" class="biztax-title">Deduction Patents Income Form</div>
    <div id="DeductionPatentsIncomeForm_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Income Registered Corporation Patents Wholly Partially Developed</td>
          <td class="biztax-td-code" width="50px">8100</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncomeRegisteredCorporationPatentsWhollyPartiallyDeveloped_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncomeRegisteredCorporationPatentsWhollyPartiallyDeveloped" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="2">Corrected Income Patents Wholly Partially Obtained Third Party</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="CorrectedIncomePatentsWhollyPartiallyObtainedThirdParty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectedIncomePatentsWhollyPartiallyObtainedThirdParty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Income Patents Wholly Partially Obtained Third Party</td>
          <td class="biztax-td-code" width="50px">8111</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncomePatentsWhollyPartiallyObtainedThirdParty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncomePatentsWhollyPartiallyObtainedThirdParty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Compensation Owed Third Parties Pertaining Patents</td>
          <td class="biztax-td-code" width="50px">8112</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CompensationOwedThirdPartiesPertainingPatents_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CompensationOwedThirdPartiesPertainingPatents" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Amortisation Acquisition Investment Value Patents</td>
          <td class="biztax-td-code" width="50px">8113</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AmortisationAcquisitionInvestmentValuePatents_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AmortisationAcquisitionInvestmentValuePatents" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Calculation Basis Deduction Patents Income</td>
          <td class="biztax-td-code" width="50px">8130</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="CalculationBasisDeductionPatentsIncome_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CalculationBasisDeductionPatentsIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Deductible Deduction Patents Income</td>
          <td class="biztax-td-code" width="50px">8140</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="DeductibleDeductionPatentsIncome_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleDeductionPatentsIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>