<?xml version="1.0" encoding="utf-8"?>
<div id="275P_cnt">
  <h1>275P - Déduction pour revenus de brevets</h1>
  <div id="DeductionPatentsIncomeForm_cnt" class="biztax-panel">
    <div id="DeductionPatentsIncomeForm" class="biztax-title">Déduction pour revenus de brevets</div>
    <div id="DeductionPatentsIncomeForm_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Revenus ou quotité de revenus provenant de brevets développés totalement ou partiellement par la société et dont elle est titulaire</td>
          <td class="biztax-td-code" width="50px">8100</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncomeRegisteredCorporationPatentsWhollyPartiallyDeveloped_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncomeRegisteredCorporationPatentsWhollyPartiallyDeveloped" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="2">Revenus ou quotité de revenus corrigés déductibles provenant de brevets acquis de tiers par la société</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="CorrectedIncomePatentsWhollyPartiallyObtainedThirdParty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectedIncomePatentsWhollyPartiallyObtainedThirdParty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Revenus ou quotité de revenus provenant de brevets acquis de tiers par la société</td>
          <td class="biztax-td-code" width="50px">8111</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncomePatentsWhollyPartiallyObtainedThirdParty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncomePatentsWhollyPartiallyObtainedThirdParty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Rémunérations ou quotité de rémunérations dues à des tiers pour les brevets acquis par la société</td>
          <td class="biztax-td-code" width="50px">8112</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CompensationOwedThirdPartiesPertainingPatents_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CompensationOwedThirdPartiesPertainingPatents" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Amortissements ou quotité d'amortissements actés sur la valeur d'investissement ou de revient des brevets acquis par la société</td>
          <td class="biztax-td-code" width="50px">8113</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AmortisationAcquisitionInvestmentValuePatents_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AmortisationAcquisitionInvestmentValuePatents" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Base de calcul de la déduction pour revenus de brevets</td>
          <td class="biztax-td-code" width="50px">8130</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="CalculationBasisDeductionPatentsIncome_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CalculationBasisDeductionPatentsIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Déduction pour revenus de brevets</td>
          <td class="biztax-td-code" width="50px">8140</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="DeductibleDeductionPatentsIncome_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleDeductionPatentsIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>