<?xml version="1.0" encoding="utf-8"?>
<div id="275R_cnt">
  <h1>275R - Réserve d'investissement</h1>
  <div id="ExemptInvestmentReserveSection_cnt" class="biztax-panel">
    <div id="ExemptInvestmentReserveSection" class="biztax-title">Réserve d'investissement exonérée</div>
    <div id="ExemptInvestmentReserveSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
          <th class="biztax-th-period" width="100px">FR-Bij het begin van het belastbare tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Accroissement des réserves taxées de la période imposable avant constitution de la réserve d'investissement</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8201</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreaseTaxableReservesInvestmentReserveExcluded_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreaseTaxableReservesInvestmentReserveExcluded" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="4">Diminutions de cet accroissement</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="ReductionsIncreaseTaxableReservesInvestmentReserveExcluded_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReductionsIncreaseTaxableReservesInvestmentReserveExcluded" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Plus-values sur actions ou parts</td>
          <td class="biztax-td-code" width="50px">006 (1)</td>
          <td class="biztax-td-code" width="50px">8211</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CapitalGainsSharesInvestmentReserve_D" data-xbrl-pres-period="I-Start" data-xbrl-period="D" data-xbrl-name="CapitalGainsSharesInvestmentReserve" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Quotité des plus-values sur véhicules non considérée comme bénéfice</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8212</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CapitalGainsVehiclesNoProfit_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CapitalGainsVehiclesNoProfit" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Réduction du capital libéré</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8213</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreasePaidUpCapital_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreasePaidUpCapital" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Augmentation de certaines créances de la société</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8214</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreaseParticularDebtClaims_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreaseParticularDebtClaims" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Accroissement des réserves taxées de la période imposable, avant constitution de la réserve d'investissement, après les diminutions, limité au maximum</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8230</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="CorrectedIncreaseTaxableReservesInvestmentReserveExcluded_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectedIncreaseTaxableReservesInvestmentReserveExcluded" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Accroissement des réserves taxées par rapport aux réserves taxées à la fin de la période imposable antérieure pour laquelle une réserve d'investissement a été obtenue</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8231</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreaseTaxableReservesInvestmentReserveIncluded_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreaseTaxableReservesInvestmentReserveIncluded" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Réserve d’investissement exonérée maximale de la période imposable</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8240</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptibleInvestmentReserve_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptibleInvestmentReserve" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Réserve d'investissement exonérée revendiquée de la période imposable</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8250</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptInvestmentReserveCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptInvestmentReserveCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="InvestmentsDepreciableTangibleIntangibleFixedAssetsSection_cnt" class="biztax-panel">
    <div id="InvestmentsDepreciableTangibleIntangibleFixedAssetsSection" class="biztax-title">Investissements en immobilisations corporelles ou incorporelles amortissables</div>
    <div id="InvestmentsDepreciableTangibleIntangibleFixedAssetsSection_children" class="biztax-panel-children">
      <div id="ExemptInvestmentReserveLastThreeTaxPeriodsTitle_cnt" class="biztax-panel">
        <div id="ExemptInvestmentReserveLastThreeTaxPeriodsTitle" class="biztax-title">Réserves exonérées des trois dernières périodes imposables, y comprise la période imposable actuelle</div>
        <div id="ExemptInvestmentReserveLastThreeTaxPeriodsTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-grid-header" width="100px">Période imposable-0</th>
              <th class="biztax-th-grid-header" width="100px">Période imposable-1</th>
              <th class="biztax-th-grid-header" width="100px">Période imposable-2</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Réserve d'investissement exonérée</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptInvestmentReserveOverview_D__id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptInvestmentReserveOverview" data-xbrl-context="id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-0Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptInvestmentReserveOverview_D__id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptInvestmentReserveOverview" data-xbrl-context="id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-1Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptInvestmentReserveOverview_D__id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptInvestmentReserveOverview" data-xbrl-context="id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-2Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Date limite de l'investissement</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FinalDateInvestment_D__id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FinalDateInvestment" data-xbrl-context="id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-0Member" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FinalDateInvestment_D__id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FinalDateInvestment" data-xbrl-context="id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-1Member" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FinalDateInvestment_D__id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FinalDateInvestment" data-xbrl-context="id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-2Member" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="InvestmentsTangibleIntangibleFixedAssetsTitle_cnt" class="biztax-panel">
        <div id="InvestmentsTangibleIntangibleFixedAssetsTitle" class="biztax-title">Immobilisations corporelles et incorporelles investies</div>
        <div id="InvestmentsTangibleIntangibleFixedAssetsTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-grid-header" width="100px">Période imposable-0</th>
              <th class="biztax-th-grid-header" width="100px">Période imposable-1</th>
              <th class="biztax-th-grid-header" width="100px">Période imposable-2</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Investissements mentionnés au relevé  précédent</td>
              <td class="biztax-td-grid-item" width="100px">
                <span>
                  <space />
                </span>
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentsPreviousInvestmentReserveTaxPeriod_D__id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentsPreviousInvestmentReserveTaxPeriod" data-xbrl-context="id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-1Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentsPreviousInvestmentReserveTaxPeriod_D__id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentsPreviousInvestmentReserveTaxPeriod" data-xbrl-context="id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-2Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="3">Investissements de la présente période imposable</td>
              <td>
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension/d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="" />
              </td>
            </tr>
            <tr>
              <td class="biztax-subpanel-indent" colspan="4">
                <contextgrid data-xbrl-cg-parent-id="InvestmentCurrentTaxPeriod" data-xbrl-cg-ids="InvestmentCurrentTaxPeriod" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension/d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension">
                  <contextheading>
                    <table cellpadding="5" cellspacing="0" width="100%">
                      <tr>
                        <th class="biztax-th-context-action" width="50px">
                          <span>
                            <space />
                          </span>
                        </th>
                        <th class="biztax-th-context-header" width="100px">Période</th>
                        <th class="biztax-th-context-header" width="100px">Sorte d'actif</th>
                        <th class="biztax-th-context-header" width="100px">Description</th>
                        <th class="biztax-th-context-header" width="100px">Date</th>
                        <th class="biztax-th-field-header" width="100px">Investissements de la présente période imposable</th>
                      </tr>
                    </table>
                  </contextheading>
                  <lineTpl>
                    <table>
                      <tbody>
                        <tr>
                          <td class="biztax-context-action">
                            <div class="biztax-context-removeitem" />
                          </td>
                          <td>
                            <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                              <div data-value="d-per:TaxPeriod-0Member">Période imposable-0</div>
                              <div data-value="d-per:TaxPeriod-1Member">Période imposable-1</div>
                              <div data-value="d-per:TaxPeriod-2Member">Période imposable-2</div>
                            </div>
                          </td>
                          <td>
                            <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-asst:AssetTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                              <div data-value="d-asst:TangibleIntangibleFixedAssetsMember">Immobilisations incorporelles et corporelles</div>
                            </div>
                          </td>
                          <td>
                            <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DescriptionTypedDimension" data-xbrl-datatype="DescriptionTypedID" data-xbrl-type="input" />
                          </td>
                          <td>
                            <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DateTypedDimension" data-xbrl-datatype="DateTypedID" data-xbrl-type="input" />
                          </td>
                          <td>
                            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension/d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </lineTpl>
                </contextgrid>
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Solde des investissements à effectuer</td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestBalance_D__id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestBalance" data-xbrl-context="id__TaxPeriod-0Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-0Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestBalance_D__id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestBalance" data-xbrl-context="id__TaxPeriod-1Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-1Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
              <td class="biztax-td-grid-item" width="100px">
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestBalance_D__id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestBalance" data-xbrl-context="id__TaxPeriod-2Member__id__TangibleIntangibleFixedAssetsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-per:PeriodDimension" data-xbrl-dimension="d-per:PeriodDimension" data-xbrl-dimensionmember="d-per:TaxPeriod-2Member" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>