<?xml version="1.0" encoding="utf-8"?>
<div id="276N_cnt">
  <h1>276N - Exonération des plus-values sur véhicules d’entreprise</h1>
  <div id="CapitalGainsCorporateVehiclesSection_cnt" class="biztax-panel">
    <div id="CapitalGainsCorporateVehiclesSection" class="biztax-title">Plus-values sur véhicules d’entreprise</div>
    <div id="CapitalGainsCorporateVehiclesSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="CapitalGainsCorporateVehiclesSection" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px">Exercice-numéro d'ordre plus-value</th>
              <th class="biztax-th-context-header" width="100px">Sorte d'actif</th>
              <th class="biztax-th-field-header" width="100px">Description</th>
              <th class="biztax-th-field-header" width="100px">Date d'investissement</th>
              <th class="biztax-th-field-header" width="100px">Date d'aliénation</th>
              <th class="biztax-th-field-header" width="100px">Date de perception de l'indemnité</th>
              <th class="biztax-th-field-header" width="100px">Valeur de réalisation</th>
              <th class="biztax-th-field-header" width="100px">Indemnité perçue</th>
              <th class="biztax-th-field-header" width="100px">Frais de réalisation</th>
              <th class="biztax-th-field-header" width="100px">Valeur d'acquisition ou d'investissement</th>
              <th class="biztax-th-field-header" width="100px">Amortissements ou réductions de valeur admis fiscalement</th>
              <th class="biztax-th-field-header" width="100px">Valeur fiscale nette</th>
              <th class="biztax-th-field-header" width="100px">Plus-value réalisée</th>
              <th class="biztax-th-field-header" width="100px">Plus-value réalisée de plein gré</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:CapitalGainTypedDimension" data-xbrl-datatype="CapitalGainTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-asst:AssetTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-asst:CorporateVehicleMember">Véhicule d’entreprise</div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Description_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Description" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateInvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateInvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRealisation_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRealisation" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateCompensationReceipt_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateCompensationReceipt" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="RealisedSellingValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RealisedSellingValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ReceivedCompensation_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReceivedCompensation" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CostRealisation_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CostRealisation" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxAcceptedDepreciationsWriteDownsInvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxAcceptedDepreciationsWriteDownsInvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="FiscalNetWorth_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FiscalNetWorth" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="RealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="VoluntaryRealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="VoluntaryRealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="booleanItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
  <div id="ReinvestmentsEcologicalCorporateVehiclesSection_cnt" class="biztax-panel">
    <div id="ReinvestmentsEcologicalCorporateVehiclesSection" class="biztax-title">Remplois en véhicules d’entreprise écologiques</div>
    <div id="ReinvestmentsEcologicalCorporateVehiclesSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="ReinvestmentsEcologicalCorporateVehiclesSection" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px">Exercice-numéro d'ordre plus-value</th>
              <th class="biztax-th-context-header" width="100px">Exercice-numéro d'ordre remploi</th>
              <th class="biztax-th-context-header" width="100px">Sorte d'actif</th>
              <th class="biztax-th-field-header" width="100px">Plus-value réalisée</th>
              <th class="biztax-th-field-header" width="100px">Description du remploi à prendre en considération</th>
              <th class="biztax-th-field-header" width="100px">Date du remploi à prendre en considération</th>
              <th class="biztax-th-field-header" width="100px">Montant du remploi à prendre en considération</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:CapitalGainTypedDimension" data-xbrl-datatype="CapitalGainTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:ReinvestmentTypedDimension" data-xbrl-datatype="ReinvestmentTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-asst:AssetTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-asst:CorporateVehicleMember">Véhicule d’entreprise</div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="RealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DescriptionReinvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DescriptionReinvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateReinvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateReinvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ReinvestmentValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReinvestmentValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
</div>