<?xml version="1.0" encoding="utf-8"?>
<div id="276P_cnt">
  <h1>276P - Vrijstelling van meerwaarden op binnenschepen voor de commerciële vaart</h1>
  <div id="CapitalGainsRiverVesselSection_cnt" class="biztax-panel">
    <div id="CapitalGainsRiverVesselSection" class="biztax-title">Meerwaarden op binnenschepen voor de commerciële vaart</div>
    <div id="CapitalGainsRiverVesselSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="CapitalGainsRiverVesselSection" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px">Aanslagjaar-volgnummer meerwaarde</th>
              <th class="biztax-th-context-header" width="100px">Activa soort</th>
              <th class="biztax-th-field-header" width="100px">Omschrijving</th>
              <th class="biztax-th-field-header" width="100px">Datum van belegging</th>
              <th class="biztax-th-field-header" width="100px">Datum van vervreemding</th>
              <th class="biztax-th-field-header" width="100px">Datum van ontvangst schadevergoeding</th>
              <th class="biztax-th-field-header" width="100px">Verkoopwaarde</th>
              <th class="biztax-th-field-header" width="100px">Ontvangen vergoeding</th>
              <th class="biztax-th-field-header" width="100px">Kosten van vervreemding</th>
              <th class="biztax-th-field-header" width="100px">Aanschaffings- of beleggingswaarde</th>
              <th class="biztax-th-field-header" width="100px">Fiscaal aangenomen afschrijvingen of waardeverminderingen</th>
              <th class="biztax-th-field-header" width="100px">Fiscale nettowaarde</th>
              <th class="biztax-th-field-header" width="100px">Verwezenlijkte meerwaarde</th>
              <th class="biztax-th-field-header" width="100px">Vrijwillig verwezenlijkte meerwaarde</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:CapitalGainTypedDimension" data-xbrl-datatype="CapitalGainTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-asst:AssetTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-asst:RiverVesselMember">Binnenschip</div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Description_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Description" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateInvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateInvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRealisation_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRealisation" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateCompensationReceipt_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateCompensationReceipt" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="RealisedSellingValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RealisedSellingValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ReceivedCompensation_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReceivedCompensation" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CostRealisation_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CostRealisation" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxAcceptedDepreciationsWriteDownsInvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxAcceptedDepreciationsWriteDownsInvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="FiscalNetWorth_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FiscalNetWorth" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="RealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="VoluntaryRealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="VoluntaryRealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="booleanItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
  <div id="ReinvestmentsEcologicalRiverVesselCommercialTradeSection_cnt" class="biztax-panel">
    <div id="ReinvestmentsEcologicalRiverVesselCommercialTradeSection" class="biztax-title">Herbeleggingen in ecologische binnenschepen voor de commerciële vaart</div>
    <div id="ReinvestmentsEcologicalRiverVesselCommercialTradeSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="ReinvestmentsEcologicalRiverVesselCommercialTradeSection" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px">Aanslagjaar-volgnummer meerwaarde</th>
              <th class="biztax-th-context-header" width="100px">Aanslagjaar-volgnummer herbelegging</th>
              <th class="biztax-th-context-header" width="100px">Activa soort</th>
              <th class="biztax-th-field-header" width="100px">Verwezenlijkte meerwaarde</th>
              <th class="biztax-th-field-header" width="100px">Omschrijving in aanmerking te nemen herbelegging</th>
              <th class="biztax-th-field-header" width="100px">Datum in aanmerking te nemen herbelegging</th>
              <th class="biztax-th-field-header" width="100px">Bedrag in aanmerking te nemen herbelegging</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:CapitalGainTypedDimension" data-xbrl-datatype="CapitalGainTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:ReinvestmentTypedDimension" data-xbrl-datatype="ReinvestmentTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-asst:AssetTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-asst:RiverVesselMember">Binnenschip</div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="RealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DescriptionReinvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DescriptionReinvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateReinvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateReinvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ReinvestmentValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReinvestmentValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
</div>