<?xml version="1.0" encoding="utf-8"?>
<div id="Id_cnt">
  <h1>Id - Company Information Form</h1>
  <div id="EntityInformation_cnt" class="biztax-panel">
    <div id="EntityInformation" class="biztax-title">Entity information</div>
    <div id="EntityInformation_children" class="biztax-panel-children">
      <div id="EntityIdentifier_cnt" class="biztax-panel">
        <div id="EntityIdentifier" class="biztax-title">Entity number</div>
        <div id="EntityIdentifier_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Kind of number</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IdentifierName_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IdentifierName" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityIdentifier" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Value</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IdentifierValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IdentifierValue" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityIdentifier" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="EntityName_cnt" class="biztax-panel">
        <div id="EntityName" class="biztax-title">Entity name</div>
        <div id="EntityName_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Entity current legal name</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EntityCurrentLegalName_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EntityCurrentLegalName" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityName" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="EntityForm_cnt" class="biztax-panel">
        <div id="EntityForm" class="biztax-title">Entity legal form</div>
        <div id="EntityForm_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td colspan="2">
                <table width="100%" class="biztax-valuelistorother"  data-xbrl-prefix="pfs-gcd" data-xbrl-id="EntityForm" data-xbrl-name="EntityForm" data-xbrl-dimensionset="" data-xbrl-path="/EntityInformation" data-xbrl-fieldtype="valuelistorother">
                  <tbody>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-vl" style="padding-left:10px">
                        <input type="radio" value="valuelist" />List</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EntityForm_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EntityForm" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation" data-xbrl-fieldtype="valuelist" data-xbrl-valuelistid="LegalFormCodeHead" />
                      </td>
                    </tr>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-other" style="padding-left:10px">
                        <input type="radio" value="other" />Other</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LegalFormOther_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LegalFormOther" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityForm" data-xbrl-fieldtype="stringItemType" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="EntityAddress_cnt" class="biztax-panel">
        <div id="EntityAddress" class="biztax-title">Address</div>
        <div id="EntityAddress_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="1">Address type</td>
              <td>
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AddressType_" data-xbrl-pres-period="" data-xbrl-period="" data-xbrl-name="AddressType" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress" data-xbrl-fieldtype="" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <table width="100%" class="biztax-valuelistorother"  data-xbrl-prefix="pfs-gcd" data-xbrl-id="AddressType" data-xbrl-name="AddressType" data-xbrl-dimensionset="" data-xbrl-path="/EntityInformation/EntityAddress" data-xbrl-fieldtype="valuelistorother">
                  <tbody>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-vl" style="padding-left:10px">
                        <input type="radio" value="valuelist" />List</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AddressType_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AddressType" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress" data-xbrl-fieldtype="valuelist" data-xbrl-valuelistid="AddressTypeCodeHead" />
                      </td>
                    </tr>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-other" style="padding-left:10px">
                        <input type="radio" value="other" />Other</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AddressTypeOther_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AddressTypeOther" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress/AddressType" data-xbrl-fieldtype="stringItemType" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Street</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Street_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Street" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Nr</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Number_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Number" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Box</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Box_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Box" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="1">Postal code and city</td>
              <td>
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PostalCodeCity_" data-xbrl-pres-period="" data-xbrl-period="" data-xbrl-name="PostalCodeCity" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress" data-xbrl-fieldtype="" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <table width="100%" class="biztax-valuelistorother"  data-xbrl-prefix="pfs-gcd" data-xbrl-id="PostalCodeCity" data-xbrl-name="PostalCodeCity" data-xbrl-dimensionset="" data-xbrl-path="/EntityInformation/EntityAddress" data-xbrl-fieldtype="valuelistorother">
                  <tbody>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-vl" style="padding-left:10px">
                        <input type="radio" value="valuelist" />List</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PostalCodeCity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PostalCodeCity" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress" data-xbrl-fieldtype="valuelist" data-xbrl-valuelistid="PostalCodeHead" />
                      </td>
                    </tr>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-other" style="padding-left:10px">
                        <input type="radio" value="other" />Other</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PostalCodeOther_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PostalCodeOther" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress/PostalCodeCity" data-xbrl-fieldtype="stringItemType" />
                      </td>
                    </tr>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-other" style="padding-left:10px">
                        <input type="radio" value="other" />City</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="City_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="City" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress/PostalCodeCity" data-xbrl-fieldtype="stringItemType" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="1">Country</td>
              <td>
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CountryCode_" data-xbrl-pres-period="" data-xbrl-period="" data-xbrl-name="CountryCode" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress" data-xbrl-fieldtype="" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <table width="100%" class="biztax-valuelistorother"  data-xbrl-prefix="pfs-gcd" data-xbrl-id="CountryCode" data-xbrl-name="CountryCode" data-xbrl-dimensionset="" data-xbrl-path="/EntityInformation/EntityAddress" data-xbrl-fieldtype="valuelistorother">
                  <tbody>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-vl" style="padding-left:10px">
                        <input type="radio" value="valuelist" />List</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CountryCode_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CountryCode" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress" data-xbrl-fieldtype="valuelist" data-xbrl-valuelistid="CountryCodeHead" />
                      </td>
                    </tr>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-other" style="padding-left:10px">
                        <input type="radio" value="other" />Other</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CountryCodeOther_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CountryCodeOther" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityAddress/CountryCode" data-xbrl-fieldtype="stringItemType" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="BankInformation_cnt" class="biztax-panel">
        <div id="BankInformation" class="biztax-title">Bank information</div>
        <div id="BankInformation_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">BIC</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankIdentifierCode_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankIdentifierCode" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/BankInformation" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">IBAN</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InternationalBankAccountNumber_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InternationalBankAccountNumber" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/BankInformation" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="EntityIdentifierCompanyWoundUpWithoutLiquidationProcedure_cnt" class="biztax-panel">
        <div id="EntityIdentifierCompanyWoundUpWithoutLiquidationProcedure" class="biztax-title">Entity identifier of the company wound up without liquidation procedure</div>
        <div id="EntityIdentifierCompanyWoundUpWithoutLiquidationProcedure_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Kind of number</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IdentifierName_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IdentifierName" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityIdentifierCompanyWoundUpWithoutLiquidationProcedure" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Value</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IdentifierValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IdentifierValue" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/EntityInformation/EntityIdentifierCompanyWoundUpWithoutLiquidationProcedure" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="PeriodsCovered_cnt" class="biztax-panel">
    <div id="PeriodsCovered" class="biztax-title">Periods Covered</div>
    <div id="PeriodsCovered_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-period" width="100px">EN-Bij het begin van het belastbare tijdperk</th>
          <th class="biztax-th-period" width="100px">EN-Bij het einde van het belastbare tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Period Start Date</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PeriodStartDate_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="PeriodStartDate" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Period End Date</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PeriodEndDate_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="PeriodEndDate" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Assessment Year</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AssessmentYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AssessmentYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Tax Return Type</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxReturnType_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxReturnType" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="DocumentInformation_cnt" class="biztax-panel">
    <div id="DocumentInformation" class="biztax-title">Document information</div>
    <div id="DocumentInformation_children" class="biztax-panel-children">
      <div id="DocumentContact_cnt" class="biztax-panel">
        <div id="DocumentContact" class="biztax-title">Contact</div>
        <div id="DocumentContact_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="1">Type of contact</td>
              <td>
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DocumentContactType_" data-xbrl-pres-period="" data-xbrl-period="" data-xbrl-name="DocumentContactType" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact" data-xbrl-fieldtype="" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">List</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DocumentContactType_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DocumentContactType" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact" data-xbrl-fieldtype="valuelist" data-xbrl-valuelistid="DocumentContactTypeCodeHead" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Name</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ContactName_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ContactName" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">First name</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ContactFirstName_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ContactFirstName" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Title or Position</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ContactTitlePosition_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ContactTitlePosition" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="1">Address</td>
              <td>
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ContactAddress_" data-xbrl-pres-period="" data-xbrl-period="" data-xbrl-name="ContactAddress" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact" data-xbrl-fieldtype="" />
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="1">Address type</td>
              <td>
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AddressType_" data-xbrl-pres-period="" data-xbrl-period="" data-xbrl-name="AddressType" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress" data-xbrl-fieldtype="" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <table width="100%" class="biztax-valuelistorother"  data-xbrl-prefix="pfs-gcd" data-xbrl-id="AddressType" data-xbrl-name="AddressType" data-xbrl-dimensionset="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress" data-xbrl-fieldtype="valuelistorother">
                  <tbody>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-vl" style="padding-left:10px">
                        <input type="radio" value="valuelist" />List</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AddressType_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AddressType" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress" data-xbrl-fieldtype="valuelist" data-xbrl-valuelistid="AddressTypeCodeHead" />
                      </td>
                    </tr>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-other" style="padding-left:10px">
                        <input type="radio" value="other" />Other</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AddressTypeOther_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AddressTypeOther" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress/AddressType" data-xbrl-fieldtype="stringItemType" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">Street</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Street_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Street" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">Nr</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Number_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Number" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">Box</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Box_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Box" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="1">Postal code and city</td>
              <td>
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PostalCodeCity_" data-xbrl-pres-period="" data-xbrl-period="" data-xbrl-name="PostalCodeCity" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress" data-xbrl-fieldtype="" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <table width="100%" class="biztax-valuelistorother"  data-xbrl-prefix="pfs-gcd" data-xbrl-id="PostalCodeCity" data-xbrl-name="PostalCodeCity" data-xbrl-dimensionset="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress" data-xbrl-fieldtype="valuelistorother">
                  <tbody>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-vl" style="padding-left:10px">
                        <input type="radio" value="valuelist" />List</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PostalCodeCity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PostalCodeCity" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress" data-xbrl-fieldtype="valuelist" data-xbrl-valuelistid="PostalCodeHead" />
                      </td>
                    </tr>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-other" style="padding-left:10px">
                        <input type="radio" value="other" />Other</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PostalCodeOther_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PostalCodeOther" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress/PostalCodeCity" data-xbrl-fieldtype="stringItemType" />
                      </td>
                    </tr>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-other" style="padding-left:10px">
                        <input type="radio" value="other" />City</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="City_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="City" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress/PostalCodeCity" data-xbrl-fieldtype="stringItemType" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="1">Country</td>
              <td>
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CountryCode_" data-xbrl-pres-period="" data-xbrl-period="" data-xbrl-name="CountryCode" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress" data-xbrl-fieldtype="" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <table width="100%" class="biztax-valuelistorother"  data-xbrl-prefix="pfs-gcd" data-xbrl-id="CountryCode" data-xbrl-name="CountryCode" data-xbrl-dimensionset="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress" data-xbrl-fieldtype="valuelistorother">
                  <tbody>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-vl" style="padding-left:10px">
                        <input type="radio" value="valuelist" />List</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CountryCode_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CountryCode" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress" data-xbrl-fieldtype="valuelist" data-xbrl-valuelistid="CountryCodeHead" />
                      </td>
                    </tr>
                    <tr>
                      <td class="biztax-td-name biztax-valuelistorother-other" style="padding-left:10px">
                        <input type="radio" value="other" />Other</td>
                      <td class="biztax-td-period" width="100px">
                        <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CountryCodeOther_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CountryCodeOther" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactAddress/CountryCode" data-xbrl-fieldtype="stringItemType" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="1">Phone or fax</td>
              <td>
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ContactPhoneFaxNumber_" data-xbrl-pres-period="" data-xbrl-period="" data-xbrl-name="ContactPhoneFaxNumber" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact" data-xbrl-fieldtype="" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">Description of the phone or fax number</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PhoneFaxNumber_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PhoneFaxNumber" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactPhoneFaxNumber" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">Local phone number</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LocalPhoneNumber_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LocalPhoneNumber" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactPhoneFaxNumber" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="1">E-mail</td>
              <td>
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ContactEmail_" data-xbrl-pres-period="" data-xbrl-period="" data-xbrl-name="ContactEmail" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact" data-xbrl-fieldtype="" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">E-mail address</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EmailAddress_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EmailAddress" data-xbrl-context="" data-xbrl-prefix="pfs-gcd" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="/DocumentInformation/DocumentContact/ContactEmail" data-xbrl-fieldtype="stringItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>