<?xml version="1.0" encoding="utf-8"?>
<div id="204.3_cnt">
  <h1>204.3 - Réductions de valeur pour pertes probables et provisions pour risques et charges</h1>
  <div id="WriteDownsDebtClaimsSection_cnt" class="biztax-panel">
    <div id="WriteDownsDebtClaimsSection" class="biztax-title">Réductions de valeur pour pertes probables</div>
    <div id="WriteDownsDebtClaimsSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="WriteDownsDebtClaimsSection" data-xbrl-cg-ids="WriteDownsDebtClaimsSection" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th rowspan="2" class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th rowspan="2" class="biztax-th-context-header" width="100px">Catégorie d’exonération</th>
              <th rowspan="2" class="biztax-th-context-header" width="100px">Exercice-numéro d'ordre réduction de valeur</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Nom du débiteur</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Adresse du débiteur</th>
              <th colspan="2" class="biztax-th-field-header" width="100px">Créance</th>
              <th colspan="2" class="biztax-th-field-header" width="100px">Réduction de valeur exonérée</th>
              <th colspan="3" class="biztax-th-panel">Diminution de la réduction de valeur exonérée sur créances commerciales</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Augmentation de la réduction de valeur exonérée au cours de l'exercice comptable</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Justification de la réduction de valeur exonérée</th>
            </tr>
            <tr>
              <th class="biztax-th-period" width="100px">FR-Bij het begin van het belastbare tijdperk</th>
              <th class="biztax-th-period" width="100px">FR-Bij het einde van het belastbare tijdperk</th>
              <th class="biztax-th-period" width="100px">FR-Bij het begin van het belastbare tijdperk</th>
              <th class="biztax-th-period" width="100px">FR-Bij het einde van het belastbare tijdperk</th>
              <th class="biztax-th-field-header" width="100px">Diminution de la réduction de valeur exonérée sur créances commerciales correspondant aux pertes qui sont devenues définitives au cours de l'exercice comptable</th>
              <th class="biztax-th-field-header" width="100px">Diminution de la réduction de valeur exonérée sur créances commerciales résultant de l'encaissement total ou partiel de la créance au cours de l'exercice comptable</th>
              <th class="biztax-th-field-header" width="100px">Diminution de la réduction de valeur exonérée sur créances commerciales résultant d'une nouvelle estimation de la perte probable au cours de l'exercice comptable</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ec:ExemptionCategoryDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-ec:UnalteredBalanceWriteDownDebtClaimMember">Inchangée</div>
                    <div data-value="d-ec:RemainingBalanceAfterDecreaseWriteDownDebtClaimMember">Diminuée</div>
                    <div data-value="d-ec:RemainingBalanceAfterIncreaseWriteDownDebtClaimMember">Augmentée</div>
                    <div data-value="d-ec:NewWriteDownDebtClaimMember">Nouvelle</div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-datatype="WriteDownDebtClaimTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IdentityTradeDebtor_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IdentityTradeDebtor" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="notEmptyStringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AddressTradeDebtor_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AddressTradeDebtor" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="notEmptyStringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DebtClaim_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="DebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DebtClaim_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="DebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptWriteDownDebtClaim_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ExemptWriteDownDebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptWriteDownDebtClaim_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="ExemptWriteDownDebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptWriteDownDebtClaimFinalWriteDownCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptWriteDownDebtClaimFinalWriteDownCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptWriteDownDebtClaimFullPartialCollectionCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptWriteDownDebtClaimFullPartialCollectionCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptWriteDownDebtClaimNewEstimationProbableLoss_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptWriteDownDebtClaimNewEstimationProbableLoss" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreaseExemptWriteDownDebtClaim_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreaseExemptWriteDownDebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="JustificationExemptWriteDown_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="JustificationExemptWriteDown" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="notEmptyStringItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
  <div id="ProvisionsRisksExpensesSection_cnt" class="biztax-panel">
    <div id="ProvisionsRisksExpensesSection" class="biztax-title">Provisions pour risques et charges</div>
    <div id="ProvisionsRisksExpensesSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="ProvisionsRisksExpensesSection" data-xbrl-cg-ids="ProvisionsRisksExpensesSection" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th rowspan="2" class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th rowspan="2" class="biztax-th-context-header" width="100px">Catégorie d’exonération</th>
              <th rowspan="2" class="biztax-th-context-header" width="100px">Nature de la charge</th>
              <th rowspan="2" class="biztax-th-context-header" width="100px">Exercice-numéro d'ordre provision</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Charge probable</th>
              <th colspan="2" class="biztax-th-field-header" width="100px">Provision exonérée</th>
              <th colspan="2" class="biztax-th-panel">Diminution de la provision exonérée</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Augmentation de la provision exonérée</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Justification de la provision exonérée</th>
            </tr>
            <tr>
              <th class="biztax-th-period" width="100px">FR-Bij het begin van het belastbare tijdperk</th>
              <th class="biztax-th-period" width="100px">FR-Bij het einde van het belastbare tijdperk</th>
              <th class="biztax-th-field-header" width="100px">Diminution de la provision exonérée résultant de la prise en charge effective au cours de l'exercice comptable</th>
              <th class="biztax-th-field-header" width="100px">Diminution de la provision exonérée résultant d'une nouvelle estimation de la charge probable au cours de l'exercice comptable</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ec:ExemptionCategoryDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-ec:UnalteredBalanceProvisionRisksExpensesMember">Inchangée</div>
                    <div data-value="d-ec:RemainingBalanceAfterDecreaseProvisionRisksExpensesMember">Diminuée</div>
                    <div data-value="d-ec:RemainingBalanceAfterIncreaseProvisionRisksExpensesMember">Augmentée</div>
                    <div data-value="d-ec:NewProvisionRisksExpensesMember">Nouvelle</div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-expt:ExpenseTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-expt:ProfessionalExpensesCurrentTaxPeriodMember">Activité professionnelle</div>
                    <div data-value="d-expt:ExpensesCompensationCoveredCurrentTaxPeriodMember">Indemnité obtenue</div>
                    <div data-value="d-expt:ExpensesOverhaulImportantRepairsMaximum10YearsMember">Grosse réparation</div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-datatype="ProvisionRiskExpenseTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ProbableCost_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="ProbableCost" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptProvisionRisksExpenses_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ExemptProvisionRisksExpenses" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptProvisionRisksExpenses_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="ExemptProvisionRisksExpenses" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptProvisionRisksExpensesBorneExpensesCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptProvisionRisksExpensesBorneExpensesCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptProvisionRisksExpensesNewEstimationProbableExpenses_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptProvisionRisksExpensesNewEstimationProbableExpenses" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreaseExemptProvisionRisksExpenses_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreaseExemptProvisionRisksExpenses" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="JustificationExemptProvision_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="JustificationExemptProvision" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="notEmptyStringItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
</div>