<?xml version="1.0" encoding="utf-8"?>
<div id="204.3_cnt">
  <h1>204.3 - Waardeverminderingen voor waarschijnlijke verliezen en voorzieningen voor risico's en kosten</h1>
  <div id="WriteDownsDebtClaimsSection_cnt" class="biztax-panel">
    <div id="WriteDownsDebtClaimsSection" class="biztax-title">Waardeverminderingen voor waarschijnlijke verliezen</div>
    <div id="WriteDownsDebtClaimsSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="WriteDownsDebtClaimsSection" data-xbrl-cg-ids="WriteDownsDebtClaimsSection" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th rowspan="2" class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th rowspan="2" class="biztax-th-context-header" width="100px">Vrijstellingscategorie</th>
              <th rowspan="2" class="biztax-th-context-header" width="100px">Aanslagjaar-volgnummer waardevermindering</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Naam van de schuldenaar</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Adres van de schuldenaar</th>
              <th colspan="2" class="biztax-th-field-header" width="100px">Schuldvordering</th>
              <th colspan="2" class="biztax-th-field-header" width="100px">Vrijgestelde waardevermindering</th>
              <th colspan="3" class="biztax-th-panel">Vermindering vrijgestelde waardevermindering op handelsvorderingen</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Verhoging vrijgestelde waardevermindering tijdens het boekjaar</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Verantwoording vrijgestelde waardevermindering</th>
            </tr>
            <tr>
              <th class="biztax-th-period" width="100px">Bij het begin van het belastbare tijdperk</th>
              <th class="biztax-th-period" width="100px">Bij het einde van het belastbare tijdperk</th>
              <th class="biztax-th-period" width="100px">Bij het begin van het belastbare tijdperk</th>
              <th class="biztax-th-period" width="100px">Bij het einde van het belastbare tijdperk</th>
              <th class="biztax-th-field-header" width="100px">Vermindering vrijgestelde waardevermindering op handelsvorderingen die overeenstemt met verliezen die tijdens het boekjaar definitief geworden zijn</th>
              <th class="biztax-th-field-header" width="100px">Vermindering vrijgestelde waardevermindering op handelsvorderingen ingevolge de gehele of gedeeltelijke inning van de vordering tijdens het boekjaar</th>
              <th class="biztax-th-field-header" width="100px">Vermindering vrijgestelde waardevermindering op handelsvorderingen ingevolge een nieuwe schatting van het waarschijnlijke verlies tijdens het boekjaar</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ec:ExemptionCategoryDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-ec:UnalteredBalanceWriteDownDebtClaimMember">Ongewijzigd</div>
                    <div data-value="d-ec:RemainingBalanceAfterDecreaseWriteDownDebtClaimMember">Verminderd</div>
                    <div data-value="d-ec:RemainingBalanceAfterIncreaseWriteDownDebtClaimMember">Verhoogd</div>
                    <div data-value="d-ec:NewWriteDownDebtClaimMember">Nieuw</div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-datatype="WriteDownDebtClaimTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IdentityTradeDebtor_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IdentityTradeDebtor" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="notEmptyStringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AddressTradeDebtor_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AddressTradeDebtor" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="notEmptyStringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DebtClaim_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="DebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DebtClaim_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="DebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptWriteDownDebtClaim_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ExemptWriteDownDebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptWriteDownDebtClaim_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="ExemptWriteDownDebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptWriteDownDebtClaimFinalWriteDownCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptWriteDownDebtClaimFinalWriteDownCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptWriteDownDebtClaimFullPartialCollectionCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptWriteDownDebtClaimFullPartialCollectionCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptWriteDownDebtClaimNewEstimationProbableLoss_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptWriteDownDebtClaimNewEstimationProbableLoss" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreaseExemptWriteDownDebtClaim_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreaseExemptWriteDownDebtClaim" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="JustificationExemptWriteDown_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="JustificationExemptWriteDown" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-ty:WriteDownDebtClaimTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="notEmptyStringItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
  <div id="ProvisionsRisksExpensesSection_cnt" class="biztax-panel">
    <div id="ProvisionsRisksExpensesSection" class="biztax-title">Voorzieningen voor risico's en kosten</div>
    <div id="ProvisionsRisksExpensesSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="ProvisionsRisksExpensesSection" data-xbrl-cg-ids="ProvisionsRisksExpensesSection" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th rowspan="2" class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th rowspan="2" class="biztax-th-context-header" width="100px">Vrijstellingscategorie</th>
              <th rowspan="2" class="biztax-th-context-header" width="100px">Aard van de kosten</th>
              <th rowspan="2" class="biztax-th-context-header" width="100px">Aanslagjaar-volgnummer voorziening</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Waarschijnlijke kost</th>
              <th colspan="2" class="biztax-th-field-header" width="100px">Vrijgestelde voorziening</th>
              <th colspan="2" class="biztax-th-panel">Vermindering van de vrijgestelde voorziening</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Verhoging van de vrijgestelde voorziening</th>
              <th rowspan="2" class="biztax-th-field-header" width="100px">Verantwoording vrijgestelde voorziening</th>
            </tr>
            <tr>
              <th class="biztax-th-period" width="100px">Bij het begin van het belastbare tijdperk</th>
              <th class="biztax-th-period" width="100px">Bij het einde van het belastbare tijdperk</th>
              <th class="biztax-th-field-header" width="100px">Vermindering van de vrijgestelde voorziening ingevolge kosten die tijdens het boekjaar effectief gedragen zijn</th>
              <th class="biztax-th-field-header" width="100px">Vermindering van de vrijgestelde voorziening ingevolge een nieuwe schatting van de waarschijnlijke kosten tijdens het boekjaar</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ec:ExemptionCategoryDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-ec:UnalteredBalanceProvisionRisksExpensesMember">Ongewijzigd</div>
                    <div data-value="d-ec:RemainingBalanceAfterDecreaseProvisionRisksExpensesMember">Verminderd</div>
                    <div data-value="d-ec:RemainingBalanceAfterIncreaseProvisionRisksExpensesMember">Verhoogd</div>
                    <div data-value="d-ec:NewProvisionRisksExpensesMember">Nieuw</div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-expt:ExpenseTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-expt:ProfessionalExpensesCurrentTaxPeriodMember">Beroepswerkzaamheid</div>
                    <div data-value="d-expt:ExpensesCompensationCoveredCurrentTaxPeriodMember">Verkregen vergoeding</div>
                    <div data-value="d-expt:ExpensesOverhaulImportantRepairsMaximum10YearsMember">Grote herstelling</div>
                  </div>
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-datatype="ProvisionRiskExpenseTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ProbableCost_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="ProbableCost" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptProvisionRisksExpenses_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ExemptProvisionRisksExpenses" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptProvisionRisksExpenses_I-End" data-xbrl-pres-period="I-End" data-xbrl-period="I-End" data-xbrl-name="ExemptProvisionRisksExpenses" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptProvisionRisksExpensesBorneExpensesCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptProvisionRisksExpensesBorneExpensesCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DecreaseExemptProvisionRisksExpensesNewEstimationProbableExpenses_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DecreaseExemptProvisionRisksExpensesNewEstimationProbableExpenses" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreaseExemptProvisionRisksExpenses_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreaseExemptProvisionRisksExpenses" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="JustificationExemptProvision_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="JustificationExemptProvision" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ec:ExemptionCategoryDimension/d-expt:ExpenseTypeDimension/d-ty:ProvisionRiskExpenseTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="notEmptyStringItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
</div>