<?xml version="1.0" encoding="utf-8"?>
<div id="275.2.A.2_cnt">
  <h1>275.2.A.2 - Déclaration à l’impôt des non-résidents - Personnes morales qui ne se livrent pas à une exploitation ou à des opérations de caractère lucratif</h1>
  <div id="ImmovablePropertyIncomeSection_cnt" class="biztax-panel">
    <div id="ImmovablePropertyIncomeSection" class="biztax-title">Revenus immobiliers</div>
    <div id="ImmovablePropertyIncomeSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="3">Revenus d'immeubles donnés en location</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="LetOutImmovablePropertyIncomeBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LetOutImmovablePropertyIncomeBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Montant brut du loyer et des avantages locatifs</td>
          <td class="biztax-td-code" width="50px">RM100 N140</td>
          <td class="biztax-td-code" width="50px">5001 A1</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="GrossRentRentalBenefitsBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="GrossRentRentalBenefitsBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Frais déductibles</td>
          <td class="biztax-td-code" width="50px">RM101 N141</td>
          <td class="biztax-td-code" width="50px">5002 A2</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductibleCostsRentRentalBenefitsBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleCostsRentRentalBenefitsBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Revenus nets d'immeubles donnés en location</td>
          <td class="biztax-td-code" width="50px">RM102 N142</td>
          <td class="biztax-td-code" width="50px">5003 A3</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="NetRentRentalBenefitsBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NetRentRentalBenefitsBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Revenus cadastraux indexés</td>
          <td class="biztax-td-code" width="50px">RM103 N143</td>
          <td class="biztax-td-code" width="50px">5004 A4</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IndexedCadastralIncomeBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IndexedCadastralIncomeBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Sommes obtenues à l’occasion de la constitution ou de la cession d’un droit d’emphytéose ou de superficie ou de droits immobiliers similaires</td>
          <td class="biztax-td-code" width="50px">RM105 N145</td>
          <td class="biztax-td-code" width="50px">5010 B</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncomeConstitutionTransferLongLeaseRightsBuildingRightsPlantingRightsSimilarLandRightsBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncomeConstitutionTransferLongLeaseRightsBuildingRightsPlantingRightsSimilarLandRightsBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Revenus imposables</td>
          <td class="biztax-td-code" width="50px">RM106 N146</td>
          <td class="biztax-td-code" width="50px">5020 C</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="TaxableImmovablePropertyIncomeBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableImmovablePropertyIncomeBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="FinancialAdvantagesBenefitsAllKindSection_cnt" class="biztax-panel">
    <div id="FinancialAdvantagesBenefitsAllKindSection" class="biztax-title">Avantages financiers ou de toute nature</div>
    <div id="FinancialAdvantagesBenefitsAllKindSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Montant imposable</td>
          <td class="biztax-td-code" width="50px">135</td>
          <td class="biztax-td-code" width="50px">5310</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableFinancialAdvantagesBenefitsAllKind_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableFinancialAdvantagesBenefitsAllKind" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="PensionsCapitalsEmployerContributionsEmployerPremiumsSection_cnt" class="biztax-panel">
    <div id="PensionsCapitalsEmployerContributionsEmployerPremiumsSection" class="biztax-title">Pensions, capitaux, cotisations et primes patronales</div>
    <div id="PensionsCapitalsEmployerContributionsEmployerPremiumsSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Montant imposable</td>
          <td class="biztax-td-code" width="50px">RM140 N147</td>
          <td class="biztax-td-code" width="50px">5320</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxablePensionsCapitalsEmployerContributionsEmployerPremiums_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxablePensionsCapitalsEmployerContributionsEmployerPremiums" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="NonDeductibleCarExpensesPartBenefitsAllKindSection_cnt" class="biztax-panel">
    <div id="NonDeductibleCarExpensesPartBenefitsAllKindSection" class="biztax-title">Frais de voiture à concurrence d’une quotité de l’avantage de toute nature</div>
    <div id="NonDeductibleCarExpensesPartBenefitsAllKindSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Montant imposable</td>
          <td class="biztax-td-code" width="50px">136</td>
          <td class="biztax-td-code" width="50px">5206</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NonDeductibleCarExpensesPartBenefitsAllKindLegalEntity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NonDeductibleCarExpensesPartBenefitsAllKindLegalEntity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="UnjustifiedExpensesFinancialAdvantagesBenefitsAllKindSection_cnt" class="biztax-panel">
    <div id="UnjustifiedExpensesFinancialAdvantagesBenefitsAllKindSection" class="biztax-title">Dépenses ou avantages de toute nature non justifiés et avantages financiers ou de toute nature</div>
    <div id="UnjustifiedExpensesFinancialAdvantagesBenefitsAllKindSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Montant imposable</td>
          <td class="biztax-td-code" width="50px">129</td>
          <td class="biztax-td-code" width="50px">5330</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableUnjustifiedExpensesFinancialAdvantagesBenefitsAllKind_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableUnjustifiedExpensesFinancialAdvantagesBenefitsAllKind" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="SeparateAssessmentAdditionalIndividualPensionProvisionsSection_cnt" class="biztax-panel">
    <div id="SeparateAssessmentAdditionalIndividualPensionProvisionsSection" class="biztax-title">Cotisation distincte sur les provisions constituées en exécution d’engagements individuels de pension complémentaire</div>
    <div id="SeparateAssessmentAdditionalIndividualPensionProvisionsSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Montant total des provisions existant à la fin de la dernière année comptable se clôturant avant le 1.1.2012</td>
          <td class="biztax-td-code" width="50px">212</td>
          <td class="biztax-td-code" width="50px">5533</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="SeparateAssessmentAdditionalIndividualPensionProvisionsOnEndTaxPeriodClosingDateBefore2012-01-01LegalEntity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="SeparateAssessmentAdditionalIndividualPensionProvisionsOnEndTaxPeriodClosingDateBefore2012-01-01LegalEntity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Le contribuable ne sera plus en tant que tel assujetti pour la période imposable suivante à l’impôt des non-résidents suite à une absorption ou une scission dans le cadre d’une fusion, d’une opération assimilée à une fusion ou d’une scission ou d’une opération de droit des sociétés similaire en droit étranger, ou suite à un transfert de siège social ou à toute autre opération</td>
          <td class="biztax-td-code" width="50px">214</td>
          <td class="biztax-td-code" width="50px">5535</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NotLiableLegalEntityIncomeTaxNextTaxPeriodDueToMergerDivisionSimilarTransactions_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NotLiableLegalEntityIncomeTaxNextTaxPeriodDueToMergerDivisionSimilarTransactions" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="booleanItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CapitalGainsSection_cnt" class="biztax-panel">
    <div id="CapitalGainsSection" class="biztax-title">Plus-values</div>
    <div id="CapitalGainsSection_children" class="biztax-panel-children">
      <div id="CapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyTitle_cnt" class="biztax-panel">
        <div id="CapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyTitle" class="biztax-title">Plus-values sur des immeubles non bâtis ou sur certains droits réels portant sur de tels biens</div>
        <div id="CapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-code" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-code" width="50px">Code </th>
              <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Résultat net des plus-values et des pertes relatives à des biens ou droits de l'espèce qui ont été aliénés au cours de la période imposable</td>
              <td class="biztax-td-code" width="50px">
                <span>
                  <space />
                </span>
              </td>
              <td class="biztax-td-code" width="50px">5101 A/P B/N</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NetRealisedCapitalGainsLossesUnbuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NetRealisedCapitalGainsLossesUnbuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Solde des pertes restant à compenser éprouvées au cours des cinq périodes imposables antérieures lors de l'aliénation de biens ou droits de l'espèce, à limiter au résultat positif net</td>
              <td class="biztax-td-code" width="50px">
                <span>
                  <space />
                </span>
              </td>
              <td class="biztax-td-code" width="50px">5103 C</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CompensableLossesUnbuiltImmovablePropertyRightsInRemImmovablePropertyFivePreviousTaxPeriods_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CompensableLossesUnbuiltImmovablePropertyRightsInRemImmovablePropertyFivePreviousTaxPeriods" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="3">Plus-values imposables</td>
              <td>
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">Plus-values imposables à 33 %</td>
              <td class="biztax-td-code" width="50px">130</td>
              <td class="biztax-td-code" width="50px">5111 D1</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyRate3300_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyRate3300" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">Plus-values imposables à 16,5 %</td>
              <td class="biztax-td-code" width="50px">131</td>
              <td class="biztax-td-code" width="50px">5112 D2</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyRate1650_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyRate1650" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Montant de l'impôt qui a été fixé par le receveur de l'enregistrement</td>
              <td class="biztax-td-code" width="50px">132</td>
              <td class="biztax-td-code" width="50px">2113 E</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="RegistrationDutiesUnbuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RegistrationDutiesUnbuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="CapitalGainsBuiltImmovablePropertyRightsInRemImmovablePropertyTitle_cnt" class="biztax-panel">
        <div id="CapitalGainsBuiltImmovablePropertyRightsInRemImmovablePropertyTitle" class="biztax-title">Plus-values sur des immeubles bâtis ou sur certains droits réels portant sur de tels biens</div>
        <div id="CapitalGainsBuiltImmovablePropertyRightsInRemImmovablePropertyTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-code" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-code" width="50px">Code </th>
              <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Résultat net des plus-values et des pertes relatives à des biens ou droits de l'espèce qui ont été aliénés au cours de la période imposable</td>
              <td class="biztax-td-code" width="50px">
                <span>
                  <space />
                </span>
              </td>
              <td class="biztax-td-code" width="50px">5121 F/P G/N</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NetRealisedCapitalGainsLossesBuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NetRealisedCapitalGainsLossesBuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Solde des pertes restant à compenser éprouvées au cours des cinq périodes imposables antérieures lors de l'aliénation de biens ou droits de l'espèce, à limiter au résultat positif net</td>
              <td class="biztax-td-code" width="50px">
                <span>
                  <space />
                </span>
              </td>
              <td class="biztax-td-code" width="50px">5123 H</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CompensableLossesBuiltImmovablePropertyRightsInRemImmovablePropertyFivePreviousTaxPeriods_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CompensableLossesBuiltImmovablePropertyRightsInRemImmovablePropertyFivePreviousTaxPeriods" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Plus-values imposables</td>
              <td class="biztax-td-code" width="50px">RM132 N133</td>
              <td class="biztax-td-code" width="50px">5130 I</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="TaxableRealisedCapitalGainsBuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableRealisedCapitalGainsBuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Montant de l'impôt qui a été fixé par le receveur de l'enregistrement</td>
              <td class="biztax-td-code" width="50px">134</td>
              <td class="biztax-td-code" width="50px">2131 J</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="RegistrationDutiesBuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RegistrationDutiesBuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="DocumentsStatementsSection_cnt" class="biztax-panel">
    <div id="DocumentsStatementsSection" class="biztax-title">Documents et relevés divers</div>
    <div id="DocumentsStatementsSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Pour les personnes morales étrangères qui établissent des comptes annuels, le bilan établi par le siège social et les comptes annuels de l'établissement sont joints à la déclaration.  Pour les autres personnes morales, les comptes nécessaires à l'appréciation du régime d'imposition applicable et des revenus imposables sont joints à la déclaration.</td>
          <td class="biztax-td-period" width="100px" />
        </tr>
      </table>
    </div>
  </div>
</div>