﻿.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}
.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}
  .x-grid-checkheader {
            height: 13px;
            width: 13px;
            vertical-align: -1px;
            background: url("../../../resources/themes/images/default/form/checkbox.gif");
            border: 0 none;
            overflow: hidden;
            padding: 0;
            margin-left: 40%;
        }
        
        .x-grid-checkheader-checked {
            background-position: 0 -13px;
        }

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}