<?xml version="1.0" encoding="utf-8"?>
<div id="275.2.A.2_cnt">
  <h1>275.2.A.2 - Tax Return Legal Person Not Engaged In Business Profit Making Activity Form</h1>
  <div id="ImmovablePropertyIncomeSection_cnt" class="biztax-panel">
    <div id="ImmovablePropertyIncomeSection" class="biztax-title">Immovable Property Income Section</div>
    <div id="ImmovablePropertyIncomeSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="2">Let Out Immovable Property Income Belgium</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="LetOutImmovablePropertyIncomeBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LetOutImmovablePropertyIncomeBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Gross Rent Rental Benefits Belgium</td>
          <td class="biztax-td-code" width="50px">5001 A1</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="GrossRentRentalBenefitsBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="GrossRentRentalBenefitsBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Deductible Costs Rent Rental Benefits Belgium</td>
          <td class="biztax-td-code" width="50px">5002 A2</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductibleCostsRentRentalBenefitsBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleCostsRentRentalBenefitsBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Net Rent Rental Benefits Belgium</td>
          <td class="biztax-td-code" width="50px">5003 A3</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="NetRentRentalBenefitsBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NetRentRentalBenefitsBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Indexed Cadastral Income Belgium</td>
          <td class="biztax-td-code" width="50px">5004 A4</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IndexedCadastralIncomeBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IndexedCadastralIncomeBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Income Constitution Transfer Long Lease Rights Building Rights Planting Rights Similar Land Rights Belgium</td>
          <td class="biztax-td-code" width="50px">5010 B</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncomeConstitutionTransferLongLeaseRightsBuildingRightsPlantingRightsSimilarLandRightsBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncomeConstitutionTransferLongLeaseRightsBuildingRightsPlantingRightsSimilarLandRightsBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Taxable Immovable Property Income Belgium</td>
          <td class="biztax-td-code" width="50px">5020 C</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="TaxableImmovablePropertyIncomeBelgium_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableImmovablePropertyIncomeBelgium" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="FinancialAdvantagesBenefitsAllKindSection_cnt" class="biztax-panel">
    <div id="FinancialAdvantagesBenefitsAllKindSection" class="biztax-title">Financial Advantages Benefits All Kind Section</div>
    <div id="FinancialAdvantagesBenefitsAllKindSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Taxable Financial Advantages Benefits All Kind</td>
          <td class="biztax-td-code" width="50px">5310</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableFinancialAdvantagesBenefitsAllKind_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableFinancialAdvantagesBenefitsAllKind" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="PensionsCapitalsEmployerContributionsEmployerPremiumsSection_cnt" class="biztax-panel">
    <div id="PensionsCapitalsEmployerContributionsEmployerPremiumsSection" class="biztax-title">Pensions Capitals Employer Contributions Employer Premiums Section</div>
    <div id="PensionsCapitalsEmployerContributionsEmployerPremiumsSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Taxable Pensions Capitals Employer Contributions Employer Premiums</td>
          <td class="biztax-td-code" width="50px">5320</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxablePensionsCapitalsEmployerContributionsEmployerPremiums_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxablePensionsCapitalsEmployerContributionsEmployerPremiums" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="NonDeductibleCarExpensesPartBenefitsAllKindSection_cnt" class="biztax-panel">
    <div id="NonDeductibleCarExpensesPartBenefitsAllKindSection" class="biztax-title">Non Deductible Car Expenses Part Benefits All Kind Section</div>
    <div id="NonDeductibleCarExpensesPartBenefitsAllKindSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Non Deductible Car Expenses Part Benefits All Kind Legal Entity</td>
          <td class="biztax-td-code" width="50px">5206</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NonDeductibleCarExpensesPartBenefitsAllKindLegalEntity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NonDeductibleCarExpensesPartBenefitsAllKindLegalEntity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="UnjustifiedExpensesFinancialAdvantagesBenefitsAllKindSection_cnt" class="biztax-panel">
    <div id="UnjustifiedExpensesFinancialAdvantagesBenefitsAllKindSection" class="biztax-title">Unjustified Expenses Financial Advantages Benefits All Kind Section</div>
    <div id="UnjustifiedExpensesFinancialAdvantagesBenefitsAllKindSection_children" class="biztax-panel-children">
      <div id="TaxableUnjustifiedExpensesBenefitsAllKindTitle_cnt" class="biztax-panel">
        <div id="TaxableUnjustifiedExpensesBenefitsAllKindTitle" class="biztax-title">Taxable Unjustified Expenses Benefits All Kind Title</div>
        <div id="TaxableUnjustifiedExpensesBenefitsAllKindTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-code" width="50px">Code </th>
              <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Taxable Unjustified Expenses Benefits All Kind Rate</td>
              <td class="biztax-td-code" width="50px">5334</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableUnjustifiedExpensesBenefitsAllKindRate5000_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableUnjustifiedExpensesBenefitsAllKindRate5000" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Taxable Unjustified Expenses Benefits All Kind Rate</td>
              <td class="biztax-td-code" width="50px">5335</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableUnjustifiedExpensesBenefitsAllKindRate10000_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableUnjustifiedExpensesBenefitsAllKindRate10000" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="TaxableFinancialAdvantagesBenefitsAllKindTitle_cnt" class="biztax-panel">
        <div id="TaxableFinancialAdvantagesBenefitsAllKindTitle" class="biztax-title">Taxable Financial Advantages Benefits All Kind Title</div>
        <div id="TaxableFinancialAdvantagesBenefitsAllKindTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-code" width="50px">Code </th>
              <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Taxable Financial Advantages Benefits All Kind Rate</td>
              <td class="biztax-td-code" width="50px">5336</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableFinancialAdvantagesBenefitsAllKindRate5000_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableFinancialAdvantagesBenefitsAllKindRate5000" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Taxable Financial Advantages Benefits All Kind Rate</td>
              <td class="biztax-td-code" width="50px">5337</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableFinancialAdvantagesBenefitsAllKindRate10000_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableFinancialAdvantagesBenefitsAllKindRate10000" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="SeparateAssessmentAdditionalIndividualPensionProvisionsSection_cnt" class="biztax-panel">
    <div id="SeparateAssessmentAdditionalIndividualPensionProvisionsSection" class="biztax-title">Separate Assessment Additional Individual Pension Provisions Section</div>
    <div id="SeparateAssessmentAdditionalIndividualPensionProvisionsSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Separate Assessment Additional Individual Pension Provisions On End Tax Period Closing Date Before Legal Entity</td>
          <td class="biztax-td-code" width="50px">5533</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="SeparateAssessmentAdditionalIndividualPensionProvisionsOnEndTaxPeriodClosingDateBefore2012-01-01LegalEntity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="SeparateAssessmentAdditionalIndividualPensionProvisionsOnEndTaxPeriodClosingDateBefore2012-01-01LegalEntity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CapitalGainsSection_cnt" class="biztax-panel">
    <div id="CapitalGainsSection" class="biztax-title">Capital Gains Section</div>
    <div id="CapitalGainsSection_children" class="biztax-panel-children">
      <div id="CapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyTitle_cnt" class="biztax-panel">
        <div id="CapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyTitle" class="biztax-title">Capital Gains Unbuilt Immovable Property Rights In Rem Immovable Property Title</div>
        <div id="CapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-code" width="50px">Code </th>
              <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Net Realised Capital Gains Losses Unbuilt Immovable Property Rights In Rem Immovable Property</td>
              <td class="biztax-td-code" width="50px">5101 A/P B/N</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NetRealisedCapitalGainsLossesUnbuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NetRealisedCapitalGainsLossesUnbuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Compensable Losses Unbuilt Immovable Property Rights In Rem Immovable Property Five Previous Tax Periods</td>
              <td class="biztax-td-code" width="50px">5103 C</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CompensableLossesUnbuiltImmovablePropertyRightsInRemImmovablePropertyFivePreviousTaxPeriods_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CompensableLossesUnbuiltImmovablePropertyRightsInRemImmovablePropertyFivePreviousTaxPeriods" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr class="biztax-panel-table biztax-panel-total">
              <td colspan="2">Taxable Realised Capital Gains Unbuilt Immovable Property Rights In Rem Immovable Property</td>
              <td>
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">Taxable Realised Capital Gains Unbuilt Immovable Property Rights In Rem Immovable Property Rate</td>
              <td class="biztax-td-code" width="50px">5111 D1</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyRate3300_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyRate3300" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name" style=" padding-left:20px ">Taxable Realised Capital Gains Unbuilt Immovable Property Rights In Rem Immovable Property Rate</td>
              <td class="biztax-td-code" width="50px">5112 D2</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyRate1650_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableRealisedCapitalGainsUnbuiltImmovablePropertyRightsInRemImmovablePropertyRate1650" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Registration Duties Unbuilt Immovable Property Rights In Rem Immovable Property</td>
              <td class="biztax-td-code" width="50px">2113 E</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="RegistrationDutiesUnbuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RegistrationDutiesUnbuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="CapitalGainsBuiltImmovablePropertyRightsInRemImmovablePropertyTitle_cnt" class="biztax-panel">
        <div id="CapitalGainsBuiltImmovablePropertyRightsInRemImmovablePropertyTitle" class="biztax-title">Capital Gains Built Immovable Property Rights In Rem Immovable Property Title</div>
        <div id="CapitalGainsBuiltImmovablePropertyRightsInRemImmovablePropertyTitle_children" class="biztax-panel-children">
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-name">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-code" width="50px">Code </th>
              <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
            </tr>
            <tr>
              <td class="biztax-td-name">Net Realised Capital Gains Losses Built Immovable Property Rights In Rem Immovable Property</td>
              <td class="biztax-td-code" width="50px">5121 F/P G/N</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NetRealisedCapitalGainsLossesBuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NetRealisedCapitalGainsLossesBuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Compensable Losses Built Immovable Property Rights In Rem Immovable Property Five Previous Tax Periods</td>
              <td class="biztax-td-code" width="50px">5123 H</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CompensableLossesBuiltImmovablePropertyRightsInRemImmovablePropertyFivePreviousTaxPeriods_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CompensableLossesBuiltImmovablePropertyRightsInRemImmovablePropertyFivePreviousTaxPeriods" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Taxable Realised Capital Gains Built Immovable Property Rights In Rem Immovable Property</td>
              <td class="biztax-td-code" width="50px">5130 I</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="TaxableRealisedCapitalGainsBuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableRealisedCapitalGainsBuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
            <tr>
              <td class="biztax-td-name">Registration Duties Built Immovable Property Rights In Rem Immovable Property</td>
              <td class="biztax-td-code" width="50px">2131 J</td>
              <td class="biztax-td-period" width="100px">
                <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="RegistrationDutiesBuiltImmovablePropertyRightsInRemImmovableProperty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RegistrationDutiesBuiltImmovablePropertyRightsInRemImmovableProperty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="DocumentsStatementsSection_cnt" class="biztax-panel">
    <div id="DocumentsStatementsSection" class="biztax-title">Documents Statements Section</div>
    <div id="DocumentsStatementsSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Statutory Accounts Accounts Assessment Liability Foreign Legal Entities Mandatory Annexes</td>
          <td class="biztax-td-period" width="100px" />
        </tr>
      </table>
    </div>
  </div>
</div>