<?xml version="1.0" encoding="utf-8"?>
<div id="275C_cnt">
  <h1>275C - Allowance Corporate Equity Form</h1>
  <div id="CalculationAllowanceCorporateEquitySection_cnt" class="biztax-panel">
    <div id="CalculationAllowanceCorporateEquitySection" class="biztax-title">Calculation Allowance Corporate Equity Section</div>
    <div id="CalculationAllowanceCorporateEquitySection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">EN-Bij het begin van het belastbare tijdperk</th>
          <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Equity</td>
          <td class="biztax-td-code" width="50px">8001</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Equity_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="Equity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr class="biztax-panel-table biztax-panel-total">
          <td colspan="3">Deductions Equity Allowance Corporate Equity</td>
          <td>
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="DeductionsEquityAllowanceCorporateEquity_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="DeductionsEquityAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Own Shares Fiscal Value</td>
          <td class="biztax-td-code" width="50px">8011</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="OwnSharesFiscalValue_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="OwnSharesFiscalValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Financial Fixed Assets Participations Other Shares</td>
          <td class="biztax-td-code" width="50px">8012</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FinancialFixedAssetsParticipationsOtherShares_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="FinancialFixedAssetsParticipationsOtherShares" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Shares Income Eligible Deduction P E Exempt Income Movable Assets</td>
          <td class="biztax-td-code" width="50px">8024</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="SharesIncomeEligibleDeductionPEExemptIncomeMovableAssets_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="SharesIncomeEligibleDeductionPEExemptIncomeMovableAssets" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Tangible Fixed Assets Unreasonable Related Costs</td>
          <td class="biztax-td-code" width="50px">8016</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TangibleFixedAssetsUnreasonableRelatedCosts_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="TangibleFixedAssetsUnreasonableRelatedCosts" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Investments No Periodical Income</td>
          <td class="biztax-td-code" width="50px">8017</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentsNoPeriodicalIncome_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="InvestmentsNoPeriodicalIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Immovable Property Use Manager</td>
          <td class="biztax-td-code" width="50px">8018</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ImmovablePropertyUseManager_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ImmovablePropertyUseManager" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Unrealised Expressed Capital Gains</td>
          <td class="biztax-td-code" width="50px">8019</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="UnrealisedExpressedCapitalGains_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="UnrealisedExpressedCapitalGains" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Tax Credit Research Development Deduction Equity Allowance Corporate Equity</td>
          <td class="biztax-td-code" width="50px">8020</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxCreditResearchDevelopmentDeductionEquityAllowanceCorporateEquity_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="TaxCreditResearchDevelopmentDeductionEquityAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Investment Grants</td>
          <td class="biztax-td-code" width="50px">8021</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="InvestmentGrants_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="InvestmentGrants" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Actualisation Stock Recognised Diamond Traders</td>
          <td class="biztax-td-code" width="50px">8022</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ActualisationStockRecognisedDiamondTraders_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="ActualisationStockRecognisedDiamondTraders" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Borrowed Funds Main Establishment Interest Charged Taxable Result Belgian Branch</td>
          <td class="biztax-td-code" width="50px">8023</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BorrowedFundsMainEstablishmentInterestChargedTaxableResultBelgianBranch_I-Start" data-xbrl-pres-period="I-Start" data-xbrl-period="I-Start" data-xbrl-name="BorrowedFundsMainEstablishmentInterestChargedTaxableResultBelgianBranch" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Movement Equity After Deductions Allowance Corporate Equity</td>
          <td class="biztax-td-code" width="50px">8040</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="MovementEquityAfterDeductionsAllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementEquityAfterDeductionsAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Allowance Corporate Equity Current Tax Period</td>
          <td class="biztax-td-code" width="50px">8050</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="AllowanceCorporateEquityCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AllowanceCorporateEquityCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table">
          <td colspan="4">Deductible Allowance Corporate Equity Current Assessment Year Before Deductions Branch Immovable Property In E E A Outside E E A Treaty Title</td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Applicable Rate Allowance Corporate Equity</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px" />
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Deductible Allowance Corporate Equity Current Assessment Year</td>
          <td class="biztax-td-code" width="50px">8051</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductibleAllowanceCorporateEquityCurrentAssessmentYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductibleAllowanceCorporateEquityCurrentAssessmentYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Deduction Branch Immovable Property In E E A Treaty</td>
          <td class="biztax-td-code" width="50px">8061</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductionBranchImmovablePropertyInEEATreaty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionBranchImmovablePropertyInEEATreaty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Deduction Branch Immovable Property Outside E E A Treaty</td>
          <td class="biztax-td-code" width="50px">8062</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductionBranchImmovablePropertyOutsideEEATreaty_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionBranchImmovablePropertyOutsideEEATreaty" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Deductions Branch Immovable Property In E E A Outside E E A Treaty After Deductions</td>
          <td class="biztax-td-code" width="50px">8070</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="DeductionsBranchImmovablePropertyInEEAOutsideEEATreatyAfterDeductions_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionsBranchImmovablePropertyInEEAOutsideEEATreatyAfterDeductions" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Allowance Corporate Equity</td>
          <td class="biztax-td-code" width="50px">1435</td>
          <td class="biztax-td-period" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CalculationCarryOverExemptionsAllowanceCorporateEquitySection_cnt" class="biztax-panel">
    <div id="CalculationCarryOverExemptionsAllowanceCorporateEquitySection" class="biztax-title">Calculation Carry Over Exemptions Allowance Corporate Equity Section</div>
    <div id="CalculationCarryOverExemptionsAllowanceCorporateEquitySection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">EN-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Exemptions Allowance Corporate Equity Accumulated Up To And Including Assessment Year</td>
          <td class="biztax-td-code" width="50px">1711</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Deduction Exemptions Allowance Corporate Equity Accumulated Up To And Including Assessment Year</td>
          <td class="biztax-td-code" width="50px">1438</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DeductionExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DeductionExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Not Deducted Exemptions Allowance Corporate Equity Accumulated Up To And Including Assessment Year Limit Rate</td>
          <td class="biztax-td-code" width="50px">8081</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NotDeductedExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012LimitRate6000_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NotDeductedExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012LimitRate6000" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Not Deducted Permanently Lost Exceeds Seven Years Exemptions Allowance Corporate Equity Accumulated Up To And Including Assessment Year</td>
          <td class="biztax-td-code" width="50px">8082</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NotDeductedPermanentlyLostExceedsSevenYearsExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NotDeductedPermanentlyLostExceedsSevenYearsExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Carry Over Exemptions Allowance Corporate Equity Accumulated Up To And Including Assessment Year</td>
          <td class="biztax-td-code" width="50px">1712</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="CarryOverExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CarryOverExemptionsAllowanceCorporateEquityAccumulatedUpToAndIncludingAssessmentYear2012" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="DetailMovementEquityAfterDeductionsAllowanceCorporateEquitySection_cnt" class="biztax-panel">
    <div id="DetailMovementEquityAfterDeductionsAllowanceCorporateEquitySection" class="biztax-title">Detail Movement Equity After Deductions Allowance Corporate Equity Section</div>
    <div id="DetailMovementEquityAfterDeductionsAllowanceCorporateEquitySection_children" class="biztax-panel-children">
      <div id="ApplicableDurationMovementEquityAllowanceCorporateEquity_cnt" class="biztax-panel">
        <div id="ApplicableDurationMovementEquityAllowanceCorporateEquity" class="biztax-title">Applicable Duration Movement Equity Allowance Corporate Equity</div>
        <div id="ApplicableDurationMovementEquityAllowanceCorporateEquity_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="ApplicableDurationMovementEquityAllowanceCorporateEquity" data-xbrl-cg-ids="ApplicableDurationMovementEquityAllowanceCorporateEquity" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-context-header" width="100px"></th>
                  <th class="biztax-th-field-header" width="100px">Calculation Weighted Average Movement Equity After Deductions Allowance Corporate Equity</th>
                  <th class="biztax-th-field-header" width="100px">Movement Equity After Deductions Allowance Corporate Equity</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DescriptionTypedDimension" data-xbrl-datatype="DescriptionTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:DateTypedDimension" data-xbrl-datatype="date" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CalculationWeightedAverageMovementEquityAfterDeductionsAllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CalculationWeightedAverageMovementEquityAfterDeductionsAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonEmptyNormalizedStringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="MovementEquityAfterDeductionsAllowanceCorporateEquity_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementEquityAfterDeductionsAllowanceCorporateEquity" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-ty:DateTypedDimension/d-ty:DescriptionTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="monetary14D2ItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
    </div>
  </div>
</div>