<?xml version="1.0" encoding="utf-8"?>
<div id="275K_cnt">
  <h1>275K - Gespreide belasting van meerwaarden op bepaalde effecten</h1>
  <div id="CapitalGainsSpecificSecuritiesSection_cnt" class="biztax-panel">
    <div id="CapitalGainsSpecificSecuritiesSection" class="biztax-title">Gespreid te belasten meerwaarden op bepaalde effecten, uitgegeven of gewaarborgd door openbare instellingen</div>
    <div id="CapitalGainsSpecificSecuritiesSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="CapitalGainsSpecificSecuritiesSection" data-xbrl-cg-ids="CapitalGainsSpecificSecuritiesSection" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px">Aanslagjaar-volgnummer meerwaarde</th>
              <th class="biztax-th-context-header" width="100px">Activa soort</th>
              <th class="biztax-th-field-header" width="100px">Omschrijving</th>
              <th class="biztax-th-field-header" width="100px">Datum van belegging</th>
              <th class="biztax-th-field-header" width="100px">Datum van vervreemding</th>
              <th class="biztax-th-field-header" width="100px">Verkoopprijs</th>
              <th class="biztax-th-field-header" width="100px">Aanschaffingswaarde</th>
              <th class="biztax-th-field-header" width="100px">Fiscaal aangenomen waardeverminderingen</th>
              <th class="biztax-th-field-header" width="100px">Fiscale nettowaarde</th>
              <th class="biztax-th-field-header" width="100px">Verwezenlijkte meerwaarde</th>
              <th class="biztax-th-field-header" width="100px">Monetair gedeelte verwezenlijkte meerwaarde</th>
              <th class="biztax-th-field-header" width="100px">Niet-monetair gedeelte verwezenlijkte meerwaarde</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:CapitalGainTypedDimension" data-xbrl-datatype="CapitalGainTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-asst:AssetTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-asst:SpecificSecurityMember">Bepaald effect</div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Description_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Description" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonEmptyNormalizedStringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateInvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateInvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRealisation_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRealisation" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="SellingPrice_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="SellingPrice" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxAcceptedWriteDownsInvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxAcceptedWriteDownsInvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="FiscalNetWorth_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FiscalNetWorth" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="RealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="RealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="MonetaryFractionRealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MonetaryFractionRealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="NonMonetaryFractionRealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NonMonetaryFractionRealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
  <div id="ReinvestmentsSpecificSecuritiesSection_cnt" class="biztax-panel">
    <div id="ReinvestmentsSpecificSecuritiesSection" class="biztax-title">Herbeleggingen in bepaalde effecten</div>
    <div id="ReinvestmentsSpecificSecuritiesSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="ReinvestmentsSpecificSecuritiesSection" data-xbrl-cg-ids="ReinvestmentsSpecificSecuritiesSection,TaxablePortionCapitalGainsSpecificSecuritiesSection" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px">Aanslagjaar-volgnummer meerwaarde</th>
              <th class="biztax-th-context-header" width="100px">Aanslagjaar-volgnummer herbelegging</th>
              <th class="biztax-th-context-header" width="100px">Activa soort</th>
              <th class="biztax-th-field-header" width="100px">Niet-monetair gedeelte verwezenlijkte meerwaarde</th>
              <th class="biztax-th-field-header" width="100px">Omschrijving in aanmerking te nemen herbelegging</th>
              <th class="biztax-th-field-header" width="100px">Datum in aanmerking te nemen herbelegging</th>
              <th class="biztax-th-field-header" width="100px">Bedrag in aanmerking te nemen herbelegging</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:CapitalGainTypedDimension" data-xbrl-datatype="CapitalGainTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:ReinvestmentTypedDimension" data-xbrl-datatype="ReinvestmentTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-asst:AssetTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-asst:SpecificSecurityMember">Bepaald effect</div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NonMonetaryFractionRealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NonMonetaryFractionRealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DescriptionReinvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DescriptionReinvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonEmptyNormalizedStringItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateReinvestment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateReinvestment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ReinvestmentValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReinvestmentValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
  <div id="TaxablePortionCapitalGainsSpecificSecuritiesSection_cnt" class="biztax-panel">
    <div id="TaxablePortionCapitalGainsSpecificSecuritiesSection" class="biztax-title">Voor het belastbare tijdperk belastbare deel van de meerwaarde op bepaalde effecten</div>
    <div id="TaxablePortionCapitalGainsSpecificSecuritiesSection_children" class="biztax-panel-children">
      <contextgrid data-xbrl-cg-parent-id="TaxablePortionCapitalGainsSpecificSecuritiesSection" data-xbrl-cg-ids="TaxablePortionCapitalGainsSpecificSecuritiesSection,ReinvestmentsSpecificSecuritiesSection" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension">
        <contextheading>
          <table cellpadding="5" cellspacing="0" width="100%">
            <tr>
              <th class="biztax-th-context-action" width="50px">
                <span>
                  <space />
                </span>
              </th>
              <th class="biztax-th-context-header" width="100px">Aanslagjaar-volgnummer meerwaarde</th>
              <th class="biztax-th-context-header" width="100px">Aanslagjaar-volgnummer herbelegging</th>
              <th class="biztax-th-context-header" width="100px">Activa soort</th>
              <th class="biztax-th-field-header" width="100px">Niet-monetair gedeelte verwezenlijkte meerwaarde</th>
              <th class="biztax-th-field-header" width="100px">Bedrag in aanmerking te nemen herbelegging</th>
              <th class="biztax-th-field-header" width="100px">Te belasten deel van de meerwaarde</th>
            </tr>
          </table>
        </contextheading>
        <lineTpl>
          <table>
            <tbody>
              <tr>
                <td class="biztax-context-action">
                  <div class="biztax-context-removeitem" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:CapitalGainTypedDimension" data-xbrl-datatype="CapitalGainTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:ReinvestmentTypedDimension" data-xbrl-datatype="ReinvestmentTypedID" data-xbrl-type="input" />
                </td>
                <td>
                  <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-asst:AssetTypeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                    <div data-value="d-asst:SpecificSecurityMember">Bepaald effect</div>
                  </div>
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NonMonetaryFractionRealisedCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NonMonetaryFractionRealisedCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ReinvestmentValue_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReinvestmentValue" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td>
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxableCapitalGain_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxableCapitalGain" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-asst:AssetTypeDimension/d-ty:CapitalGainTypedDimension/d-ty:ReinvestmentTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </tbody>
          </table>
        </lineTpl>
      </contextgrid>
    </div>
  </div>
</div>