﻿/* BREADCRUMB TOOLBAR */

.x-tool-close 
{
	background-image:url(../images/icons/16/tool-close.png) !important;
	background-position:0 0;
}

.x-tool-close.x-tool-close-over
{
	background-position:-16px 0;
}

.eBook-Window-icon 
{
	background-position:0 0;
	background-image:url(../images/icons/16/eBook.png);
}

.eBook-Window-contacts-ico 
{
	background-image:url(../images/icons/16/contacts.png) !important;
}

.eBook-Window-accountmappings-ico 
{
	background-image:url(../images/icons/16/accounttree-mapping.png) !important;
}

.eBook-Docstore-16-ico 
{
	background-image:url(../images/icons/16/logo_docstore_16.png) !important;
}

.eBook-Docstore-24-ico 
{
	background-image:url(../images/icons/24/logo_docstore_24.png) !important;
}

.eBook-Client-breadcrumb-ico
{
}

.eBook-File-breadcrumb-ico
{
}

/* MENU */

.eBook-Client {
    background-image:url(../images/icons/32/client.png);
}

.eBook-File {
    background-image:url(../images/icons/32/file.png);
}

.eBook-File-Closed {
    background-image:url(../images/icons/24/lock.png),url(../images/icons/32/file.png);
    background-position: 12px bottom, left center;
    background-size:20px 20px,auto;
}

.eBook-Client-menu-ico
{
	background-image:url(../images/icons/32/client.png);
}

.eBook-menu-info-address{
    background-image:url(../images/icons/48/building.png);
}

.eBook-menu-info-PMT {
    background-image:url(../images/icons/pmt-title.png);
}

.eBook-menu-info-ProAcc {
    background-image:url(../images/icons/48/Database_2.png);
}

.eBook-menu-info-Services 
{
    background-image:url(../images/icons/48/Service-icon.png);
}

.eBook-menu-info-Health 
{
    background-image:url(../images/icons/48/status.png);
}

.eBook-menu-info-Money 
{
    background-image:url(../images/icons/48/money.png);
}

.eBook-file-settings-menu-ico 
{
    background-image:url(../images/icons/32/settings.png);
}

.eBook-wizard-menu-ico 
{
    background-image:url(../images/icons/32/wizard.png);
}

.eBook-meta-menu-ico
{
	background-image:url(../images/icons/32/table.png);
}

.eBook-repository-menu-ico 
{
	background-image:url(../images/icons/32/cabinet.png) !important;
}

.eBook-repository-ico-24
{
	background-image:url(../images/icons/32/cabinet.png) !important;
	background-size: 24px 24px !important;
}

.eBook-repository-select-ico
{
	background-image:url(../images/icons/64/cabinet_down.png) !important;
}

.eBook-repository-folder-open
{
	background-image:url(../images/icons/16/tree/folder-open.gif) !important;
}


.eBook-invoice-select-ico
{
	background-image:url(../images/icons/64/invoice_down.png) !important;
}

.eBook-services-ico
{
	background-image:url(../images/icons/32/Service-icon.png);
}

.eBook-suppliers-menu-ico
{
	background-image:url(../images/icons/32/contacts.png);
}

.eBook-customers-menu-ico
{
	background-image:url(../images/icons/32/contacts.png);
}

.eBook-personnel-menu-ico
{
	background-image:url(../images/icons/32/contacts.png);
}

.eBook-client-files-menu-ico
{
	background-image:url(../images/icons/32/box-files.png);
}

.eBook-createfile-menu-ico
{
	background-image:url(../images/icons/32/add-file.png);
}

.eBook-existing-open-files-menu-ico
{
	background-image:url(../images/icons/32/box-files.png);
}

.eBook-existing-closed-files-menu-ico
{
	background-image:url(../images/icons/32/box-closed-files.png);
}

.eBook-marked-deletion-files-menu-ico 
{
	background-image:url(../images/icons/48/empty_recycle_bin.png);
}

.eBook-marked-deletion-files-menu-ico.eBook-recyclebin-full 
{
	background-image:url(../images/icons/48/full_recycle_bin-files.png) !important;
}

.eBook-recycle-menu-context-icon 
{
	background-image:url(../images/icons/24/empty_recycle_bin.png) !important;
}

.eBook-replace-menu-context-icon 
{
	background-image:url(../images/icons/24/replace.png) !important;
}

.eBook-menu-title-block-close-ico 
{
	background-image:url(../images/icons/16/close.png);
}

.eb-message-type-lock 
{
    background-image:url(../images/icons/16/lock.png);
}

.eBook-menu-title-block-close-ico:hover
{
	background-image:url(../images/icons/16/close_over.png) !important;
}

.eBook-menu-title-block-edit-ico 
{
	background-image:url(../images/icons/16/close.png);
}

.eBook-File-menu-ico
{
	background-image:url(../images/icons/32/file.png);
}

.eBook-File-locked-menu-ico
{
}

.eBook-File-closed-menu-ico
{
}

.eBook-adjustments-menu-ico
{
	background-image:url(../images/icons/32/accounttree.png);
}

.eBook-accountmappings-menu-ico
{
	background-image:url(../images/icons/32/accounttree.png);
}

.eBook-accounts-menu-ico
{
	background-image:url(../images/icons/32/accounttree-edit.png);
}

.eBook-journals-menu-ico 
{
	background-image:url(../images/icons/32/books.png);
}

.eBook-previous-endbalance-menu-ico
{
	background-image:url(../images/icons/32/book-previous.png);
}

.eBook-startbalance-menu-ico
{
	background-image:url(../images/icons/32/book.png);
}

.eBook-adjustments-manual-menu-ico
{
	background-image:url(../images/icons/32/book-manual.png);
}

.eBook-adjustments-auto-menu-ico
{
	background-image:url(../images/icons/32/book-auto.png);
}

.eBook-final-trialbalance-menu-ico
{
	background-image:url(../images/icons/32/book-tick.png);
}

.eBook-worksheets-menu-ico
{
	background-image:url(../images/icons/32/sheets.png);
}

.eBook-check-worksheets-menu-ico
{
	background-image:url(../images/icons/32/sheets_checklist.png);
}

.eBook-worksheet-group-menu-ico
{
	background-image:url(../images/icons/32/sheets.png);
}

.eBook-worksheet-group-tax-menu-ico
{
	background-image:url(../images/icons/32/sheets_tax.png);
}
.eBook-worksheet-group-fiche-menu-ico
{
	background-image:url(../images/icons/32/sheetsFiche.png);
}

.eBook-worksheet-group-extra-menu-ico
{
	background-image:url(../images/icons/32/sheetsExtra.png);
}
.eBook-File-extrafiles-add-ico 
{
	background-image:url(../images/icons/16/WordExcel.png) !important;
}

.eBook-repository-add-ico-24
{
	background-image:url(../images/icons/24/add_cabinet.png) !important;
}

.eBook-repository-added-ico-24
{
	background-image:url(../images/icons/24/added_cabinet.png) !important;
}

.eBook-biztax-taxcalc-ico-24
{
	background-image:url(../images/icons/24/taxCalc.png) !important;
}

.eBook-icon-refresh-24 
{
    background-image:url(../images/icons/24/refresh.png) !important;
}

.eBook-repository-ico-16
{
	background-image:url(../images/icons/16/cabinet.png) !important;
}

.eBook-history-16
{
	background-image:url(../images/icons/16/history.png) !important;
}

.eBook-documents-menu-ico
{
	background-image:url(../images/icons/32/documents.png);
}

.eBook-documents-forms-menu-ico
{
}

.eBook-documents-letters-menu-ico
{
	background-image:url(../images/icons/32/document_official.png);
}

.eBook-documents-reports-menu-ico
{
	background-image:url(../images/icons/32/document_report.png);
}

.eBook-documents-extra-menu-ico
{
}

.eBook-leadsheets-menu-ico 
{
	background-image:url(../images/icons/32/leadsheets.png);
}

.eBook-quickprint-menu-ico 
{
	background-image:url(../images/icons/32/leadsheets.png);
}

.eBook-reports-menu-ico
{
	background-image:url(../images/icons/32/reports.png);
}

.eBook-closingprocedure-menu-ico
{
	background-image:url(../images/icons/32/closingProcedure.png);
}

.eBook-reports-generated 
{
	background-image:url(../images/icons/32/reports.png);
}

.eBook-yearend-close
{
	background-image:url(../images/icons/32/yearend-close.png);
}

.eBook-menu-info-BizTax
{
    background-image:url(../images/icons/48/biztax.png);
}


.eBook-reports-closed-menu-ico
{
}

.eBook-reports-closing-menu-ico
{
}

/* BUSINESS RELATIONS */
.eBook-businessrelation-add-ico
{
	background-image: url(../images/icons/24/contact_add.png) !important;
}

.eBook-businessrelation-edit-ico
{
	background-image: url(../images/icons/24/contact_edit.png) !important;
}

.eBook-businessrelation-delete-ico
{
	background-image: url(../images/icons/24/contact_delete.png) !important;
}

.eBook-window-save-ico 
{
	background-image:url(../images/icons/32/save.png) !important;
}

.eBook-window-cancel-ico
{
	background-image:url(../images/icons/32/cancel.png) !important;
}

.eBook-icon-16-save
{
	background-repeat:no-repeat;
	background-image:url(../images/icons/16/save.png) !important;
}

.eBook-icon-24-save
{
	background-repeat:no-repeat;
	background-image:url(../images/icons/24/save.png) !important;
}

.x-html-editor-tb .x-edit-save, .x-menu-item img.x-edit-save 
{
	background-repeat:no-repeat;
	background-image:url(../images/icons/16/save.png) !important;
}

.eBook-icon-16-cancel
{
	background-repeat:no-repeat;
	background-image:url(../images/icons/16/cancel.png) !important;
}

.ebook-message-type-0
{
    background-image: !important;
}
.ebook-message-type-1
{
    background-image:url(../images/icons/16/warning.png) !important;
}
.ebook-message-type-2
{
    
       /* url(../images/icons/16/info.png) !important;*/
}

.ebook-message-type-0.ebook-message-source-WORKSHEET
{
    background:
        url(../images/icons/16/contacts.png)  0px 0px no-repeat,
        url(../images/icons/16/error.png) 2px 2px no-repeat;
    
}

.ebook-message-source-align
{
    padding-left: 20px; 
    margin-top: 5px;   
}

.ebook-message-source-0-type-0
{
    background:
        url(../images/icons/16/error.png) 6px 6px no-repeat,
        url(../images/icons/16/sheets.png)  0px 0px no-repeat;
    
    background-size: 10px, auto;
}

.ebook-message-source-0-type-1
{
    background:
        url(../images/icons/16/warning.png) 6px 6px no-repeat,
        url(../images/icons/16/sheets.png)  0px 0px no-repeat;
    
    background-size: 10px, auto;
}

.ebook-message-source-0-type-2
{
    background:
        url(../images/icons/16/info.png) 6px 6px no-repeat,
        url(../images/icons/16/sheets.png)  0px 0px no-repeat;
    
    background-size: 10px, auto;
}

.ebook-message-source-1-type-0
{
    background:
        url(../images/icons/16/error.png) 6px 6px no-repeat,
        url(../images/icons/16/binary-tree.png)  -2px -2px no-repeat;
    
    background-size: 10px, 16px;
}

.ebook-message-source-1-type-1
{
    background:
        url(../images/icons/16/warning.png) 6px 6px no-repeat,
        url(../images/icons/16/binary-tree.png)  -2px -2px no-repeat;
    
    background-size: 10px, 16px;
}

.ebook-message-source-1-type-2
{
    background:
        url(../images/icons/16/info.png) 6px 6px no-repeat,
        url(../images/icons/16/binary-tree.png)  -2px -2px no-repeat;
    
    background-size: 10px, 16px;
}


.eBook-icon-16-error 
{
	background-repeat:no-repeat;
	background-image:url(../images/icons/16/error.png) !important;
}

.eBook-icon-16-warning 
{
	background-repeat:no-repeat;
	background-image:url(../images/icons/16/warning.png) !important;
}

.eBook-icon-16-info 
{
	background-repeat:no-repeat;
	background-image:url(../images/icons/16/info.png) !important;
}

.eBook-icon-16-help 
{
	background-repeat:no-repeat;
	background-image:url(../images/icons/16/help.png) !important;
}

.eBook-tab-warning 
{
	background-repeat:no-repeat;
	background-image:url(../images/icons/16/warning.png) !important;
	background-position:left center;
	padding-left:20px !important;
}

.eBook-tab-error 
{
	background-repeat:no-repeat;
	background-image:url(../images/icons/16/error.png) !important;
	padding-left:20px !important;
	background-position:left center;
}

.eBook-grid-row-edit-ico
{
	background-image: url(../images/icons/24/edit.png) !important;
}

.eBook-grid-row-delete-ico
{
	background-image: url(../images/icons/24/delete.png) !important;
}

.eBook-grid-row-combo-ico
{
	background-image: url(../images/gray/button/btn-arrow-black.png) !important;
}

.eBook-grid-row-btn-border-ico
{
	border: 1px solid #C1C1C1;
	border-radius: 2px;
}

.eBook-excel-ico-24
{
	background-image: url(../images/icons/24/excel.png) !important;
}

.eBook-proacc-ico-24
{
	background-image: url(../images/icons/24/ProAccLogo.png) !important;
}

.eBook-empty-ico-24
{
	background-image: url(../images/icons/24/ebook.png) !important;
}

.eBook-chart-ico-24 
{
	background-image: url(../images/icons/24/chart.png) !important;
}


.eBook-copy-ico-24
{
	background-image: url(../images/icons/24/file.png) !important;
}

.eBook-bundle-ico-24
{
	background-image: url(../images/icons/24/reports.png) !important;
}

.eBook-createFile-createButton
{
	background-image:url(../images/icons/32/NewFile.png) !important;
}

.eBook-createFile-excel-img 
{
	background-image:url(../images/icons/120/Excel.png);
}

.eBook-createFile-ProAcc-img
{
	background-image:url(../images/icons/120/ProAccLogo.png);
}

.eBook-createFile-empty-img 
{
	background-image:url(../images/eBook/eBookIcon-e.png);
}

.eBook-createFile-action-status-ready 
{
	background-image:url(../images/icons/16/arrow_right.gif);
	font-weight:normal;
	text-decoration:none;
	color:#000000;
}

.eBook-createFile-action-status-busy 
{
	background-image:url(../images/default/grid/loading.gif);
	font-weight:bold;
	text-decoration:underline;
	color:#000000;
}

.eBook-createFile-action-status-success 
{
	background-image:url(../images/icons/16/tick-circle.png);
	text-decoration:none;
	color:#009900;
}

.eBook-createFile-action-status-failure 
{
	background-image:url(../images/icons/16/error.png);
	text-decoration:none;
	font-weight:bold;
	color:#990000;
}

.eBook-bundle-tree-chapter  
{
	background-image: url(../images/icons/16/bookmark_book.png) !important;
}

.x-tree-node-expanded .eBook-bundle-tree-chapter 
{
	background-image: url(../images/icons/16/bookmark_book_open.png) !important;	 
}

.x-tree-node-collapsed .eBook-bundle-tree-chapter  
{
	background-image: url(../images/icons/16/bookmark_book.png) !important;
}

.eBook-bundle-tree-bundle 
{
	background-image: url(../images/icons/16/reports.png) !important;
}

.x-tree-node-expanded .eBook-bundle-tree-bundle 
{
	background-image: url(../images/icons/16/reports.png) !important;
}

.x-tree-node-collapsed .eBook-bundle-tree-bundle 
{
	background-image: url(../images/icons/16/reports.png) !important;
}



.eBook-bundle-tree-cover 
{
	background-image: url(../images/icons/16/coverpage.png) !important;
}

.eBook-bundle-tree-index 
{
	background-image: url(../images/icons/16/indexpage.png) !important;
}

.eBook-bundle-tree-pdf 
{
	background-image: url(../images/icons/16/doc_pdf.png) !important;
}

.eBook-bundle-tree-document 
{
	background-image: url(../images/icons/16/document.png) !important;
}

.eBook-bundle-tree-fiche 
{
	background-image: url(../images/icons/16/fiche.png) !important;
}

.eBook-bundle-tree-worksheet 
{
    background-repeat:no-repeat;
	background-image: url(../images/icons/16/sheets.png) !important;
}

.eBook-bundle-tree-worksheet-tax 
{
    background-repeat:no-repeat;
	background-image: url(../images/icons/16/sheets_tax.png) !important;
}

.eBook-bundle-tree-statement 
{
	background-image: url(../images/icons/16/binary-tree.png) !important;
}

.eBook-icon-table-16 
{
	background-image:url(../images/icons/16/table.gif) !important;
}
.eBook-icon-exportexcel-16 
{
	background-image:url(../images/icons/16/blue-document-excel.png) !important;
}

.eBook-icon-arrowrefresh-16 
{
	background-image:url(../images/icons/16/arrow_refresh.png) !important;
}

.eBook-icon-maximize-16 
{
	background-image:url(../images/icons/16/maximize.png) !important;
}

.eBook-icon-account-24
{
	background-image:url(../images/icons/24/account.png) !important;
}

.eBook-icon-quickprint-24
{
	background-image:url(../images/icons/24/leadsheets.png) !important;
}

.eBook-icon-addaccount-24 
{
	background-image:url(../images/icons/24/addAccount.png) !important;
}

.eBook-icon-editaccount-24 
{
	background-image:url(../images/icons/24/editAccount.png) !important;
}

.eBook-icon-saldi0account-24 
{
	background-image:url(../images/icons/24/saldi0Account.png) !important;
}

.eBook-icon-detailedaccount-24 
{
	background-image:url(../images/icons/24/detailAccount.png) !important;
}


.eBook-icon-addtranslation-24 
{
	background-image:url(../images/icons/24/addTranslation.png) !important;
}

.eBook-icon-deletetranslation-24
{
	background-image:url(../images/icons/24/deleteTranslation.png) !important;
}

.eBook-icon-proacc-24 
{
	background-image:url(../images/icons/24/ProAcc.png) !important;
}

.eBook-icon-importproacc-24 
{
	background-image:url(../images/icons/24/importProAcc.png) !important;
}
.eBook-icon-exportProacc-24 
{
	background-image:url(../images/icons/24/exportProAcc.png) !important;
}

.eBook-yes-24
{
	background-image:url(../images/icons/24/yes.png) !important;
}
.eBook-no-24
{
	background-image:url(../images/icons/24/no.png) !important;
}

.eBook-comment-24
{
	background-image:url(../images/icons/24/comment.png) !important;
}

.eBook-closeFile-24
{
	background-image:url(../images/icons/24/closeFile.png) !important;
}

.eBook-icon-importxml-24
{
	background-image:url(../images/icons/24/importXml.png) !important;
}

.eBook-icon-excel-24 
{
	background-image:url(../images/icons/24/Excel.png) !important;
}

.eBook-exact-ico-24
{
    background-image:url(../images/icons/24/exact-logo.png) !important;
}

.eBook-exact-ico-24-9
{
    background-image:url(../images/icons/24/exact-logo_24.png) !important;
}

.eBook-icon-importexcel-24 
{
	background-image:url(../images/icons/24/importExcel.png) !important;
}
.eBook-icon-exportexcel-24 
{
	background-image:url(../images/icons/24/exportExcel.png) !important;
}
.eBook-icon-createreport-24 
{
	background-image:url(../images/icons/24/createReport.png) !important;
}

.eBook-icon-lockreport-24
{
	background-image:url(../images/icons/24/lockReport.png) !important;
}

.eBook-icon-addreport-24 
{
	background-image:url(../images/icons/24/addReport.png) !important;
}
.eBook-icon-savereport-24 
{
	background-image:url(../images/icons/24/saveReport.png) !important;
}
.eBook-icon-generatereport-24 
{
	background-image:url(../images/icons/24/generateReport.png) !important;
}

.eBook-icon-rendermail-24 
{
    background-image:url(../images/icons/24/rendermail.png) !important;
}

.eBook-icon-renderprint-24 
{
    background-image:url(../images/icons/24/renderprint.png) !important;
}

.eBook-iconprint-24
{
	background-image:url(../images/icons/24/print.png) !important;
}

.eBook-icon-deletereport-24 
{
	background-image:url(../images/icons/24/deleteReport.png) !important;
}

.eBook-icon-openreport-24 
{
	background-image:url(../images/icons/24/openReport.png) !important;
}
.eBook-icon-addchapter-24 
{
	background-image:url(../images/icons/24/addChapter.png) !important;
}
.eBook-icon-deleteitem-24 
{
	background-image:url(../images/icons/24/deleteItem.png) !important;
}

.eBook-icon-refreshlib-24 
{
	background-image:url(../images/icons/24/refreshLibrary.png) !important;
}

.eBook-icon-addpdf-24 
{
	background-image:url(../images/icons/24/addPdf.png) !important;
}

.eBook-icon-deletepdf-24 
{
	background-image:url(../images/icons/24/deletePdf.png) !important;
}

.eBook-icon-uploadpdf-24  
{
	background-image:url(../images/icons/24/uploadPdf.png) !important;
}
.eBook-icon-uploadexcel-24 
{
	background-image:url(../images/icons/24/uploadExcel.png) !important;
}
.eBook-icon-tablesave-24 
{
	background-image:url(../images/icons/24/table_save.png) !important;
}
.eBook-icon-createdocument-24 
{
	background-image:url(../images/icons/24/createDocument.png) !important;
}
.eBook-icon-newdocument-24 
{
	background-image:url(../images/icons/24/addDocument.png) !important;
}
.eBook-icon-opendocument-24 
{
	background-image:url(../images/icons/24/openDocument.png) !important;
}
.eBook-icon-savedocument-24 
{
	background-image:url(../images/icons/24/saveDocument.png) !important;
}
.eBook-icon-previewdocument-24 
{
	background-image:url(../images/icons/24/previewDocument.png) !important;
}
.eBook-icon-magnify-16
{
	background-image:url(../images/icons/16/magnify.png) !important;
}
.eBook-icon-uploadexcelword-24 
{
	background-image:url(../images/icons/24/uploadWordExcel.png) !important;
}
.eBook-icon-addbooking-24 
{
	background-image:url(../images/icons/24/addBooking.png) !important;
}
.eBook-icon-savebooking-24 
{
	background-image:url(../images/icons/24/saveBooking.png) !important;
}

.eBook-icon-refreshworksheet-24 
{
	background-image:url(../images/icons/24/refreshworksheet.png) !important;
}

.eBook-icon-previewworksheet-24 
{
	background-image:url(../images/icons/24/previewworksheet.png) !important;
}

.eBook-icon-closeworksheet-24 
{
	background-image:url(../images/icons/24/lockWorksheet.png) !important;
}

.eBook-icon-helpworksheet-24 
{
	background-image:url(../images/icons/24/helpworksheet.png) !important;
}

.eBook-icon-addlines-24 
{
	background-image:url(../images/icons/24/addBookingLine.png) !important;
}

.eBook-icon-add-16
{
	background-image:url(../images/icons/16/add.png) !important;
}
.eBook-icon-edit-16
{
	background-image:url(../images/icons/16/edit.png) !important;
}
.eBook-icon-delete-16
{
	background-image:url(../images/icons/16/delete.png) !important;
}

.eBook-icon-copy-16
{
	background-image:url(../images/icons/16/copy.png) !important;
}

.eBook-icon-move-16
{
	background-image:url(../images/icons/16/move.png) !important;
}

.eBook-icon-library-16
{
	background-image:url(../images/icons/16/library.png) !important;
}

.eBook-icon-xls 
{
	background-image:url(../images/icons/16/blue-document-excel.png) !important;
}

.eBook-icon-doc 
{
	background-image:url(../images/icons/16/blue-document-word.png) !important;
}

.eBook-icon-pdf 
{
	background-image:url(../images/icons/16/blue-document-pdf.png) !important;
}

.eBook-Bundle-icon-16 
{
	background-image:url(../images/icons/16/bundleTitle.png) !important;
}

.eBook-File-NumbersLocked .eBook-menu-title-block 
{
	
	background-image:url(../images/icons/32/file-locked-numbers.png) !important;
}

.eBook-icon-locknumbers-24 
{
	background-image:url(../images/icons/24/LockNumbers.png) !important;
}

.eBook-File-NumbersLocked #eBook-File-adjustments .eBook-menu-item-alert-icon 
{
	background-image:url(../images/icons/16/LockNumbers.png) !important;
}

.eBook-File-NumbersLocked #eBook-File-adjustments-group .eBook-menu-item-alert-icon 
{
	background-image:url(../images/icons/16/LockNumbers.png) !important;
}

.eBook-File-NumbersLocked #eBook-File-journals .eBook-menu-item-alert-icon 
{
	background-image:url(../images/icons/16/LockNumbers.png) !important;
}


.eBook-File-NumbersLocked #eBook-File-journals-group .eBook-menu-item-alert-icon 
{
	background-image:url(../images/icons/16/LockNumbers.png) !important;
}

.eBook-File-Closed .eBook-menu-item-alert-icon 
{
	background-image:url(../images/icons/16/lock.png) !important;
}

.eBook-File-Closed .eBook-menu-title-block 
{
	
	background-image:url(../images/icons/32/file-locked.png) !important;
}

.eBook-File-Closed .eBook-menu-title-block 
{
	
	background-image:url(../images/icons/32/file-locked.png) !important;
}


.x-tree-node-expanded .ebook-bundle-tree-closed 
{
	background-image:url(../images/icons/16/lock.png) !important;
}
.x-tree-node-collapsed .ebook-bundle-tree-closed 
{
	background-image:url(../images/icons/16/lock.png) !important;
}


.eBook-lock-16 
{
	background-image:url(../images/icons/16/lock.png) !important;
}

.eBook-unlock-16 
{
	background-image:url(../images/icons/16/lock-open.png) !important;
}

.eBook-lock-24 
{
	background-image:url(../images/icons/24/lock.png) !important;
}

.eBook-unlock-24 
{
	background-image:url(../images/icons/24/lock-open.png) !important;
}


.eBook-tickcircle-16 
{
	background-image:url(../images/icons/16/tick-circle.png);
}

.eBook-stepClosed-24
{
	background-image:url(../images/icons/24/stepClosed.png);
}

.eBook-openWorksheet-16 
{
	background-image:url(../images/icons/16/openWorksheet.png);
}

.eBook-viewWorksheet-16 
{
	background-image:url(../images/icons/16/viewWorksheet.png);
}

.eBook-openReport-16 
{
	background-image:url(../images/icons/16/openReport.png);
}

.eBook-viewReport-16 
{
	background-image:url(../images/icons/16/viewReport.png);
}

.eBook-deleteReport-16 
{
	background-image:url(../images/icons/16/deleteReport.png);
}

.eBook-active-24
{
	background-image:url(../images/icons/24/yellowSelect.png);
}

.eBook-lock-refresh-24
{
	background-image:url(../images/icons/24/lock_refresh.png) !important;
}

.eBook-pmt-refresh-24
{
	background-image:url(../images/icons/24/pmt_refresh.png) !important;
}

.eBook-pmt-menu-ico 
{
	background-image:url(../images/icons/32/people.png) !important;
}

.eBook-pdffiles-menu-ico 
{
	background-image:url(../images/icons/32/pdf.png) !important;
}

.eBook-pdf-add-24
{
	background-image:url(../images/icons/24/pdf_add.png) !important;
}

.eBook-pdf-replace-24
{
	background-image:url(../images/icons/24/pdf_replace.png) !important;
}

.eBook-pdf-remove-24
{
	background-image:url(../images/icons/24/pdf_remove.png) !important;
}

.eBook-pdf-view-24
{
	background-image:url(../images/icons/24/pdf_view.png) !important;
}

.eBook-pdflist-refresh-24
{
	background-image:url(../images/icons/24/pdflist_refresh.png) !important;
}

.eBook-Pdf-icon 
{
	background-image:url(../images/icons/16/pdf.png) !important;
}

.eBook-Pdf-draft-icon
{
	background-image:url(../images/icons/16/pdf_draft.png) !important;
}

.eBook-Pdf-final-icon
{
	background-image:url(../images/icons/16/pdf_final.png) !important;
}

.eBook-Pdf-signed-icon
{
	background-image:url(../images/icons/16/pdf_signed.png) !important;
}

.eBook-Team-icon 
{
	background-image:url(../images/icons/16/people.png) !important;
}

.eBook-file-meta-menu-ico 
{
	background-image:url(../images/icons/32/Database_2_32.png) !important;
}

.eBook-biztax-menu-ico 
{
    background-image:url(../images/icons/32/biztax.png) !important;
}

.eBook-biztax-send-24 
{
    background-image:url(../images/icons/24/biztax_send.png) !important;
}

.eBook-wizard-24 
{
    background-image:url(../images/icons/24/wizard.png) !important;
}

.eBook-biztax-bundle-24 
{
    background-image:url(../images/icons/24/reports_biztax.png) !important;
}

.eBook-client-bundle-24 
{
    background-image:url(../images/icons/24/reports_client.png) !important;
}

.eBook-partner-bundle-24 
{
    background-image:url(../images/icons/24/reports_partner.png) !important;
}

.eBook-client-approval-24
{
	background-image:url(../images/icons/24/approval_client.png) !important;
}

.eBook-preview-bundle-24 
{
    background-image:url(../images/icons/24/reports_preview.png) !important;
}

.eBook-preview-first-bundle-24
{
	background-image:url(../images/icons/24/reports_preview_first.png) !important;
}


.eBook-icon-checklist-24 
{
    background-image:url(../images/icons/24/checklist.png) !important;
}

.eBook-icon-import-24 
{
    background-image:url(../images/icons/24/fileimport.png) !important;
}

.eBook-back-24 
{
    background-image:url(../images/icons/24/back.png) !important;
}

.eBook-next-24 
{
    background-image:url(../images/icons/24/next.png) !important;
}

.eBook-icon-biztax-24 
{
    background-image:url(../images/icons/24/biztax_24.png) !important;
}

.eBook-dashboard-ico-24 
{
    background-image:url(../images/icons/24/Dashboard.png) !important;
}

.eBook-uploadbiz-ico-24 
{
    background-image:url(../images/icons/24/upload_ark.png) !important;
}

.eBook-startstatus-ico-24 
{
    background-image:url(../images/icons/24/start_status.png) !important;
}

.eBook-finalize-ico-24 
{
    background-image:url(../images/icons/24/finish.png) !important;
}


.eBook-proxy-ico-24 
{
    background-image:url(../images/icons/24/proxy.png) !important;
}


.eBook-validproxy-ico-24 
{
    background-image:url(../images/icons/24/validproxy.png) !important;
}

.eBook-noproxy-ico-24 
{
    background-image:url(../images/icons/24/noproxy.png) !important;
}

.eBook-validation-busy-ico-24 
{
    background-image:url(../images/icons/24/validate_busy.png) !important;
}

.eBook-validation-success-ico-24 
{
    background-image:url(../images/icons/24/validate_success.png) !important;
}

.eBook-validation-failed-ico-24 
{
    background-image:url(../images/icons/24/validate_failed.png) !important;
}

.eBook-documents-ico-24 
{
    background-image:url(../images/icons/24/documents.png) !important;
}

.eBook-biztax-success-ico-24 
{
    background-image:url(../images/icons/24/biztax_success.png) !important;
}



.eBook-wizard-step-state-1 .eBook-wizard-step-icon 
{
    background-image:url(../images/icons/16/step_green.png) !important;
}

.eBook-wizard-step-state-0 .eBook-wizard-step-icon 
{
    background-image:url(../images/icons/16/step_blue.png) !important;
}

.eBook-wizard-step-state--99 .eBook-wizard-step-icon 
{
    background-image:url(../images/icons/16/step_red.png) !important;
}

.eBook-wizard-step-state-2 .eBook-wizard-step-icon 
{
    background-image:url(../images/icons/16/tick.png) !important;
}

.eBook-wizard-step-state--1 .eBook-wizard-step-icon 
{
    /*GREY*/
    background-image:url(../images/icons/16/step_red.png) !important;
}


.eb-rep-node-pdf
{
    background-image:url('../images/icons/16/pdf.png') !important;
}

.eb-rep-node-docstore-pdf
{
    background-image:url('../images/icons/16/pdf_docstore.png') !important;
}

.eb-rep-node-3EC694F7-29C6-4B71-8954-02577A33F3BC 
{
    background-image:url('../images/icons/16/pdf_send.png') !important;
}

.eb-rep-node-6A9821F5-8724-4926-A815-6CB02C9CA83D
{
    background-image:url('../images/icons/16/pdf_send.png') !important;
}

.eb-rep-node-B50FF824-3CCF-4BA5-B628-F8DBF6CD2B78 /*to be sent to DocStore*/
{
    background-image:url('../images/icons/16/pdf_send.png') !important;
}

.eb-rep-node-C0009211-8936-49F0-A2B4-E0F70A0A2A96 /*sent to DocStore*/
{
    background-image:url('../images/icons/16/pdf_docstore.png') !important;
}

.eb-rep-node-D54BCD3C-6B1F-46B5-B0C4-D66D307A7869 /*Sent to client DocStore*/
{
    background-image:url('../images/icons/16/pdf_send_docstore.png') !important;
}

.eb-rep-node-EB72B2A6-8862-4544-AC7A-75C99A166EA4 /*Signed by client DocStore*/
{
    background-image:url('../images/icons/16/pdf_signed_docstore.png') !important;
}

.eb-rep-node-FCF7A560-3D74-4341-A32B-310C8FA336CF
{
    background-image:url('../images/icons/16/pdf_signed.png') !important;
}

.eb-rep-node-0BC2D5BF-C35B-491A-916E-5418F98B9E1F
{
    background-image:url('../images/icons/16/pdf_signed.png') !important;
}

.eb-rep-node-9DEEB2FD-E99F-4AD5-B7C5-B8784EB4DBE4
{
    background-image:url('../images/icons/16/pdf_signed.png') !important;
}



.eb-rep-node-58BC0DB9-F28F-4C8A-B363-7FCB9276A50F
{
    background-image:url('../images/icons/16/pdf_final.png') !important;
}

.eb-rep-node-AA16E56B-B97D-47E2-BBD8-0354FC5E46FA
{
    background-image:url('../images/icons/16/pdf_final.png') !important;
}

.eb-rep-node-D036D79A-B2AF-4A5F-A75F-F04BA59AFCC6
{
    background-image:url('../images/icons/16/pdf_final.png') !important;
}

.eBook-filter-ico-24 
{
    background-image:url('../images/icons/24/filter.png') !important;
}

.eb-repos-link-type-ACCOUNT
{
    background-image:url('../images/icons/16/binary-tree.png') !important;
}

.eb-repos-link-type-WORKSHEET
{
    background-image:url('../images/icons/16/sheets.png') !important;
}

.eb-repos-link-type-BUNDLE
{
    background-image:url('../images/icons/16/reports.png') !important;
}


.eb-message-type-ERROR 
{
    background-repeat:no-repeat;
    background-image:url('../images/icons/16/error.png') !important;
}

.eb-message-type-WARNING 
{
    background-repeat:no-repeat;
    background-image:url('../images/icons/16/warning.png') !important;
}

.eb-message-type-INFO
{
    background-repeat:no-repeat;
    background-image:url('../images/icons/16/info.png') !important;
}


/* BUNDLE LIBRARY */

.x-tree-node-collapsed .eb-library-general {
    background-image: url("../images/icons/16/tree/folder-general.png") !important;
}

.x-tree-node-expanded .eb-library-general {
    background-image: url("../images/icons/16/tree/folder-general-open.png") !important;
}

.x-tree-node-collapsed .eb-library-statements {
    background-image: url("../images/icons/16/tree/folder-statements.png") !important;
}

.x-tree-node-expanded .eb-library-statements {
    background-image: url("../images/icons/16/tree/folder-statements-open.png") !important;
}

.x-tree-node-collapsed .eb-library-documents {
    background-image: url("../images/icons/16/tree/folder-documents.png") !important;
}

.x-tree-node-expanded .eb-library-documents {
    background-image: url("../images/icons/16/tree/folder-documents-open.png") !important;
}

.x-tree-node-collapsed .eb-library-worksheets {
    background-image: url("../images/icons/16/tree/folder-worksheets.png") !important;
}

.x-tree-node-expanded .eb-library-worksheets {
    background-image: url("../images/icons/16/tree/folder-worksheets-open.png") !important;
}

.x-tree-node-collapsed .eb-library-repository {
    background-image: url("../images/icons/16/tree/folder-repository.png") !important;
}

.x-tree-node-expanded .eb-library-repository {
    background-image: url("../images/icons/16/tree/folder-repository-open.png") !important;
}

.eBook-icon-draftreport-24 {
    background-image: url("../images/icons/24/reports.png") !important;
}

.x-btn-pressed .eBook-icon-draftreport-24 {
    background-image: url("../images/icons/24/reports_draft.png") !important;
}

/*.eBook-Repository-node-FILECONTAINER .x-tree-node-icon {
    background-image: url("../images/icons/16/file.png") !important;
}*/

.eBook-Repository-node-PERIODCONTAINER .x-tree-node-icon {
    background-image: url("../images/icons/16/calendar.png") !important;
}

.eBook-Client-ico-32 
{
     background-image: url("../images/icons/32/client.png") !important;
}


.eBook-Partner-ico-32 
{
     background-image: url("../images/icons/32/biztax.png") !important;
}

.eBook-Warning-ico-32 
{
    background-image: url(../images/icons/32/warning.png) !important;
}

.eBook-Warning-ico-24
{
	background-image: url(../images/icons/24/warning.png) !important;
}