
.eBook-background-image-24
{
    background-size: 24px 24px !important;
}

.eBook-repo-searchFolderCt
{
    width: 0px;
}

.eBook-repo-searchFolder
{
    position: relative;
    right: -40px;
    top: 28px;
    color: #333;
}

.eBook-repo-trigger .x-form-field-wrap
{
    top: -7px;
}

.x-grid3-row-over {
    border-color: #FFE600 !important;
    background-color: #F1EFE3;
    background-image: url(../images/default/s.gif);
}

.eBook-GTH-Team5-btnPickupFirstOrSelectedRecord button {
    padding-top: 65px !important;
}

.eBook-bundle-toolbar-status
{
    font: normal larger arial,tahoma,verdana,helvetica !important;
    height: 38px !important;
    width: 86% !important;
    text-align: center;
    line-height: 38px !important;
    padding: 3px 25px;
    font-weight: bold !important;
    color: #333;
}

.eBook-bundle-bundleEditor
{
    padding: 0px 0px 10px 0px;
}

.eBook-reports-column
{
   padding:10px;
}

.eBook-reports-button-column
{
    padding: 10px;
}


.eBook-reports-button
{
    margin-bottom: 4px;
}

.eBook-reports-row
{
    border-color: white;
}

.ebook-formOverview .x-grid3-cell-inner {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 3px 3px 3px 5px;
    white-space: normal;
}

.eBook-reports .x-grid3-cell-inner {
    line-height: 15px;
    padding: 3px 3px 1px 5px;
}

.eBook-reports-poa-row-button {
    border: 1px solid #C1C1C1;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.eBook-reports-logEntries {
    top: 144px !important;
}

.eBook-reports-logEntries-collapsed {
    visibility: hidden;
}

.eBook-reports-logEntry {
    position: relative;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: #F0F0F0;
    text-align: left;
    margin: 5px;
    padding: 5px;
}

.eBook-reports-header {
    font-weight: bold;
    height: 14px;
    line-height: 14px;
}

.eBook-reports-icon {
    padding-left: 19px;
    background-position: 1px 0px;
    background-repeat: no-repeat;
    padding-bottom: 7px;
    background-size: 12px 12px;
}

.eBook-reports-logEntry-comment{
    padding: 0.1em 0 0.1em 1.5em;
    margin-bottom: 0.2em;
}

.eBook-reports-logEntry-comment-only{
    border-left: 1px solid rgb(229, 172, 23);
}

.eBook-reports-logEntry-comment li {
    list-style: inherit;
    list-style-position: inside;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

.eBook-reports-logEntry-comment ul {
    list-style: inherit;
    list-style-position: inside;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

.eBook-reports-logEntry-comment ol {
    list-style: inherit;
    list-style-position: inside;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

.eBook-reports-logEntry-center {
    margin-left: 6px;
}

.eBook-reports-logEntry-footer{
    padding: 5px 5px 0px 5px;
    clear:both;
}

.eBook-reports-logEntry-pdfAttachment{
    cursor: pointer;
    background-size: 10px 11px;
    background-position: 1px 1px;
    text-decoration: underline;
    padding-left: 16px;
    line-height: 12px;
}

.eBook-reports-logEntry-details{
    width: 320px;
    padding: 2px 5px;
    vertical-align: top;
}

.eBook-reports-logEntry-details ul{
    padding:0;
}
.eBook-reports-logEntry-details li {
    padding: 0.1em 0 0.1em 1.5em;
    margin-bottom: 0.2em;
    list-style: none;
    background-repeat: no-repeat;
    background-size: 11px 11px;
    background-position: 3px 2px;
}

.eBook-toolbar-pdfAttachmentLabel {
    border: none;
    background-size: 10px 11px;
    background-position: 1px 1px;
    background-image: url(../images/icons/16/pdf_final.png) !important;
    background-repeat: no-repeat;
    padding-left: 16px;
    line-height: 15px !important;
}

.eBook-document-tooltip
{
    border: 1px solid orange !important;
    }

.msg_floating {
    position: relative !important;
    z-index: 3000 !important;
}

.msg_floating2 {
    position: relative !important;
    z-index: 100 !important;
}


.eBook-yearend-info-input
{
      font-weight: bold !important;
      text-align: center;
padding-top: 250px;  
}

.eBook-yearend-info-list
{
   font-style: italic !important;
text-align: center;
padding-top: 10px;
    }

.schemaAdjustmentBold
{
    font-weight: bold !important; 
    height: 30px;
padding-top: 2px;  
}

.schemaAdjustmentPointer
{
    cursor:pointer;
    }

.errorCount
{
float: left;
left: 20px;
top: 3px;
position:relative;

border: 1px solid red;
padding: 10px;
border-radius: 27px;
color: white;
background-color: red;
font-weight: bold !important;
overflow: auto;
padding: 0px;
width: 14px;
box-shadow: 0px 0px 3px 2px red;
    }

.eBook-BizTax-errorMgs-wrapper
{
    margin:10px;
}


.eBook-BizTax-errorMgs-mgs
{
    border: 1px dashed;
border-radius: 15px;
padding: 10px;
margin-bottom: 10px;
    }

.ebook-help-index-h1
{
    margin: 15px;
    text-decoration: underline;
    font-size: 20px;
    color: gray;
}

.ebook-help-view
{
    background-color: white;
    
    padding: 15px;
    font-size: 25px;
    color: grey;
}

.ebook-help-indexview
{
    background-color: whiteSmoke;
    border-left: 1px solid lightGrey;
}

.ebook-help-index-subject
{
    font-weight: bold;
}

.ebook-help-index
{
    margin: 15px;
}

.eBook-help-block
{
    margin: 15px;
}

.eBook-help-block-body
{
    font-size: 13px;
}

.eBook-help-block-subject
{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: gray;
}

.eBook-help-block-body ul
{
    list-style-type: disc;
    margin-left: 15px;
}
.eBook-help-block-body li
{
    margin-bottom: 10px;
}

.eBook-File-Quickprints-checkbox-combo
{
    margin-left: 14px;    
}

.eBook-File-Quickprints-checkbox-box
{
    margin-left : -92px;
    margin-bottom: 20px;
}
    
.eBook-File-Quickprints-checkbox-fieldset-box
{
    margin-left:-80px;
}

.testFred
{
    color: Red;
    font-weight:bolder;
    }

.x-grouptabs-panel {
    background-color: #CCCCCC;
    border: 10px solid #CCCCCC;
}
.x-grouptabs-tab-strip-left {
    border-bottom: 1px solid #999999 !important;
    border-left: 1px solid #999999 !important;
    border-top: 1px solid #999999 !important;
}
.x-tab-panel-left .x-grouptabs-panel-header, .x-tab-panel-right .x-grouptabs-panel-header {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    float: left;
}
.x-tab-panel-right .x-grouptabs-panel-header {
    float: right;
}
.x-tab-panel-left .x-grouptabs-bwrap {
    float: right;
    position: relative;
}
.x-tab-panel-right .x-grouptabs-bwrap {
    float: left;
    position: relative;
}
.x-tab-panel-left ul.x-grouptabs-strip, .x-tab-panel-right ul.x-grouptabs-strip {
    display: block;
    width: auto;
}
.x-tab-panel-left ul.x-grouptabs-strip li, .x-tab-panel-right ul.x-grouptabs-strip li {
    clear: both;
    float: none;
    margin: 0;
    padding: 6px 0 2px 6px;
    position: relative;
}
.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text, .x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text {
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
}
.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text {
    padding-left: 18px;
}
.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text {
    padding-right: 18px;
}
.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text, .x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text {
    font-size: 12px;
    padding: 0;
}
.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text {
    margin-left: 4px;
}
.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text {
    margin-right: 4px;
}
.x-grouptabs-panel .x-grouptabs-strip a.x-grouptabs-text {
    color: #DFE8F6;
    display: block;
    font-family: tahoma,arial,sans-serif;
    font-weight: bold;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
}
.x-tab-panel-right .x-grouptabs-strip a.x-grouptabs-text {
    text-align: right;
}
.x-grouptabs-panel .x-grouptabs-strip-active a.x-grouptabs-text {
    color: #395B8E;
}
.x-grouptabs-panel ul.x-grouptabs-sub a.x-grouptabs-text {
    font-weight: normal;
}
.x-tab-joint {
    background: none repeat scroll 0 0 #FFFFFF;
    position: absolute;
    top: 1px;
    width: 3px;
    z-index: 8999;
}
.x-grouptabs-panel .x-grouptabs-panel-body {
    border: 1px solid #999999;
}
.x-grouptabs-panel ul.x-grouptabs-strip li {
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
}
.x-grouptabs-panel ul.x-grouptabs-strip li.x-grouptabs-strip-active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #999999 -moz-use-text-color;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
}
.x-tab-panel-left ul.x-grouptabs-strip li.x-grouptabs-strip-active {
    border-left: 1px solid #999999;
}
.x-tab-panel-right ul.x-grouptabs-strip li.x-grouptabs-strip-active {
    border-right: 1px solid #999999;
}
.x-grouptabs-panel li.x-grouptabs-strip-active ul.x-grouptabs-sub li.x-grouptabs-strip-active {
    background-color: #EDEEF0;
}
.x-grouptabs-panel li.x-grouptabs-strip-active ul.x-grouptabs-sub {
    background-color: transparent;
}
.x-grouptabs-panel li.x-grouptabs-strip-active ul.x-grouptabs-sub li {
    border-color: transparent;
}
.x-grouptabs-panel .x-grouptabs-corner {
    <!--background-image: url("../images/x-grouptabs-corners.gif");-->
    display: none;
    font-size: 1px;
    height: 11px;
    line-height: 6px;
    overflow: hidden;
    position: absolute;
    width: 11px;
}
.x-grouptabs-panel .x-grouptabs-strip-active .x-grouptabs-corner {
    display: block;
}
.x-grouptabs-panel .x-grouptabs-main.x-grouptabs-strip-active ul.x-grouptabs-sub .x-grouptabs-corner {
    display: none;
}
.x-grouptabs-panel .x-grouptabs-corner-top-left {
    background-position: left top;
    left: 0;
    top: 0;
}
.x-grouptabs-panel .x-grouptabs-corner-bottom-left {
    background-position: left bottom;
    bottom: 0;
    left: 0;
}
.x-grouptabs-panel .x-grouptabs-corner-top-right {
    background-position: right top;
    right: 0;
    top: 0;
}
.x-grouptabs-panel .x-grouptabs-corner-bottom-right {
    background-position: right bottom;
    bottom: 0;
    right: 0;
}
.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-bottom-left {
    bottom: -4px;
    left: -4px;
}
.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-bottom-right {
    bottom: -4px;
    right: -4px;
}
.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-top-left {
    left: -4px;
    top: -4px;
}
.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-top-right {
    right: -4px;
    top: -4px;
}
.x-grouptabs-panel ul.x-grouptabs-sub li.x-tab-with-icon a.x-grouptabs-text {
    background-repeat: no-repeat;
    padding-left: 20px;
}
.x-grouptabs-panel .x-grouptabs-expand {
    background: url("../images/elbow-plus-nl.gif") no-repeat scroll 0 0 transparent;
    height: 16px;
    left: 7px;
    position: absolute;
    top: 6px;
    width: 16px;
}
.ext-ie6 .x-grouptabs-panel .x-grouptabs-expand, .ext-border-box .x-grouptabs-panel .x-grouptabs-expand {
    left: 0;
}
.x-grouptabs-expanded .x-grouptabs-expand {
    background-image: url("../images/default/tree/elbow-minus-nl.gif");
}
.x-grouptabs-sub {
    display: none;
    margin-top: 4px;
}
.x-grouptabs-expanded .x-grouptabs-sub {
    display: block;
}
.x-grouptabs-panel ul.x-grouptabs-sub li {
    height: 18px;
    margin: 0 0 2px;
    padding: 0;
}
.x-grouptabs-panel ul.x-grouptabs-sub .x-grouptabs-main-item {
    display: none;
}
.x-tab-with-icon {
    border-style: none !important;
}
.x-grid3-locked, .x-grid3-unlocked {
    overflow: hidden;
    position: absolute;
}
.x-grid3-locked {
    border-right: 1px solid #99BBE8;
}
.x-grid3-locked .x-grid3-scroller {
    overflow: hidden;
}
.x-grid3-locked .x-grid3-row {
    border-right: 0 none;
}
.x-grid3-scroll-spacer {
    height: 19px;
}
.x-grid3-unlocked .x-grid3-header-offset {
    padding-left: 0;
}
.x-grid3-unlocked .x-grid3-row {
    border-left: 0 none;
}
.eBook-over {
    background-color: #FFE600 !important;
}
.eBook-over .x-panel-body {
    background-color: #FFE600 !important;
}
.eBook-hidden {
    display: none;
}
#utilities {
    margin-bottom: 5px;
    margin-top: 5px;
}
#eBook-mask {
    background-color: #CCCCCC;
    height: 100%;
    left: 0;
    opacity: 0.7;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.eBook-masked-msg-container {
    height: 100%;
    left: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20001;
}
.eBook-masked-msg-container .eBook-masked-msg-centered {
    text-align: center;
    width: 100%;
}
.eBook-masked-msg-window {
    background-color: #FFFFFF;
-webkit-box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.5);
-moz-box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.5);
box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.5);
border-radius: 10px 10px 10px 10px;
    opacity:0.9;
    cursor: wait;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    position: relative;
    text-align: left;
    width: 400px;
}
#eBook-splash.eBook-masked-msg-window {
    height: 220px;
}
.eBook-masked-msg-header {
    border-radius: 10px 10px 0px 0px;
    background-image: url("../images/EY/eyBeam-internal.png");
    background-position: 105px 50%;
    background-repeat: no-repeat;
    border-bottom: 1px solid #CCCCCC;
    padding: 5px;
}
.eBook-masked-msg-icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    height: 80px;
    width: 80px;
}
#eBook-icon {
    background-image: url("../images/eBook/eBookIcon-e.png");
    height: 160px;
    width: 160px;
}
.eBook-masked-msg-gerenating-pdf {
    background-image: url("../images/eBook/generatingReport.gif");
}
.eBook-masked-msg {
    float: left;
    font-size: 12pt;
    margin-top: 30px;
}
#eBook-startload-title {
    font-size: 24pt;
    margin-top: 40px;
}
#eBook-start-loader-loading {
    background-image: url("../images/default/grid/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    width: 20px;
}
.eBook-loading-ico {
    background-image: url("../images/default/grid/loading.gif");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.eBook-activity {
    -webkit-transition: opacity 0.1s ease-in 0s;
    float: right;
    margin-right: 10px;
}
.ebook-opacity-1 {
    opacity: 1;
}
.ebook-opacity-0 {
    -webkit-transition: opacity 5s ease-out 0s;
    opacity: 0;
}
#eBook-start-loader-text {
    -webkit-transition: all 0.4s ease-in-out 0s;
    color: #868686;
}
#eBook-Title {
    padding-left: 136px;
    width: auto !important;
}
.eBook-Client {
    background-repeat: no-repeat;
    float: left;
    height: 100%;
    padding-left: 36px;
}
.eBook-File {
    background-repeat: no-repeat;
    float: left;
    height: 100%;
    margin-left: 20px;
    padding-left: 36px;
}
.eBook-Client div {
    float: left;
}
.eBook-Client .eBook-menu-text {
    margin-right: 10px;
}
.eBook-File div {
    float: left;
}
.eBook-File .eBook-menu-text {
    margin-right: 10px;
}
.eBook-menu-info-block {
    -webkit-transition: opacity 1s ease 0s;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 0 0 15px 15px;
    border-right: 1px solid #CCCCCC;
    height: 60px;
    margin-left: 60px;
    margin-right: 60px;
    opacity: 0.6;
    overflow: hidden;
    padding: 10px;
}
.eBook-menu-info-block:hover {
    opacity: 1;
}
.eBook-menu-info-block .eBook-menu-info-block-item {
    background-repeat: no-repeat;
    background-size: 32px 32px;
    border-right: 1px dashed #CCCCCC;
    float: left;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 15px;
    padding-left: 40px;
    padding-right: 20px;
}
.eBook-menu-info-shared {
    color: #990000;
    font-weight: bold;
}
.eBook-menu-info-tax {
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
}

.eBook-menu-info-tax-biztax {
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
}

.eBook-menu-info-block-item-content {
    -moz-user-select: none;
}
.eBook-menu {
    border-top-width: 15px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
}
.eBook-menu .eBook-menu-item {
    float: left;
    width: 100px;
    height: 80px;
    border-bottom: 1px solid #FFF;
}
.eBook-menu .eBook-menu-item {
    border-radius: 30px 30px 20px 20px;
    color: #000000;
}
.eBook-menu .eBook-menu-item:hover {
    background: -moz-linear-gradient(center top , #F1DA36 0%, rgba(251, 244, 193, 0) 77%, rgba(254, 252, 234, 0) 100%) repeat scroll 0 0 transparent;
    background:  -webkit-linear-gradient(top, #F1DA36 0%, rgba(251, 244, 193, 0) 77%, rgba(254, 252, 234, 0) 100%) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
  
}

.eBook-menu-item-disabled
{
    pointer-events:none;
    color: lightgray !important;
    
}

.eBook-menu-item-over {
    cursor: pointer;
}
.eBook-menu .eBook-menu-item-over {
    cursor: pointer;
}
.eBook-menu-group-parent {
    float: left;
    height: 72px;
    width: 100px;
}
.eBook-menu .eBook-menu-item .eBook-menu-item-icon {
    background-position: center center;
    background-repeat: no-repeat;
    height: 32px;
    margin: 5px auto auto;
    width: 32px;
}
.eBook-menu .eBook-menu-item .eBook-menu-item-icon.eBook-notitle {
    height: 72px !important;
    position: relative;
    top: -16px;
    width: 72px !important;
}
.eBook-menu-item .eBook-menu-item-title {
    font-weight: bold;
    text-align: center;
}
.eBook-menu-item-alert-icon {
    background-repeat: no-repeat;
    height: 16px;
    margin-top: 16px;
    width: 16px;
}
.eBook-menu .eBook-menu-childcontainer {
}
.eBook-menu .eBook-menu-childcontainer .eBook-menu-childcontainer {
    border-width: 0;
    padding-left: 14px;
    padding-top: 2px;
}
.eBook-menu-groups {
    clear: left;
}
.eBook-menu-group {
    clear: left;
}
.eBook-menu-group-content {
    border: 1px solid #DDDDDD;
    float: left;
    margin-bottom: 5px;
    padding: 5px;
}
.x-list-body-inner dl {
    margin: 0 !important;
}
.eBook-float-right {
    float: right !important;
}
.eBook-float-left {
    float: left !important;
}
#eBook-loading-overlay {
    background-image: url("../images/loading.gif");
    height: 16px;
    width: 16px;
    z-index: 900;
}
.eBook-icon-16 {
    background-repeat: no-repeat;
    cursor: default;
    height: 16px;
    width: 16px;
}
.eBook-icon-16:hover {
    cursor: pointer;
}
.x-statusbar .x-status-text {
    cursor: default;
}
.x-statusbar .x-status-busy {
    background: none no-repeat scroll 3px 2px transparent;
    padding-left: 25px !important;
}
.x-toolbar div.xtb-text .x-statusbar .x-status-text-panel {
    border-color: -moz-use-text-color;
    border-style: solid;
    border-width: 1px;
    padding: 2px 8px 2px 5px;
}
.x-statusbar .x-status-error {
    background: none no-repeat scroll 3px 2px transparent;
    cursor: pointer;
    padding-left: 25px !important;
}
.x-statusbar .x-status-valid {
    background: none no-repeat scroll 3px 2px transparent;
    padding-left: 25px !important;
}
.x-status-error-list {
    border-color: -moz-use-text-color;
    border-style: solid;
    border-width: 1px;
    font: 11px tahoma,arial,verdana,sans-serif;
    padding: 5px 10px;
    position: absolute;
    z-index: 9999;
}
.x-status-error-list li {
    cursor: pointer;
    list-style: disc outside none;
    margin-left: 10px;
}
.x-status-error-list li a {
    text-decoration: none;
}
.x-status-error-list li a:hover {
    text-decoration: underline;
}
.x-statusbar .x-status-busy {
    background-image: url("../images/loading.gif");
}
.x-statusbar .x-status-text-panel {
    border-color: #99BBE8 #FFFFFF #FFFFFF #99BBE8;
}
.x-statusbar .x-status-error {
    background-image: url("../images/exclamation.gif");
    color: #CC3333;
}
.x-statusbar .x-status-valid {
    background-image: url("../images/accept.png");
}
.x-status-error-list {
    border-color: #CC3333;
}
.x-status-error-list li a {
    color: #15428B;
}
.eBook-Meta-Tree {
}
.eBook-Meta-Tree-Node {
    background-image: url("../images/default/tree/leaf.gif");
    background-repeat: no-repeat;
    height: 18px;
    padding-left: 18px;
}
.eBook-Meta-Tree-Node.eBook-Meta-Tree-Node-folder {
    background-image: url("../images/default/tree/folder.gif") !important;
}
.eBook-Meta-Tree-Node.eBook-Meta-Tree-Node-folder.eBook-Meta-Tree-Node-folder-open {
    background-image: url("../images/default/tree/folder-open.gif") !important;
}
.eBook-Meta-Tree-Node-Title {
    font-weight: bold;
    width: 150px;
}
.eBook-Meta-Tree-Node-Value {
    font-style: italic;
    margin-left: 5px;
}
.eBook-Meta-Tree-Node-children {
    margin-left: 10px;
}
.eBook-Meta-Tree-Node:hover {
    background-color: #FFE600;
    cursor: pointer;
}
.eBook-mapping-grid .x-grid3-hd-inner {
    white-space: normal !important;
}
.eBook-worksheet-grid-row-error {
    background-color: Red !important;
}
.eBook-worksheet-messages-wrap {
    background-color: #FFFFFF;
    margin-bottom: 2px;
}
.eBook-worksheet-messages-wrap div {
    background-position: 2px 2px;
    padding: 2px 2px 2px 22px;
}
.eBook-worksheet-messages-wrap-over {
    background-color: #FFE600 !important;
    cursor: pointer;
}
div.eBook-document-body {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
}
.eBook-documents-blocks-over-ok {
    background-color: #DFFFE3 !important;
}
.eBook-documents-blocks-over-fail {
    background-color: #FFAFAF !important;
}
.eBook-documents-blocks {
    background-color: #FFFFDF;
    border: 1px dotted #D0D0D0;
    padding: 10px;
}
.eBook-documents-block-select {
    background-color: #FEFF9F;
}
.eBook-templatechooser {
    background-color: #ABABAB;
    border-color: #000000;
    border-style: solid;
    border-width: 2px 2px 1px 1px;
    padding-bottom: 10px;
}
.eBook-templatechooser-item {
    color: #FFFFFF;
    float: left;
    margin: 10px;
}
.eBook-templatechooser-preview {
    background-position: center center;
    background-repeat: no-repeat;
    height: 145px;
}
.eBook-templatechooser-name {
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.eBook-templatechooser-over {
    background-color: #FFE600 !important;
    color: #000000;
    cursor: pointer;
}
.eBook-templatechooser-select {
    background-color: #E8D100 !important;
    color: #000000;
}
.eBook-documents-view-block {
    border-bottom: 1px dashed #999999;
    padding-left: 5px;
    padding-top: 5px;
}
.eBook-documents-view-block-title {
    font-weight: bold;
}
.eBook-documents-view-block-txt {
    padding-left: 8px;
}
.eBook-CreateFile-Info-img {
    background-position: center center;
    background-repeat: no-repeat;
    height: 180px;
    width: 180px;
}
.eBook-createFile-action {
    background-position: left center;
    background-repeat: no-repeat;
    height: 20px;
    margin: 5px;
    padding-left: 25px;
    width: 100%;
}
.eBook-createFile-action-msg {
    font-style: italic;
    font-weight: normal;
    padding-left: 10px;
}
.eBook-fields-iconlabelfield {
    background-repeat: no-repeat;
    height: 20px;
    padding-left: 20px;
    vertical-align: middle;
}
.eBook-bundle-iconlabelfield {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
.eBook-bundle-bgReviewnotes {
    width: 110px;
}
.x-form-file-wrap {
    height: 22px;
    position: relative;
}
.x-form-file-wrap .x-form-file {
    height: 22px;
    opacity: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}
.x-form-file-wrap .x-form-file-btn {
    position: absolute;
    right: 0;
    z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    color: #777777;
    left: 0;
    position: absolute;
    z-index: 3;
}
.excel-column-field {
    float: left;
    margin-left: 10px;
}
.eBook-Excel-excluderow {
    background-color: Red;
}
.eBook-tab-invalid .x-tab-strip-text {
    color: Red !important;
}
.eBook-header-menu-btn .x-btn-text {
    background-color: Transparent;
    font-family: Arial;
    font-size: 12pt;
    font-weight: normal;
}
.eBook-header-menu-btn-active .x-btn-text {
    font-weight: bold !important;
}

.eBook-header-tools-btn {
    background-position: 1px center;
    background-repeat: no-repeat;
    padding-right: 3px;
    padding-left: 14px;
    background-size: 11px 11px;
    float: right;
    line-height: 14px;
    height: 13px;
    font-size: 11px;
    border: 1px outset;
    border-radius: 3px;
    border-color: transparent;
}

.eBook-header-tools-btn:hover {
    border: 1px outset;
    border-radius: 3px;
    border-color: darkgrey;
}


#eBook-Client-files-openlist-list dl dt em {
    height: 18px !important;
}
.eBook-list-icon-column {
    background-repeat: no-repeat;
    height: 16px !important;
}
.eBook-account-new {
    background-image: url("../images/icons/16/new.png");
    background-repeat: no-repeat;
    height: 16px;
    margin-left: -16px;
    width: 16px;
}
.eBook-account-mapping-grid-previousSaldo {
    color: Gray !important;
}
.eBook-createFile-action-title {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
.eBook-cv-list {
    padding: 10px;
}
.eBook-cv-block {
    background-color: #CCCCCC;
    background-position: left center;
    background-repeat: no-repeat;
    border: 2px solid #CCCCCC;
    margin-top: 5px;
    padding: 2px;
}
.eBook-cv-blockHeading {
    background-color: #CCCCCC;
}
.eBook-cv-blockHeading-icon {
    background-color: White;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #000000;
    float: left;
    height: 26px;
    margin-bottom: 2px;
    width: 26px;
}
.eBook-cv-blockHeading-title {
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    padding-left: 10px;
}
.eBook-cv-blockHeading-body {
    background-color: #EEEEEE;
    padding-left: 70px;
    padding-right: 70px;
}
.eBook-cv-block-info {
    color: #000000;
    float: left;
    font-style: italic;
    line-height: 20px;
}
.eBook-cv-action {
    background-position: left center;
    background-repeat: no-repeat;
    color: #000000;
    cursor: default;
    float: left;
    font-weight: bold;
    line-height: 20px;
    margin-left: 10px;
    padding-left: 18px;
}
.eBook-cv-action:hover {
    background-color: #FFE600;
    color: #000066;
    cursor: pointer;
}
.eBook-cv-ws-list {
}
.eBook-cv-ws {
    background-color: White;
    height: 24px;
    line-height: 24px;
    margin-top: 2px;
    text-decoration: none;
}
.eBook-cv-ws:hover .eBook-cv-ws-title {
    text-decoration: underline;
}
.eBook-cv-ws-icon {
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    font-size: 10px;
    height: 24px;
    margin-left: 2px;
    padding-left: 18px;
    width: 30px;
}
.eBook-cv-ws-title {
    float: left;
    font-weight: bold;
}
.eBook-cv-ws-action {
    background-position: left center;
    background-repeat: no-repeat;
    color: #000000;
    cursor: default;
    float: right;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    padding-left: 18px;
    width: 60px;
}
.eBook-cv-ws-action:hover {
    background-color: #FFE600;
    color: #000066;
    cursor: pointer;
}
.eBook-cv-ws-action-hide {
    visibility: hidden;
}
.eBook-client-shared-txt {
    color: #990000;
}
.eBook-cv-alert-txt {
    color: #990000;
    font-style: italic;
}
.eBook-closing-view-body {
}
.eBook-mapping-lastyear {
    border: 1px dashed #333333 !important;
}
.x-form-check-wrap {
}
.x-form-checkbox {
}
.eBook-nc-body {
    padding: 10px;
    width: 90%;
}
.eBook-nc-row {
    clear: both;
    float: left;
    padding-top: 10px;
    width: 100%;
}
.eBook-nc-row-content {
    border-bottom: 1px dashed #CCCCCC;
    float: left;
    padding: 5px;
    width: 100%;
}
.eBook-nc-check {
    margin-right: 10px;
}
.eBook-nc-final {
    clear: both;
    padding-top: 10px;
    width: 90%;
}
.ext-mb-text ul {
    list-style: disc outside none;
    margin: 5px;
    padding-left: 15px;
}
.eBook-gridviewnotes-body .x-grid3-body-cell {
    border-top: 1px dotted #EFEFEF;
    padding-left: 35px;
}
.et-pdf-item-over {
    background-color: #FFE600;
    cursor: pointer;
}
.et-pdf-item-selected {
    background-color: #FFE600;
}
.et-pdf-item table {
    width: 100%;
}
.et-pdf-item-drag table {
    width: auto;
}
.et-champion-grid-highlight .x-grid-group-hd div.x-grid-group-title {
    color: #FF0000 !important;
}
.et-champion-grid-highlight .x-grid3-cell-inner {
    color: #FF0000 !important;
}
.x-combo-list-group-title {
    background-color: #CCCCCC;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px;
}
.x-combo-list-group-children {
    padding-left: 5px;
}
.eBook-worksheet-grid-row-lock {
    background-color: #CCCCCC;
}
.eBook-mapping-grid table.x-grid3-row-table td {
    height: 25px !important;
    vertical-align: middle;
}
.eBook-documents-free-edit {
    background-color: #FFFFDF;
}
.eBook-documents-imported-value {
    background-color: #DFEEFF;
}
.x-menu-floating {
}
.eBook-Xbr-Attachment {
    border: 1px solid #CCCCCC;
    margin: 10px;
    padding: 10px 10px 10px 20px;
}
.eBook-Xbrl-SubText {
    font-style: italic;
    padding-left: 20px;
}
.eBook-Xbrl-Attachment-Items {
    margin-left: 30px;
    margin-top: 5px;
}
.eBook-Xbrl-Attachment-Items .eBook-Xbrl-Attachment-List {
    border: 1px dashed #999999;
    list-style-position: inside;
    padding: 2px;
}
.eBook-Xbrl-Attachment-item {
    height: 18px;
    padding-left: 10px;
    width: 100%;
}
.eBook-Xbrl-Attachment-item:hover {
    background-color: #FFE600;
}
.eBook-Xbrl-Attachment-item-text {
    background-repeat: no-repeat;
    float: left;
    height: 18px;
    padding-left: 18px;
}
.eBook-Xbrl-Attachment-Add {
    background-image: url("../images/icons/16/add.png");
    background-position: left center;
    background-repeat: no-repeat;
    font-weight: bold;
    height: 16px;
    padding-left: 18px;
    padding-top: 2px;
}
.eBook-Xbrl-Attachment-Add:hover {
    color: #009900;
    cursor: pointer;
}
.eBook-Xbrl-Attachment-Remove {
    background-image: url("../images/icons/16/delete.png");
    background-repeat: no-repeat;
    float: right;
    height: 18px;
    margin-left: 20px;
    padding-left: 18px;
}
.eBook-Xbrl-Attachment-Remove:hover {
    color: #990000;
    cursor: pointer;
}
.eBook-Xbrl-Automated {
    color: #990000;
    font-style: italic;
    margin-left: 25px;
}
.eBook-Xbrl-Validation {
    background-repeat: no-repeat;
    font-size: 1.5em;
    font-weight: bold;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 30px;
}
.eBook-Xbrl-Validating {
    background-image: url("../images/ajax-loader.gif");
    padding-left: 140px;
}
.eBook-Xbrl-Validation-Valid {
    background-image: url("../images/valid.gif");
    color: #009900;
}
.eBook-Xbrl-Validation-Errors {
    background-image: url("../images/invalid.gif");
    color: #990000;
}
.eBook-Xbrl-Validation-Warnings {
    background-image: url("../images/valid.gif");
    color: #F5B50E;
}
.eBook-resource-item {
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    height: auto;
    margin-left: 10px;
    padding: 4px 4px 4px 20px;
}
.eBook-Xbrl-Overview {
    padding: 10px;
}
.eBook-Xbrl-Overview .eBook-Xbrl-Overview-Block {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border: 2px dotted #999;
    margin-top: 5px;
    padding: 15px 5px 5px 60px;
    min-height:60px;
    background-color:rgba(255,230,0,0.3);
}
.eBook-Xbrl-Overview .eBook-Xbrl-Overview-Contact {
    background-image: url("../images/icons/32/client.png");
}
.eBook-Xbrl-Overview .eBook-Xbrl-Overview-Block .eBook-Xbrl-Overview-Block {
    border: 0 none;
    font-weight: bold;
    margin-top: 0;
    padding-left: 10px;
}
.eBook-Xbrl-Overview .eBook-Xbrl-Overview-Block .eBook-Xbrl-Overview-Block .eBook-Xbrl-Fiches-other {
    font-style: italic;
    font-weight: normal;
    padding-left: 10px;
}
.eBook-Xbrl-Overview-Status-Color-0 {
    background-color: #FFE600;
}
.eBook-Xbrl-Overview-Status-Color--1 {
    background-color: #990000;
    color: #FFFFFF;
}
.eBook-Xbrl-Overview-Status-Color-1 {
    background-color: #FFE600;
}
.eBook-Xbrl-Overview-Status-Color-2 {
    background-color: #CCCCFF;
}
.eBook-Xbrl-Overview-Status-Color-99 {
    background-color: #00FF00;
}
.eBook-Xbrl-Divers-item {
    padding-left: 10px;
    padding-top: 2px;
}
.eBook-Xbrl-Overview-Divers-item {
    font-weight: bold;
    padding-left: 10px;
}
.eBook-Xbrl-Overview-FichesOther {
    padding-left: 20px;
}
.eBook-Xbrl-Fiches-other {
    font-weight: normal;
    padding-left: 10px;
}
.eBook-Xbrl-Overview-resource {
    background-repeat: no-repeat;
    font-style: italic;
    font-weight: normal;
    margin-left: 20px;
    padding-bottom: 2px;
    padding-left: 18px;
    padding-top: 2px;
}
.eBook-Xbrl-Overview-Fiches {
    height: 50px;
}
.eBook-XbrlOverview-Calculated {
    font-size: 1.2em;
    font-weight: bold;
}
.eBook-Xbrl-Overview-StatusText {
    font-weight: bold;
}
.eBook-Xbrl-Overview-Version {
    font-weight: bold;
}
.eBook-Xbrl-Overview .eBook-Xbrl-Overview-Status {
    background-image: url("../images/icons/32/status.png");
}
.eBook-Xbrl-Overview .eBook-Xbrl-Overview-Calculation {
    background-image: url("../images/icons/32/calculator.png");
}
.eBook-Xbrl-Overview .eBook-Xbrl-Overview-Fiches {
    background-image: url("../images/icons/32/xbrl.png");
}
.eBook-Xbrl-Overview .eBook-Xbrl-Overview-Divers {
    background-image: url("../images/icons/32/paperclip.png");
}
.eBook-Xbrl-Overview-Contact-Info {
    margin-left: 10px;
    padding-top: 5px;
}
.eBook-Xbrl-Overview-Contact-Address {
    margin-left: 10px;
    padding-top: 5px;
}
.eBook-Xbrl-Overview .eBook-Xbrl-Overview-Client {
    background-image: url("../images/icons/32/biztax.png");
}
.eBook-Xbrl-Overview-History-Title {
    background-image: url("../images/icons/16/history.png");
    background-repeat: no-repeat;
    font-weight: bold;
    height: 22px;
    margin-top: 5px;
    padding-left: 24px;
    padding-top: 3px;
}
.eBook-Xbrl-Overview-History-Title:hover {
    color: #00A3AE;
    cursor: pointer;
    text-decoration: underline;
}
.eBook-Xbrl-Overview-History {
    padding-left: 34px;
}
.biztax-simulation-first {
    margin-left: 210px;
}
.biztax-simulation-second {
    margin-left: 20px;
}
#biztax-icon {
    background-image: url("../images/biztax.gif");
    height: 160px;
    width: 160px;
}
.eBook-wizard-step-icon {
    background-position: left top;
    background-repeat: no-repeat;
    height: 20px;
    padding-left: 20px;
}
.eBook-wizard-steps-body {
    padding-bottom: 20px;
    padding-left: 40px;
    padding-top: 90px;
}
.eBook-wizard-step {
    margin-bottom: 5px;
}
.eBook-wizard-step-state-1 {
    color: #00CC00;
    font-weight: bold;
}
.eBook-wizard-step-state-0 {
    color: #000099;
    font-style: italic;
}
.eBook-wizard-step-state--99 {
    color: #CC0000;
}
.eBook-wizard-step-state--1 {
    color: #CCCCCC;
    display: none;
}
.eBook-wizard-step-state-2 {
    color: #009900;
}
.eBook-newfile-overview-info {
    background-color: #FFE600;
    padding: 10px;
}
.eBook-newfile-overview-tab {
    float: left;
    height: 200px;
    width: 50%;
}
.eBook-newfile-overview-tab .eBook-newfile-overview-tab-title {
    background-color: #CCCCCC;
    font-size: 10pt;
    font-weight: bold;
    padding: 5px 5px 10px 20px;
}
.eBook-newfile-overview-tab .eBook-newfile-overview-tab-body {
    border: 5px solid #CCCCCC;
    height: 170px;
    padding: 10px 10px 10px 40px;
}
.eBook-newfile-overview-tab .eBook-newfile-overview-tab-body li {
    list-style-type: disc;
    margin-left: 30px;
}
.eBook-newfile-proaccsettings-previmporttype {
    margin-left: 50px;
}
.eBook-newfile-actions {
    margin: 20px auto auto;
    width: 300px;
}
.eBook-newfile-actions li {
    background-repeat: no-repeat;
    font-size: 11pt;
    margin-top: 5px;
    padding-left: 20px;
}
.eBook-newfile-actions li.eBook-newfile-ready {
    background-image: url("../images/icons/16/arrow_right.gif");
    color: #999999;
}
.eBook-newfile-actions li.eBook-newfile-busy {
    background-image: url("../images/loading.gif");
    color: #000000;
    text-decoration: underline;
}
.eBook-newfile-actions li.eBook-newfile-done {
    background-image: url("../images/icons/16/tick-circle.png");
    color: #009900;
}
.eBook-newfile-actions li.eBook-newfile-error {
    background-image: url("../images/icons/16/error.png");
    color: #990000;
}
.eBook-newfile-actionsCT {
    border: 15px solid #CCCCCC;
    padding-bottom: 20px;
}
.eBook-progress_bar {
    -webkit-transition: opacity 1s linear 0s;
    border: 1px solid #000000;
    clear: both;
    font-size: 14px;
    margin: 10px 0;
    opacity: 0;
    padding: 3px;
}
.eBook-progress_bar.loading {
    opacity: 1;
}
.eBook-progress_bar .percent {
    background-color: #99CCFF;
    height: auto;
    width: 0;
}
.eb-dc-file-wrap {
    border-bottom: 1px solid #CCCCCC;
    height: 20px;
    margin: 5px;
    width: 100%;
}
.eb-dc-file-wrap div {
    float: left;
}
.eb-dc-file-ico {
    height: 20px;
    padding-left: 20px;
    width: 60%;
}
.eb-dc-file-ico-directory {
    background-image: url("../images/icons/16/open.png");
    background-repeat: no-repeat;
}
.eb-dc-file-lastupdated {
    height: 20px;
    width: 15%;
}
.eb-dc-file-created {
    height: 20px;
    width: 15%;
}
.ebook-health-icon 
{
    transition: background 2s ease;
    -moz-transition: background 2s ease; /* Firefox 4 */
    -webkit-transition: background 2s ease; /* Safari and Chrome */
    -o-transition: background 2s ease; /* Opera */
    background-image: url("../images/icons/48/status.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
    /*margin-top: 10px;*/
    width: 100px;
}
.ebook-health-selected {
    background-color: #FFFFFF;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
}
.eBook-health-region-border {
    background-color: #CCCCCC;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
}
.eBook-health-selector {
    background-color: #CCCCCC;
}
.eBook-health-center {
    border: 1px solid #999999;
}
.ux-grow-action-text {
    padding-left: 20px !important;
}
.eBook-auto-booking .ux-grow-action-text {
    background-image: url("../images/icons/16/sheets.png") !important;
    background-repeat: no-repeat !important;
    opacity: 0.8;
    padding-left: 20px !important;
}
.eBook-mapping-menu 
{
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F6F6F6 47%, #EDEDED 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(top , #FFFFFF 0%, #F6F6F6 47%, #EDEDED 100%) repeat scroll 0 0 transparent;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.eBook-mapping-menu .x-menu-item-active {
    background: -moz-linear-gradient(center top , #FEFCEA 0%, #F1DA36 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(top , #FEFCEA 0%, #F1DA36 100%) repeat scroll 0 0 transparent;
    border-radius: 10px 10px 10px 10px;
}
.eBook-def-window {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.eb-map-saldo-changed {
    color:#009900;
    cursor:pointer;
}

.eb-worksheet-previousimported 
{
    color:#000099;
}

.eb-saldi-qt-title {
    display:inline-block;
    width:40%;
}

.eb-saldi-qt-amount {
    display:inline-block;
    width:60%;
    text-align:right;
}

.eb-down-arrow 
{
    height:18px;
    width:100%;
    background-repeat: no-repeat;
    background-image: url(../images/icons/16/arrow_down.png);
    background-position: center center;
}


.eb-adjs-container {
    width:100%;
    height:100%:
    overflow:auto;
    background-color:#999;
}

.eb-adjs-item-Saldo-input {
    width:100px;
}

.eb-adjs-item {
    width:720px;
    background-color:#eee                            ;
    height:30px;
    border-bottom:1px solid #999;
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.eb-adjs-item.eb-adjs-item-editing {                         ;
    height:120px;
}

.eb-adjs-item-body {
    width:700px;
    float:left;
}



.eb-adjs-item-nr {
    width:50px;
    float:left;
    padding:5px;
    border-right:1px dotted #000;
    height:20px;
    background-color:#ccc;
}

.eb-adjs-item-editing .eb-adjs-item-nr {
    height:110px;
}

.eb-adjs-item-trans {
   height:20px;
    width:400px;
    float:left;
     padding:5px;
     border-right:1px dotted #000;
}

.eb-adjs-item-editing .eb-adjs-item-trans {
    height:110px;
}

.eb-adjs-item-SaldoN-1 {
    width:100px;
    height:20px;
    float:left;
     padding:5px;
     border-right:1px dotted #000;
}

.eb-adjs-item-editing .eb-adjs-item-SaldoN-1 {
    height:110px;
}

.eb-adjs-item-Saldo {
    width:100px;
    float:left;
     padding:5px;
     border-right:1px dotted #000;
     height:20px;
}

.eb-adjs-item-editing .eb-adjs-item-Saldo {
    height:110px;
}

.eb-adjs-item-editing .eb-adjs-item-trans-header {
    display:none;
}

.eb-adjs-item-trans-header-txt {
    width:374px;
    float:left;

}

.eb-adjs-item-trans-header-edit {
    width:16px;
    height:16px;
    margin-left:5px;
    margin-right:5px;
    background-image:url(../images/icons/16/edit.png);
    float:left;
}

.eb-adjs-item-trans-header-edit:hover {
    cursor:pointer;
}

.eb-adjs-item-trans-body {
    display:none;
}

.eb-adjs-item-editing .eb-adjs-item-trans-body {
    display:block;
    height:110px;
}

.eb-adjs-item-trans-edit {
     width:374px;
    float:left;
}
.eb-adjs-item-trans-edit-close {
    width:16px;
    height:16px;
    margin-left:5px;
    margin-right:5px;
    float:left;
    background-image:url(../images/icons/16/save.png);
}

.eb-adjs-item-trans-edit-close:hover {
    cursor:pointer;
}

.eb-adjs-item-trans-row {
    margin-top:5px;
    height:20px;
}

.eb-adjs-item-trans-row-language {
    width:70px;
    float:left;
    padding-top:5px;
    
}

.eb-adjs-item-trans-row-description {
    width:300px;
    float:left;
}

.eb-adjs-item-delete {
    background-image:url(../images/icons/16/delete.png);
    margin-top:5px;
    width:16px;
    height:16px;
    float:left;
}

.eb-adjs-item-delete:hover {
    cursor:pointer;
}


.eb-adjs-item-header {
    width:720px;
    background-image: -moz-linear-gradient(bottom, rgb(220,220,220) 35%, rgb(204,204,204) 68%);
    background-image: -webkit-linear-gradient(bottom, rgb(220,220,220) 35%, rgb(204,204,204) 68%);
    background-image: -ms-linear-gradient(bottom, rgb(220,220,220) 35%, rgb(204,204,204) 68%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.35, rgb(220,220,220)),
	    color-stop(0.68, rgb(204,204,204))
    );
    height:40px;
    border-bottom:1px groove #000;
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.eb-adjs-item-header div {
    float:left;
    font-weight:bold;
    height:30px;
    vertical-align:middle;
}

.eb-adjs-item-header-nr {
    width:50px;
    float:left;
    padding:5px;
    border-right:1px dotted #000;
}

.eb-adjs-item-header-trans{
    width:400px;
    float:left;
    padding:5px;
    border-right:1px dotted #000;
}

.eb-adjs-item-header-SaldoN-1{
    width:100px;
    float:left;
    padding:5px;
    border-right:1px dotted #000;
    text-align:right;
}

.eb-adjs-item-header-Saldo{
    width:100px;
    float:left;
    padding:5px;
    border-right:1px dotted #000;
    text-align:right;
}
.eb-adjs-item-Saldo-input {
    text-align:right;
}

.eb-adjs-items-body 
{
    overflow:auto;
}

.eb-adjs-items-nodata {
    width:200px;
    padding:5px;
    text-align:center;
    background-color:#FFF;
    border:1px solid rgba(0,0,0,0.5);
    margin:auto;
    margin-top:100px;
    opacity:0.8;
}

.tree-node-unselectable .x-tree-node-anchor span {
        opacity:0.7;
}

.tree-node-unselectable img.x-tree-node-icon {
	opacity:0.7;
}
.eb-repos-filemeta-field {
    margin-top:10px;
    width:100%;
    float:left;
}

.eb-repos-filemeta-field-label {
    font-weight:bold;
    width:220px;

    height:20px;
    padding-top:5px;
}

.eb-repos-filemeta-field span {
    float:left;
    padding-right:5px;
    padding-left:10px;
    padding-top:5px;
}

.eb-repos-filemeta-field span.x-form-twin-triggers {
    float:none;
    padding:0    ;
}

.eb-repos-filemeta-field div{
    float:left;
    padding-left:5px;
}

.proacc-importdate 
{
    font-weight:bold;
}


.x-btn-text-icon .x-btn-icon-xlarge-left .x-btn-text{
    background-position: 0 center;
	background-repeat: no-repeat;
    padding-left:64px;
    height:64px;
}

.x-btn-text-icon .x-btn-icon-xlarge-top .x-btn-text{
    background-position: center 0;
	background-repeat: no-repeat;
    padding-top:64px;
}

.x-btn-icon .x-btn-xlarge .x-btn-text 
{
    width:64px;
    height:64px;
}

.eb-repos-selection-tree .x-panel-body 
{
    border: solid 3px #62c4df;
}

.x-grid-group input
{
    display:none;
}

.eb-journal-export .x-grid-group input
{
    display:inline;
}

.eb-journal-exported-msg 
{
    color:#990000;
    font-size:8pt;
    font-style:italic;
}

.x-grid-group .eb-journal-exported-msg 
{
    display:none;
}

.eb-journal-export .x-grid-group .eb-journal-exported-msg 
{
    display:inline;
}

.eb-repos-link-type 
{
    background-repeat:no-repeat;
    width:16px;
    height:16px;
}

.ebook-message 
{
    padding: 10px;
    border-bottom:1px dotted #999;
}

.ebook-message-over 
{
    background-color:#FFE600 !important;
    cursor:pointer;
}

.eb-message-column {
    width:16px;
    height:16px;
}

.ebook-health-icon.ebook-health-icon-ERROR 
{
    
    background-image: url("../images/icons/16/error.png"), url("../images/icons/48/status.png");
    background-position: 57px 40px, center center;
    background-repeat: no-repeat;
}

.ebook-health-icon.ebook-health-icon-WARNING 
{
    
    background-image: url("../images/icons/16/warning.png"), url("../images/icons/48/status.png");
    background-position: 57px 40px, center center;
    background-repeat: no-repeat;
}

.ebook-health-icon.ebook-health-icon-INFO 
{
    
    background-image: url("../images/icons/16/info.png"), url("../images/icons/48/status.png");
    background-position: 57px 40px, center center;
    background-repeat: no-repeat;
}

.x-list-body-inner dl {
    border-bottom:1px dashed #CCC;
}

.eb-worksheet-autoline {
   color:rgb(125,0,255);
}

.ebook-repo-file-link 
{
    height:20px;
    padding-left:20px;
    background-repeat:no-repeat;
    border-bottom:1px dashed #ccc;
}
.ebook-repo-file-link-txt {
    float:left;
    width:140px;
}

.ebook-repo-file-link-delete {
    float:right;
    width:16px;
    height:16px;
    background-repeat:no-repeat;
    background-image:url(../images/icons/16/delete.png) !important;
}

.eBook-menu-info-PMT-Team {
    color:#006688;
    font-weight:bold;
   
}

.eBook-menu-info-PMT-Team:hover {
    cursor:pointer;
    text-decoration:underline;
}

.eb-gth-team-container 
{
    -webkit-transition:opacity 0.5s ease-in-out;
    -moz-transition:opacity 0.5s ease-in-out;
    -webkit-transition:left 0.5s ease-in-out;
    -moz-transition:left 0.5s ease-in-out;
    background-color:#FFF;
}

.eb-gth-team-todo-list 
{

    background-color:#FFF;
    border:solid 1px #999;
    z-index:100;
    overflow:hidden;
}

.eb-gth-team-workpane 
{
    background-color:#FFF;
   border-width:1px;
   border-color:#999;
   border-style:solid;
    overflow:hidden;
}

.eb-gth-todo-title 
{
    background-color:#999;
    font-weight:bold;
    padding:8px;
    color:#FFF;
}

.eb-gth-workpane-title 
{
    background-color:#CCC;
    text-align:center;
    font-weight:bold;
    padding:8px;
    color:#000;
    overflow:hidden;
    height:25px;
    white-space: nowrap;
}

.eb-gth-workpane-body 
{
    overflow:hidden;
    background-color:#000;
    
}

.eb-gth-team-workpane-step 
{
    width:100%;
    height:100%;
}

.eb-gth-team-startbtn {
    height:20px;
    background-color:#FFE600;
    text-align:center;
    font-weight:bold;
    text-decoration:underline;
}

.eb-gth-team-startbtn:hover {
    color:#00C;
    cursor:pointer;
}

.eb-gth-client {
    border-bottom:dashed 1px #999;
    padding:4px;
}

.eb-gth-client-actor {
    font-size:8pt;
    color:#999;
}

.gth-team1-downloadfiles {
    height:100%;
}

.gth-team1-downloadfiles-body {
    width:400px;

    margin:auto;
    margin-top:5px;
    text-align:center;
}
.gth-bottomtoolbar {
    background-color:#CCC;
    height:30%;
}

.eb-massive-btn button {
    font-size:16pt;
    font-weight:bold;
    margin-bottom:10px;
}

.eb-massive-btn .x-btn-text {	
   height:26px !important;
}

.x-item-disabled {
    color:#339 !important;
}

.x-selectable, .x-selectable *
{
   -moz-user-select: text!important;
   -khtml-user-select: text!important;
   -webkit-user-select: text!important;
}

.gth-team2-exceltempl 
{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
    width: 95%;
    line-height: 78px;
    height: 78px;
}

.gth-team2-repo1 
{
    float:left;
}

.gth-team2-repo1 ul 
{
    float:right;
    margin-left:10px;
}

.gth-team2-accord .x-accordion-hd {
    color:#009;
    font-weight:bold;
    text-decoration:underline;
}

.eBook-GTH-team4-file{
    margin-left:10px;
    cursor:pointer;
    border-bottom:dashed 1px #999;
    padding:4px;
}

.eBook-GTH-team4-file:hover{
    background-color:#FFE600;
}

/* BIZTAX 
.biztax-pane {
    margin-left:10px;
}

.biztax-pane .x-panel-body {
    border-width:0px !important;
} 

.biztax-pane .biztax-pane .x-panel-body {
    border:1px solid #000!important;
} 

.biztax-pane .x-panel-header {
    background-image: url() !important;
    background-color: transparent !important;
    border-width:0px !important;
}

.biztax-pane .x-panel-header .x-panel-header-text {
    font-size:12pt;
    
}

.biztax-pane .biztax-pane .x-panel-header .x-panel-header-text {
    font-size:10pt;
    font-style: italic;
}
*/
.biztax-editorwindow-nodeselect 
{
    background-color:#FFE600;
}

.biztax-editorwindow-node:hover
{
    cursor:pointer;   
    background-color:rgba(255,230,0,0.5);
}

.biztax-uploadeditor-thumb
{
    float:left;    
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-repeat:no-repeat;
}

.biztax-editorwindow-node
{
    padding:5px;   
    background-repeat:no-repeat;
}


.ebook-file-main-tab > .ux-icontab-panel-bwrap > .ux-icontab-panel-body > .ux-icontab-tabstrip > .ux-icontab-tabItem {
    width:90%;
    border-radius:0px 10px 10px 0px !important;
    
}

.ebook-file-main-tab > .ux-icontab-panel-bwrap > .ux-icontab-panel-body > .ux-icontab-tabstrip > .ux-icontab-tabItem.ux-icontab-strip-active {
    border-right:1px solid #999;    
    border-bottom:1px solid #999;  
    border-top:1px solid #999;  
}    


.biztax-inprogress-row 
{
    
    background-color:rgba(0,200,0,0.5);
    
}

.ext-ie .biztax-inprogress-row td 
{
    background-color:#00C800 !important;
}

.worksheet-detail-spacing {
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); 
   height:10px;
}

.x-grid3-row-over .worksheet-detail-spacing {
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,230,0,1)), color-stop(100%,rgba(255,255,255,1))); 
}

.x-grid3-row-selected  .worksheet-detail-spacing 
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,243,132,1)), color-stop(100%,rgba(255,255,255,1))); 
    

}



.worksheet-detail {

   margin-right:0px;

        display: -webkit-box !important;
        -webkit-box-orient: horizontal;

        display: -moz-box !important;
        -moz-box-orient: horizontal;

        display: box !important;
        box-orient: horizontal;
        background-color:#FFF;
        padding-bottom:10px;

     
}

.worksheet-detail-left-out {
    width:60px;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
   
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(247%,rgba(246,246,246,1)), color-stop(500%,rgba(237,237,237,1))); 

}

.worksheet-detail-left-out-top {
    height:60px;
    border-top:1px solid #CCC;
     border-right:1px solid #CCC;     
     border-radius:0px 20px 0px 0px;
      background-color:#FFF;
}

.worksheet-detail-left-out-center {
     -webkit-box-flex: 1;
     border-right:1px solid #CCC; 
      background-color:#FFF;   
}

.worksheet-detail-left-out-bottom {
     height:60px;
      background-color:#FFF;
}

.worksheet-detail-left-in {
    width:60px;
     display: -webkit-box !important;
    -webkit-box-orient: vertical;
    background-color:#FFF;
}

.worksheet-detail-left-in-top {
    height:60px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(247%,rgba(246,246,246,1)), color-stop(500%,rgba(237,237,237,1))); 
     
}

.worksheet-detail-left-in-center {
     -webkit-box-flex: 1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-247%,rgba(255,255,255,1)), color-stop(0%,rgba(246,246,246,1)), color-stop(90%,rgba(237,237,237,1))); 
}

.worksheet-detail-left-in-bottom {
     height:60px;
     border-bottom:1px solid #CCC;
     border-left:1px solid #CCC;  
     border-radius:0px 0px 0px 20px;  
     margin-left:-1px;
     background-color:rgba(237,237,237,1);
}

.worksheet-detail-right-in {
    width:60px;
     display: -webkit-box !important;
    -webkit-box-orient: vertical;
    background-color:#FFF;
}

.worksheet-detail-right-in-top {
    height:60px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(247%,rgba(246,246,246,1)), color-stop(500%,rgba(237,237,237,1))); 
     
}

.worksheet-detail-right-in-center {
     -webkit-box-flex: 1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-247%,rgba(255,255,255,1)), color-stop(0%,rgba(246,246,246,1)), color-stop(90%,rgba(237,237,237,1))); 
     border-right:1px solid #CCC;      
}

.worksheet-detail-right-in-bottom {
     height:60px;
     border-bottom:1px solid #CCC;
     border-right:1px solid #CCC;  
     border-radius:0px 0px 20px 0px;  

     background-color:rgba(237,237,237,1);
}

.worksheet-detail-right-out {
     -webkit-box-flex: 1;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
   
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(247%,rgba(246,246,246,1)), color-stop(500%,rgba(237,237,237,1))); 

}

.worksheet-detail-right-out-top {
    height:60px;
    margin-left:-1px;
    border-top:1px solid #CCC;
     border-left:1px solid #CCC;     
     border-radius:20px 0px 0px 0px;
      background-color:#FFF;
}

.worksheet-detail-right-out-center {
     -webkit-box-flex: 1;
      background-color:#FFF;   
}

.worksheet-detail-right-out-bottom {
     height:60px;
      background-color:#FFF;
}

.worksheet-detail-center {
    min-width:400px;
     border-bottom:1px solid #CCC;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(37%,rgba(246,246,246,1)), color-stop(90%,rgba(237,237,237,1))); 
}

.worksheet-detail-title {
   padding-top:10px;
   padding-bottom:5px;
}

.worksheet-detail-content table {
    background-color:#CCC;
    border:1px solid #999;
    border-bottom-width:2px;
    border-right-width:2px;
    margin-bottom:10px;
}

.worksheet-detail-content th {
    border:1px solid #DDD;
    padding:5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
}

.worksheet-detail-content td {
    padding:5px;
     background-color:#FFF;
     border-bottom:1px solid #EEE;
}

.worksheet-detail-content tr:hover td {
    background-color:#FFE600;
}

.worksheet-detail-row-border-left 
{
    border-left:1px solid #DDD;
}

.eBook-bundle-tree-missing a span {
 color:#FF0000;
}

.x-form-num-field 
{
    text-align:right;
    
}

/* Repo Comments */
.eBook-repo-comments-cont div
{
    float:none;
}

.eBook-repo-comments 
{
    width:90%;
}

.eBook-repo-comment 
{
    border: 1px dashed #666;
    padding: 0px;
    float: none;
    margin-bottom: 10px;
}

.eBook-repo-comment-txt 
{
    float: none;
    padding: 5px;
}

.eBook-repo-comment-by 
{
    float: none;
    background-color: #666;
    color: #fff;
}