
.biztax-upload-field li  {
    background-repeat:no-repeat;
    text-align:left;
    padding-left: 20px;
}

.eBook.BizTax.errorMgs.wrapper
{
    margin:10px;
}


.eBook.BizTax.errorMgs.mgs{}
.eb-biztax-tab * {
/*    font-family:'EYInterstate';*/
}

.biztax-panel {
    padding-left:10px;
    margin-top:10px;
   width:-webkit-calc(100% - 15px);
   
}


.biztax-panel .biztax-title {
    font-size:1.5em;
    display:inline-block;
    width:-webkit-calc(100% - 16px);
}


.biztax-pane-title-txt {
   
}

.biztax-pane-heading {
    width:100%;
    background-color:#eee;
    
}

.biztax-panel-children table tr th {
    border-right:1px solid #999;
     border-top:1px solid #999;
      border-bottom:1px solid #999;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#eee;
}

.biztax-panel-children table tr th:first-child {
    border-left:1px solid #999;
}


.biztax-panel-children table tr td {
    border-right:1px solid #999;
   
     border-bottom:1px solid #999;
    padding-top:5px;
    padding-bottom:5px;
}

.biztax-panel-children table tr td:first-child 
{
     border-left:1px solid #999;
}



.biztax-th-period, .biztax-th-grid-header, .biztax-th-field-header, .biztax-th-context-header {
    width:160px;
    min-width:160px;
}

.biztax-td-name  
{
    min-width:200px;
}

.biztax-th-context-action 
{
    min-width:40px;
}

#Id_cnt .biztax-th-period,#Id_cnt .biztax-td-period 
{
    width:50%;
}

.biztax-pane-tpl-instant .biztax-pane-header.biztax-pane-header-field {
    width:150px;
    
}

.biztax-th-code {
    width:35px;
}

.biztax-td-name 
{
    padding-left:5px;
}

.biztax-field-wrapper 
{
    text-align:center;
}


.biztax-th-context-header 
{
    color:#CC0000;
}

div.biztax-context-removeitem 
{
    margin-left:5px;
    width:24px;
    height:24px;
    background-image: url(../images/icons/24/delete.png) !important;
     -webkit-filter: grayscale(100%);  
}

div.biztax-context-removeitem:hover {
    cursor:pointer;
     -webkit-filter: grayscale(0%);  

}



div.biztax-contextgrid-addbutton {
    background-color:#999;
    color:#FFF;
    font-weight:bold;
    margin:10px;
    padding:5px;
    float:left;
}

div.biztax-contextgrid-addbutton:hover {
    background-color:#FFEC00;
    color:#000;
    cursor:pointer;

}


.biztax-cg-incomplete 
{
    background-color:#FF0000;
}

.biztax-cg-incomplete td
{
    background-color:#FF0000;
}

.biztax-pane-header.biztax-pane-header-label {
   /* width:-webkit-calc(100% - 370px);*/
    border-left:1px solid #999;
}



.biztax-pane-body {
    width:100%;
    border-bottom:1px solid #000;
    border-left:1px solid #000;
    border-right:1px solid #000;
        min-height:100px;
    display:table;
}

.biztax-pane-tpl-instant .biztax-pane-body .biztax-pane-body  {
    border-width:0px;
}

.biztax-pane-tpl-duration {
    margin-top:20px;
}

.biztax-pane-tpl-instant {
    margin-top:20px;
}


.biztax-pane-tpl-panesOnly .biztax-pane-body {
    border-width:0px;

}

.biztax-pane-tpl-duration .biztax-pane-body {
    border-width:1px;

}

.biztax-pane-tpl-instant .biztax-pane-body {
    border-width:1px;

}


.biztax-pane-collapseToggle {
    width:16px;
    height:16px;   
    display:inline-block;
    background-repeat:no-repeat;
    /*background-image:url(../images/icons/16/down_pointer.png);*/
}

.biztax-pane-line {
    width:100%;
    display:table-row;
    
  /*  padding-top:2px;
    padding-bottom:2px;*/
}

.biztax-line-item {
    display:table-cell;
    border-left:1px solid #999;
    border-bottom:1px solid #ccc;
}

.biztax-line-item:last-child {
   border-right:1px solid #999;
}


.biztax-item-code
{
    border-left:1px solid #999;
    padding-left:5px;
    
    min-height:16px;
    width:70px;
    min-width:70px;
  
}

.biztax-item-field
{
    border-left:1px solid #999;
    padding-left:5px;
    width:150px;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}

.biztax-item-field input
{
    width:95%;
    
}

/*
.biztax-item-title
{
     background-color:#C00;
     display:table-cell;
     -webkit-column-span:2;

  
}
*/
.biztax-item-label 
{
     
    
     padding-left:5px;
}


.biztax-pane-tpl-duration .biztax-pane-body .biztax-item-field
{
    width:200px;
}

.biztax-pane-line-2 {
    width:100%;
    display:block; 
    
    background-color:#FF0;
}


.biztax-item-title {
   padding-left:5px;
   padding-top:10px;
   font-weight:bold;

}

.biztax-item-colspan {
   padding-left:5px;
   padding-top:20px;
   padding-bottom:20px;
   
}

.biztax-calculated-field 
{
    color:#990000;
    font-weight:bold;
}

.biztax-pane-pivot-heading .biztax-pane-header.biztax-pane-header-field 
{
    width:100px;
}

.eb-biztax-tab .x-toolbar {
    background-color:#FFF;
    background-image:none;
    border-width:0px;
}

.eb-biztax-tab .ux-icontab-innerbody {
    border-bottom:1px solid #000;
    border-top:2px solid #000;
    background-color:#999;
}

.biztax-contentpane
{
    width:100%;
    clear:both;
}

.biztax-contentpane-body {
    overflow:auto;
    width:100%;
    background-color:#999;
    border:1px solid #000;
}

.biztax-contentpane-body table{

    padding-bottom:40px;
    background-color:#999;
}

.biztax-contentpane-body thead {
    background-color:#CCC;
    border:1px solid #000;
}

.biztax-contentpane-body tbody {
    background-color:#FFF;
}    

.biztax-contentpane-body thead th {
    padding:5px;
    border-bottom:1px solid #000;
   border-top:1px solid #000;
}

th.biztax-context-single-head {
    width:150px;  
    min-width:150px; 
    border-left:1px solid #000;
}

.biztax-contentpane-body thead tr:nth-child(1) th.biztax-context-single-head:last-child {
    border-right:1px solid #000;    
}

.biztax-contentpane-body thead th[colspan] {
    border-left:1px solid #000;
   border-bottom-width:0px !important;
}

.biztax-contentpane-title {
    font-weight:bold;
    font-size:12pt;
    
}

.biztax-contentpane-body tr td {
    padding:5px;
    border-bottom:1px solid #CCC;
    border-right:1px solid #CCC;
    height:25px;
}

.biztax-contentpane-body table {
    
}

.biztax-pane-tpl-instant tr:nth-child(1) th.biztax-context-single-head:nth-child(1)
{
    width:auto !important;

}



div.biztax-contentpane-button {
    background-color:#999;
    color:#FFF;
    font-weight:bold;
    margin:10px;
    padding:5px;
    float:left;
}

div.biztax-contentpane-button:hover {
    background-color:#FFEC00;
    color:#000;
    cursor:pointer;

}

tr.biztax-context-invalidline td 
{
    background-color:rgba(255,0,0,0.5);
}

tr.biztax-context-selectedline td 
{
    background-color:rgba(255,250,0,0.3);
}

.biztax-tab-code-Id .biztax-pane-tpl-duration .biztax-pane-header.biztax-pane-header-field {
    width:460px;
}

.biztax-pane-tpl-binary {
    margin-bottom:20px;
}

.biztax-pane-tpl-binary td {
    border-width:0px;
    padding:10px;
}

.biztax-pane-tpl-binary table {
    border:1px solid #000;
}

.biztax-pane-tpl-binary ul {
    width:90%;
    padding:auto;
    border:1px solid #CCC;
    min-height:50px;
}

.biztax-pane-tpl-binary ul li {
    padding-left:20px;
    background-position:left center;
    background-repeat:no-repeat;
    margin-left:10px;
    margin-top:2px;
}

.biztax-tb-info {
    margin-left:10px;
    margin-right:10px;
    padding:5px;
    /*border:1px dotted #999;
    border-radius: 10px 10px 10px 10px;
    background-color:rgba(255,230,0,0.5);*/
    min-width:120px;
}

.biztax-tb-info div {
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:20px;
    color:#000;
    font-weight:bold;
    margin-top:2px;
    line-height:20px;
    /*    font-family:'EYInterstate';*/
}

.biztax-tb-info-calc {
    background-image:url(../images/icons/16/calculator.png);
}

.biztax-tb-info-calc-pos
{
    color:#090 !important;
}

.biztax-tb-info-calc-neg
{
    color:#900 !important;
}

.biztax-tb-info-calc-busy {
    background-image:url(../images/default/grid/loading.gif), url(../images/icons/16/calculator.png);
}

.biztax-tb-info-save {
    background-image:url(../images/icons/16/save.png);
}

.biztax-tb-info-save-busy {
    background-image:url(../images/default/grid/loading.gif), url(../images/icons/16/save.png);
}


.biztax-tb-status {
    margin-left:10px;
    margin-right:10px;
    padding:5px;
    border:1px dotted #999;
    border-radius: 10px 10px 10px 10px;
    background-color:rgba(255,230,0,0.5);
    min-width:120px;
   
}
.biztax-tb-status-text {
    font-weight:bold !important;
}

.biztax-status--99 {
    background-color: #990000;
    color: #FFFFFF;
}
.biztax-status-0 {
    background-color: rgba(255,230,0,0.5);
}

.biztax-status-1 {
    background-color: rgba(200,230,190,0.5);
    color: #000000;
}
.biztax-status-10 {
    background-color: rgba(0,23,250,0.5);
    color: #FFFFFF;
}
.biztax-status-30 {
    background-color: rgba(255,180,0,0.5);
}
.biztax-status-99 {
    background-color: rgba(0,255,0,0.5);
    color: #006600;
}

.ebook-proxyselection-body {
   
}
.ebook-proxyselection-body div {
   vertical-align:middle;
   
}

.ebook-proxyselection-body .eBook-proxyselection-title {
    font-size:11pt;
    float:left;
}

.ebook-proxyselection-body .eBook-proxyselection-content {
    float:left;
   margin-left:10px;
     border:1px dashed #000;
    border-radius: 10px 10px 10px 10px;
    height:30px !important;
    width:550px;
    padding:5px;
    font-size:11pt;
    padding-top:20px;
}


div.eBook-proxyselection-button {
   background-image:url(../images/icons/32/cabinet.png);
    background-repeat:no-repeat;
    background-position:center center;
    height:50px;
    width:40px;
    margin-right:20px;
}


div.eBook-proxyselection-button:hover {
    cursor:pointer;    
}

div.eBook-proxyselection-selected {
   background-repeat:no-repeat;
   padding-left:30px;
}

div.eBook-proxyselection-selected.eBook-proxyselection-selected-invalid {
    border-color:#F00;
}

.biztax-lock-16 
{
    padding-left:20px;
    background-position: left center;
    background-repeat:no-repeat;
	background-image:url(../images/icons/16/lock.png) !important;
}

.biztax-partner-select .x-panel-bwrap > form > div {
    margin-bottom:10px;
}

.biztax-partner-select .x-panel-bwrap > form > label {
    display:block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-style:italic;
    text-decoration:underline;
}


.biztax-tb-proxy {
   
  margin-left:10px;
    margin-right:10px;
    padding:5px;
    border:1px dotted #999;
    border-radius: 10px 10px 10px 10px;
    background-color:rgba(0,255,0,0.5);
    min-width:120px;
}


.biztax-tb-proxy-content {
    font-size:11px !important;
    font-weight:bold;
}

.biztax-tb-noproxy {
    background-color: #990000;
    color: #FFFFFF;
}


.biztax-invalid-tb {
    border-color:rgba(255,0,0,0.2) !important;   
     background-color:rgba(255,0,0,0.9) !important;   
     background-image:none;
}

.biztax-invalid-tb div {
     color:#FFF;
     font-weight:bold;
     padding:0px;
     background-color:transparent;
     border-color:rgba(255,0,0,0.2) !important;   
     border-width:0px;
}


.eBook-biztax-validationlist-item
{
    margin:10px;
    padding:5px;
    border:1px solid #900;
    border-radius: 10px 10px 10px 10px;
    background-color:rgba(255,255,0,0.4);
}
    
.eBook-biztax-validationlist-field
{
    font-weight:bold;
    text-decoration:underline;
    margin-bottom:5px;
}

.eBook-biztax-validationlist-msg
{
    color:#900;
    padding-left:20px;
}

.biztax-tb-info-validation  {
    background-image:url(../images/icons/16/tick-circle.png);
}

.biztax-tb-info-validation-invalid  {
    background-image:url(../images/icons/16/error.png);
}

.biztax-tb-info-validation  -busy {
    background-image:url(../images/default/grid/loading.gif), url(../images/icons/16/tick-circle.png);
}


.biztax-tabstrip-invalid 
{
    
    background-image: url(../images/default/form/exclamation.gif);
    background-repeat: no-repeat;
    background-position: 180px 2px;

}

.biztax-tabstrip-invalid  span
{
    color:#CC0000;
}