﻿.ux-icontab-panel {
    overflow:hidden;
}

.ux-icontab-panel-header, .ux-icontab-panel-footer {
	border: 1px solid;
    overflow:hidden;
    zoom:1;
}

.ux-icontab-panel-header {
	border: 1px solid;
	padding-bottom: 2px;
}

.ux-icontab-panel-footer {
	border: 1px solid;
	padding-top: 2px;
}

.ux-icontab-strip-wrap {
	width:100%;
    overflow:hidden;
    position:relative;
    zoom:1;
}

ul.ux-icontab-strip {
	display:block;
    width:5000px;
    zoom:1;
}

ul.ux-icontab-strip-top{
	padding-top: 1px;
	background: repeat-x bottom;
	border-bottom: 1px solid;
}

ul.ux-icontab-strip-bottom{
	padding-bottom: 1px;
	background: repeat-x top;
	border-top: 1px solid;
	border-bottom: 0 none;
}

.ux-icontab-panel-header-plain .ux-icontab-strip-top {
    background:transparent !important;
    padding-top:0 !important;
}

.ux-icontab-panel-header-plain {
    background:transparent !important;
    border-width:0 !important;
    padding-bottom:0 !important;
}

.ux-icontab-panel-header-plain .ux-icontab-strip-spacer,
.ux-icontab-panel-footer-plain .ux-icontab-strip-spacer {
    border:1px solid;
    height:2px;
    font-size:1px;
    line-height:1px;
}

.ux-icontab-panel-header-plain .ux-icontab-strip-spacer {
    border-top: 0 none;
}

.ux-icontab-panel-footer-plain .ux-icontab-strip-spacer {
    border-bottom: 0 none;
}

.ux-icontab-panel-footer-plain .ux-icontab-strip-bottom {
    background:transparent !important;
    padding-bottom:0 !important;
}

.ux-icontab-panel-footer-plain {
    background:transparent !important;
    border-width:0 !important;
    padding-top:0 !important;
}

.ext-border-box .ux-icontab-panel-header-plain .ux-icontab-strip-spacer,
.ext-border-box .ux-icontab-panel-footer-plain .ux-icontab-strip-spacer {
    height:3px;
}

ul.ux-icontab-strip li {
    float:left;
    margin-left:2px;
}

ul.ux-icontab-strip li.ux-icontab-edge {
    float:left;
    margin:0 !important;
    padding:0 !important;
    border:0 none !important;
    font-size:1px !important;
    line-height:1px !important;
    overflow:hidden;
    zoom:1;
    background:transparent !important;
    width:1px;
}

.ux-icontab-strip a, .ux-icontab-strip span, .ux-icontab-strip em {
	display:block;
}

.ux-icontab-strip a {
	text-decoration:none !important;
	-moz-outline: none;
	outline: none;
	cursor:pointer;
}

.ux-icontab-strip-inner {
    overflow:hidden;
	text-overflow: ellipsis;
}

.ux-icontab-strip span.ux-icontab-strip-text {
	white-space: nowrap;
	cursor:pointer;
    padding:4px 0;
}

.ux-icontab-strip-top .ux-icontab-with-icon .ux-icontab-right {
    padding-left:6px;
}

.ux-icontab-strip .ux-icontab-with-icon span.ux-icontab-strip-text {
	padding-left:20px;
    background-position: 0 3px;
    background-repeat: no-repeat;
}

.ux-icontab-strip-active, .ux-icontab-strip-active a.ux-icontab-right {
    cursor:default;
}

.ux-icontab-strip-active span.ux-icontab-strip-text {
	cursor:default;
}

.ux-icontab-strip-disabled .ux-icontabs-text {
	cursor:default;
}

.ux-icontab-panel-body {
    overflow:hidden;
}

.ux-icontab-panel-bwrap {
    overflow:hidden;
}

.ext-ie .ux-icontab-strip .ux-icontab-right {
    position:relative;
}

.ux-icontab-strip-top .ux-icontab-strip-active .ux-icontab-right {
    margin-bottom:-1px;
}

/*
 * Horrible hack for IE8 in quirks mode
 */
.ext-ie8 ul.ux-icontab-strip li {
    position: relative;
}
.ext-ie8 .ux-icontab-strip .ux-icontab-right{
    margin-bottom: 0 !important;
    top: 1px;
}
.ext-ie8 ul.ux-icontab-strip-top {
    padding-top: 0;
}
.ext-ie8 .ux-icontab-strip .ux-icontab-strip-closable a.ux-icontab-strip-close {
    top:4px;
}
.ext-ie8 .ux-icontab-strip-bottom .ux-icontab-right{
    top:0;
}


.ux-icontab-strip-top .ux-icontab-strip-active .ux-icontab-right span.ux-icontab-strip-text {
    padding-bottom:5px;
}

.ux-icontab-strip-bottom .ux-icontab-strip-active .ux-icontab-right {
    margin-top:-1px;
}

.ux-icontab-strip-bottom .ux-icontab-strip-active .ux-icontab-right span.ux-icontab-strip-text {
    padding-top:5px;
}

.ux-icontab-strip-top .ux-icontab-right {
	background: transparent no-repeat 0 -51px;
    padding-left:10px;
}

.ux-icontab-strip-top .ux-icontab-left {
	background: transparent no-repeat right -351px;
    padding-right:10px;
}

.ux-icontab-strip-top .ux-icontab-strip-inner {
	background: transparent repeat-x 0 -201px;
}

.ux-icontab-strip-top .ux-icontab-strip-over .ux-icontab-right {
	 background-position:0 -101px;
}

.ux-icontab-strip-top .ux-icontab-strip-over .ux-icontab-left {
	 background-position:right -401px;
}

.ux-icontab-strip-top .ux-icontab-strip-over .ux-icontab-strip-inner {
	 background-position:0 -251px;
}

.ux-icontab-strip-top .ux-icontab-strip-active .ux-icontab-right {
	background-position: 0 0;
}

.ux-icontab-strip-top .ux-icontab-strip-active .ux-icontab-left {
	background-position: right -301px;
}

.ux-icontab-strip-top .ux-icontab-strip-active .ux-icontab-strip-inner {
	background-position: 0 -151px;
}

.ux-icontab-strip-bottom .ux-icontab-right {
	background: no-repeat bottom right;
}

.ux-icontab-strip-bottom .ux-icontab-left {
	background: no-repeat bottom left;
}

.ux-icontab-strip-bottom .ux-icontab-strip-active .ux-icontab-right {
	background: no-repeat bottom right;
}

.ux-icontab-strip-bottom .ux-icontab-strip-active .ux-icontab-left {
	background: no-repeat bottom left;
}

.ux-icontab-strip-bottom .ux-icontab-left {
    margin-right: 3px;
    padding:0 10px;
}

.ux-icontab-strip-bottom .ux-icontab-right {
    padding:0;
}

.ux-icontab-strip .ux-icontab-strip-close {
    display:none;
}

.ux-icontab-strip-closable {
    position:relative;
}

.ux-icontab-strip-closable .ux-icontab-left {
    padding-right:19px;
}

.ux-icontab-strip .ux-icontab-strip-closable a.ux-icontab-strip-close {
    opacity:.6;
    -moz-opacity:.6;
    background-repeat:no-repeat;
    display:block;
	width:11px;
    height:11px;
    position:absolute;
    top:3px;
    right:3px;
    cursor:pointer;
    z-index:2;
}

.ux-icontab-strip .ux-icontab-strip-active a.ux-icontab-strip-close {
    opacity:.8;
    -moz-opacity:.8;
}
.ux-icontab-strip .ux-icontab-strip-closable a.ux-icontab-strip-close:hover{
    opacity:1;
    -moz-opacity:1;
}

.ux-icontab-panel-body {
    border: 1px solid;
}

.ux-icontab-panel-body-top {
    border-top: 0 none;
}

.ux-icontab-panel-body-bottom {
    border-bottom: 0 none;
}

.ux-icontab-scroller-left {
    background: transparent no-repeat -18px 0;
    border-bottom: 1px solid;
    width:18px;
    position:absolute;
    left:0;
    top:0;
    z-index:10;
    cursor:pointer;
}
.ux-icontab-scroller-left-over {
    background-position: 0 0;
}

.ux-icontab-scroller-left-disabled {
    background-position: -18px 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

.ux-icontab-scroller-right {
    background: transparent no-repeat 0 0;
    border-bottom: 1px solid;
    width:18px;
    position:absolute;
    right:0;
    top:0;
    z-index:10;
    cursor:pointer;
}

.ux-icontab-scroller-right-over {
    background-position: -18px 0;
}

.ux-icontab-scroller-right-disabled {
    background-position: 0 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

.ux-icontab-scrolling-bottom .ux-icontab-scroller-left, .ux-icontab-scrolling-bottom .ux-icontab-scroller-right{
    margin-top: 1px;
}

.ux-icontab-scrolling .ux-icontab-strip-wrap {
    margin-left:18px;
    margin-right:18px;
}

.ux-icontab-scrolling {
    position:relative;    
}

.ux-icontab-panel-bbar .x-toolbar {
    border:1px solid;
    border-top:0 none;
    overflow:hidden;
    padding:2px;
}

.ux-icontab-panel-tbar .x-toolbar {
    border:1px solid;
    border-top:0 none;
    overflow:hidden;
    padding:2px;
}

.ux-icontab-panel-header, .ux-icontab-panel-footer {
	background-color: #eaeaea;
	border-color:#d0d0d0;
    overflow:hidden;
    zoom:1;
}

.ux-icontab-panel-header, .ux-icontab-panel-footer {
	border-color:#d0d0d0;
}

ul.ux-icontab-strip-top{
    background-color:#dbdbdb;
	background-image: url(../images/gray/tabs/tab-strip-bg.gif);
	border-bottom-color:#d0d0d0;
}

ul.ux-icontab-strip-bottom{
    background-color:#dbdbdb;
	background-image: url(../images/gray/tabs/tab-strip-btm-bg.gif);
	border-top-color:#d0d0d0;
}

.ux-icontab-panel-header-plain .ux-icontab-strip-spacer,
.ux-icontab-panel-footer-plain .ux-icontab-strip-spacer {
    border-color:#d0d0d0;
    background-color: #eaeaea;
}

.ux-icontab-strip span.ux-icontab-strip-text {
	font:normal 11px tahoma,arial,helvetica;
	color:#333;
}

.ux-icontab-strip-over span.ux-icontab-strip-text {
	color:#111;
}

.ux-icontab-strip-active span.ux-icontab-strip-text {
	color:#333;
    font-weight:bold;
}

.ux-icontab-strip-disabled .ux-icontabs-text {
	color:#aaaaaa;
}

.ux-icontab-strip-top .ux-icontab-right, .ux-icontab-strip-top .ux-icontab-left, .ux-icontab-strip-top .ux-icontab-strip-inner{
	background-image: url(../images/gray/tabs/tabs-sprite.gif);
}

.ux-icontab-strip-bottom .ux-icontab-right {
	background-image: url(../images/gray/tabs/tab-btm-inactive-right-bg.gif);
}

.ux-icontab-strip-bottom .ux-icontab-left {
	background-image: url(../images/gray/tabs/tab-btm-inactive-left-bg.gif);
}

.ux-icontab-strip-bottom .ux-icontab-strip-over .ux-icontab-left {
	background-image: url(../images/gray/tabs/tab-btm-over-left-bg.gif);
}

.ux-icontab-strip-bottom .ux-icontab-strip-over .ux-icontab-right {
	background-image: url(../images/gray/tabs/tab-btm-over-right-bg.gif);
}

.ux-icontab-strip-bottom .ux-icontab-strip-active .ux-icontab-right {
	background-image: url(../images/gray/tabs/tab-btm-right-bg.gif);
}

.ux-icontab-strip-bottom .ux-icontab-strip-active .ux-icontab-left {
	background-image: url(../images/gray/tabs/tab-btm-left-bg.gif);
}

.ux-icontab-strip .ux-icontab-strip-closable a.ux-icontab-strip-close {
	background-image:url(../images/gray/tabs/tab-close.gif);
}

.ux-icontab-strip .ux-icontab-strip-closable a.ux-icontab-strip-close:hover{
	background-image:url(../images/gray/tabs/tab-close.gif);
}

.ux-icontab-panel-body {
    border-color:#d0d0d0;
    background-color:#fff;
}

.ux-icontab-panel-body-top {
    border-top: 0 none;
}

.ux-icontab-panel-body-bottom {
    border-bottom: 0 none;
}

.ux-icontab-scroller-left {
    background-image:url(../images/gray/tabs/scroll-left.gif);
    border-bottom-color:#d0d0d0;
}

.ux-icontab-scroller-left-over {
    background-position: 0 0;
}

.ux-icontab-scroller-left-disabled {
    background-position: -18px 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

.ux-icontab-scroller-right {
    background-image:url(../images/gray/tabs/scroll-right.gif);
    border-bottom-color:#d0d0d0;
}

.ux-icontab-panel-bbar .x-toolbar, .ux-icontab-panel-tbar .x-toolbar {
    border-color:#d0d0d0;
}

.ux-icontab-tabstrip 
{
    float:left;
    height:100%;
    overflow:hidden;
    
/*    border-right:solid 1px #CCC;*/
}

.eb-biztax-tab .ux-icontab-tabstrip
{
    padding-left:1px;
    border-right:solid 1px #000;
}

.eb-biztax-tab .ux-icontab-tabstrip-wrap
{
/*    padding-left:10px;*/
    border-right:solid 1px #000;
}

.ux-icontab-innerbody 
{
    height:100%;
    float:left;
}

.eb-biztax-tab .ux-icontab-innerbody  
{
    border-top:solid 1px #000;
    border-bottom:solid 1px #000;
    border-right:solid 1px #000;
}

.ux-icontab-tabItem 
{
    width:100%;
    height:auto;
    opacity:0.5;
    padding-top:5px;
    padding-bottom:5px;
}

.ux-icontab-tabItem.eb-biztax-tabitem
{
    opacity:0.7;
    background-color:#ddd;
    margin-bottom:2px;
    margin-top:2px;
    border-top:solid 1px #999;
    border-bottom:solid 1px #999;
    border-left:solid 1px #999;
    border-radius:8px 0px 0px 8px;
   
    
}

.ux-icontab-with-icon 
{
}

.ux-icontab-tabItem-icon 
{
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    height:48px;
    clear:left;
}

.ux-icontab-tabItem-txt 
{
    width:100%;
    height:auto;
    padding:auto;
    text-align:center;
    font-weight:bold;
}

.eb-biztax-tabitem .ux-icontab-tabItem-txt 
{
    text-align:left;
    padding-left:10px;
    padding-right:20px;
    width:97%
}

div:not(.ux-icontab-strip-active).ux-icontab-strip-over
{
   background-color:#FFE600 !important;
   cursor:pointer;
}

.ux-icontab-panel-body-noborder 
{
    border-width:0px !important;
}

.ux-icontab-strip-active 
{
    background-color:rgba(240,240,24,0.3);
    opacity:1;
    text-decoration:underline;

}

.ux-icontab-strip-active.eb-biztax-tabitem 
{
    border-color:#000;
    background-color:#FFF;
    opacity:1;
        text-decoration:none;
}

.ux-icontab-tabstrip-title {
    width:100%;
    padding-bottom: 5px;
    padding-top:5px;
    margin-bottom: 5px;
    text-align:center;
    font-weight:bold;
    border-bottom:dashed 2px #CCC;

}

.ux-icontab-tabstrip-wrap 
{
    height:100%;
    float:left;
}

.ux-icontab-tabstrip-scroll-up 
{
    /*
    border:1px solid #000;*/
    border-radius: 10px 10px 10px 10px;
    
    margin:auto;
    width:95%;
    height:20px;
    background-color:#FFF;
    background-image:url(../images/gray/grid/col-move-bottom.gif);
    background-repeat:no-repeat;
    background-position:center center;
}

.ux-icontab-tabstrip-scroll-down 
{
    /*
    border:1px solid #000;*/
    border-radius: 10px 10px 10px 10px;
    
    margin:auto;
    width:95%;
    height:20px;
     background-color:#FFF;
    background-image:url(../images/gray/grid/col-move-top.gif);
    background-repeat:no-repeat;
    background-position:center center;
}

.ux-icontab-tabstrip-scroll-up:hover {
    background-color:#FFE600;
    cursor:row-resize;
}

.ux-icontab-tabstrip-scroll-down:hover {
    background-color:#FFE600;
    cursor:row-resize;
}


.ux-icontab-tabstrip-body 
{
    width:100%;
    height:400px;
}