#header h1 {
	margin: 0;
	padding: 17px 0 0;
	float: right;
	font-size: 18px;
	line-height:20px;
	border: 0;
	width: 350px;
	text-align: right;
	font-weight: bold;
}
#header .eylogo  {
	float: left;	/*margin-left: 16px;*/
	margin-top: 5px;
}
#utilities {
	text-align:left;
	overflow: hidden;
	font-size:0.91em;
	height: 1.5em;
	padding-left:2em;
	padding-right:2em;
}
#utilities ul {
	margin: 0;
	padding: 0px;
	color: #666666;
}
#utilities li {
	float: left;
	list-style-type: none;
	padding:0 6px;
}
#utilities .globalutil {
	float: right;
	margin-right: .6em;
}
#utilities div.user {
	float:left;
	padding: 0;
	width: 40%;
	margin-left: 0;
	display: inline;
}
#utilities .user div {padding:0;display: inline;}
#utilities .user strong { color: #333333; }
.globalutil li {
	border-left: 1px solid #ccc;
}
.globalutil li.ey-first {
	border-left: 0px solid #ccc;
}
a, a:link {
	color: #369;
	text-decoration: none;
}
a:hover {
	color: #369;
	text-decoration: underline;
}
a:visited {
	color: #666699;
}
#wrapper.home .col {
	float: left;
	width: 209px;
	margin-right: 16px;
	margin-bottom: 1em;
}
div.col.border {
	float: left;
	width: 205px;
	margin-right: 16px;
	margin-bottom: 1em;
}
div.col.border-t {
	float: left;
	width: 207px;
	margin-right: 16px;
	margin-bottom: 1em;
}
.col {
	float: left;
	width: 227px;
	margin-right: 16px;
	padding:0 10px;
	margin-bottom: 1em;
}
div.last, div.border.last, div.border-t.last {
	margin-right: 0px!important;
}
.colspan2 {
	float: left;
	width:454px;
	margin-right: 16px;
	margin-bottom: 1em;
}
.border {
	padding: 10px;
	border: 1px solid #999;
}
.first { margin-left: 16px; }

#supergraphic {
	height: 273px;
	background: #f0f0f0;
	margin-bottom: 16px;
}
div.border-t {border-top:2px solid #ccc; padding-top:6px;}

/* =NAVIGATION
--------------------------------------*/
/* =CLASSES
--------------------------------------*/
/* =TABLES
--------------------------------------*/
/* =FORMS
--------------------------------------*/
#eySearchBox {
	float:left;
	height: 12px;
}

#SearchBox {
	float:left;
	font-size:13px;
	margin: 0;
	width: 172px;
	overflow:hidden;
	margin: 0 0 3px;
}

input#eySearchBox {
	border: 1px solid #999999;
	height: 17px;
	width: 85%;	
	clear:both;
}

#SearchBox label {
	float:left;
	font-size:12px;
	margin:7px 4px 0 0;
}
#eySearchButton {
	float:left;
	margin:0px 0pt 0 -1pt;
}
.search-field {
	border: 1px solid #999;
	padding: 2px 0pt 3px 0;
	width: 100px;
	height: 12px;
	color: #666666;
}
a img {border:none;}

/* =DIVS
--------------------------------------*/
.eyRightGrayBox{
	background: #f0f0f0;
	border:1px solid #999;
	margin: 16px 20px 16px 16px;
}
.eyRightGrayBox .img {
	background:#ccc; display:block;
}
.eyRightWhiteBox{
	background: #fff;
	border:1px solid #999;
	margin: 16px 20px 16px 16px;
}
.eyRightWhiteBox ul,  .eyRightWhiteBox h4, .eyRightWhiteBox p,
.eyRightGrayBox ul, .eyRightGrayBox h4, .eyRightGrayBox p {
	margin: 0 0 .5em; padding:0 }
	
#eyRightWhiteBoxHeadline{
	background: #ccc;
	margin:0;
	padding:5px 0 5px 10px;
	border:1px solid #fff;
}
.eyRightWhiteBox .eyRightWhiteBoxHeadline h3{
	margin:0;
	padding:0;
}
.eyRightWhiteBox ul li, .eyRightGrayBox ul li {padding: 0 0 0 10px;margin:3px 10px 3px 0;background:url(../images/blueBullet.gif) no-repeat;list-style:none;}

.eyRightWhiteBox ul li.on {
	background:url(../images/blackBullet.gif) no-repeat;
	color: #000;
	font-weight: bold;
}
.eyRightWhiteBox ul li.on a {
	color:#333;
}

#eyRightColumn h3 {margin:0;}

#eyBreadCrumb ul {
	list-style-type: none;
	margin: 0; padding:0;
}
#eyBreadCrumb li {
	margin-right: 3px;
	display: inline;
	font-size: 0.8em;
}
#eyBreadCrumb li.last {
	margin-right: 0;
}
#eyLeftColumnAboutPrint p {
	margin: 0px;
}
#eyRightColumn .img-bleed {
margin: -7px 0 1em -10px;
}
#sidebar .eyRightWhiteBox h3 {
	padding: 10px 10px 0;
	margin: 0;
}
#sidebar .eyRightWhiteBox h3.gray, #sidebar #subnav.eyRightWhiteBox h3 {
	padding: 5px 10px;
	background: #CCCCCC;
	border: 1px solid white;
}
.pad {
	margin: 0 0 16px 16px; /*changed from no pad on right*/
}
.home .pad {
	margin-right:0;
}
#extra .pad {
	margin-left:31px;
	color:#666666;
}
#sidebar .pad {
	margin: 10px;
}
.padborder {
	margin:0 20px 16px 16px;
	padding:10px;
	border:1px solid #999;
}
#extra .pad img {
	margin-left: -31px;
	margin-top: 3px;
	margin-bottom: 1.5em;
}
#sidebar   .active {
	color: inherit;
	font-weight: bold;
}
#footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	margin: 3px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	color: #666666;
}
#footer div {border:1px solid #ccc;}
#footer ul {
	padding:.25em 1em 0 0;
	list-style:none;
	color: #666666;
	margin:0;
}
#footer ul li {
	display:inline;
	padding: 0 1em;
	margin:0;
	font-size:0.93em;
	border-left: 1px solid #666666;
	float: left;
}
#footer ul li.first {margin-left:0; border-left:none;}
/* Miscellaneous classes for reuse */
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
/************************************************  NAME  *********************************************/
div.searchbox {
	margin-bottom: 10px;
	background-color: #F0F0F0;
}
.offscreen {
	position: absolute;
	left: -1000px;
}
#boxContent {
	border-top:none !important;
	margin-bottom: 1em;
}
/*****************************tabs***********************************/
.submenu a:hover {
	background:#F0F0F0 none repeat scroll 0%;
	color:#868686;
	text-decoration:none;
}

.submenu ul li:hover ul, .submenu ul a:hover ul {
	visibility:visible;
}

.white_pod {
	background-color:#FFFFFF;
	border:1px solid #999999;
	padding:10px;margin:1px;
}.pageutils {
	float: right;
	margin-left: 12px;
	border: 1px solid #CCCCCC;
	padding: 3px 5px;
	font-size: .75em;
}
/* =Home page specific
--------------------------------------*/
#feature-article{
	margin-bottom:14px;
}

#supergraphicLeft{
	float:left;
	margin-left:-20px;
	width:250px;
	display:inline;
}

#supergraphicRight{
	float:left;
	width:475px;
	margin-left:16px;
}

/* =Tabs
--------------------------------------*/
.tablist
{
	margin:0px;
	padding:0px;
}

.tablist ul, .tablist li
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

.tablist a:link, .tablist a:visited
{
	display:block;
	float: left;
	color: #666666;
	background:#FFF;
	padding: 3px 16px;
	margin-right:3px;
	font-weight:bold;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	border: 1px solid #CCC;
}

.tablist a:link#current-tab, .tablist a:visited#current-tab
{
	background: white;
	color: #000;
	background:#CCC;
	border-bottom:1px solid #ccc;
}

.tablist a:hover { color: #000; background-color:#F0F0F0; }
.tabcontent {
	border:1px solid #CCC;
	padding:16px;
	margin:-1px 0 2em;
}
.tabcontainer {
	display: block;
}

.alert {
	color: #990033;
}


