/* Root = Horizontal, Secondary = Vertical */
/*Top Menu Nav*/
#eyMenuNav {
/*	background-image:url(../images/ey/eyMainNav-bg.gif);*/

background-color:#f0f0f0;
        color:#333;
        font-weight:bold;
	font-size:1.08em; /*was 13px*/
	height:32px; /*was 30px;*/
	line-height: 17px; /*not previously declared*/
	position:relative;
	z-index:100;
}
