﻿.eb-map-container {
    height:100%;
    width:100%;
}

.eb-map-col 
{
    border:1px solid #FFF;
}

.eb-map-accounts {
    width:444px;
    position:absolute;
    height:100%;
    border-right: 5px solid #CCCCCC;
}

.eb-map-mappings {
    position: absolute;
    left: 448px;
    height:100%;
}

.eb-map-accounts .eb-map-header {
    width:470px;
    overflow:hidden;

}



.eb-map-mappings .eb-map-header {
    width:319px;
    overflow:hidden;

}

.eb-map-mappings .eb-map-header .eb-map-header-inner {
    width:100%;
    padding-right:18px;
}



.eb-map-accounts .eb-map-body{
    width:470px;
    overflow:hidden;
}

.eb-map-accounts .eb-map-body .eb-map-scroller {
    margin-bottom:50px;
}

.eb-map-mappings .eb-map-body {
    width:319px;
    overflow:auto;
}

.eb-map-mappings .eb-map-body .eb-map-scroller {
    width:100%;
    
}

.eb-map-accounts div.eb-map-col {
    border-right: 1px solid #ccc;
    padding:2px;
    float:left;
}



.eb-map-mappings div.eb-map-col {
    border-right: 1px solid #ccc;
    padding:2px;
    float:left;
}

.eb-map-header div.eb-map-row {
    border-bottom: 3px solid #ccc;
}

.eb-map-body div.eb-map-row {
    border-top: 1px solid #ccc;
}

.eb-map-body div.eb-map-row.eb-map-adjustment {
    border-top: 1px dashed #ccc;
}

.eb-map-body div.eb-map-row.eb-map-adjusted > .eb-map-col {
    background-color:#eee;
    color:#999;
}


.eb-map-body div.eb-map-row div.eb-map-row {
    border-top: 1px dashed #ccc;
}

.eb-map-body div.eb-map-row div.eb-map-row div.eb-map-col {
    font-style:italic;
}

.eb-map-body div.eb-map-row div.eb-map-row div.eb-map-col-1 .eb-map-content {
    padding-left:10px;

}

.eb-map-delete {
    background-image:url(../images/icons/16/delete.png);
    width:16px;
    height:16px;
    float:right;
    display:none;
}

div.eb-map-row div.eb-map-col {
    height:36px;
     width:100px;
    padding:2px;
}

.eb-map-mappings div.eb-map-row div.eb-map-col {
    height:36px;
    width:100px;
    padding:2px;
}

.eb-map-mappings .eb-map-body div.eb-map-row {
    background-color:#FFF;
}




.eb-map-mappings .eb-map-body div.eb-map-row div.eb-map-col:hover {
    cursor:pointer;
    background-color:#ff0;
}

div.eb-map-row.eb-map-hide-adjusts .eb-map-row {
    display:none;
}


div.eb-map-row-hd {    
    background-image: linear-gradient(bottom, rgb(220,220,220) 35%, rgb(204,204,204) 68%);
    background-image: -o-linear-gradient(bottom, rgb(220,220,220) 35%, rgb(204,204,204) 68%);
    background-image: -moz-linear-gradient(bottom, rgb(220,220,220) 35%, rgb(204,204,204) 68%);
    background-image: -webkit-linear-gradient(bottom, rgb(220,220,220) 35%, rgb(204,204,204) 68%);
    background-image: -ms-linear-gradient(bottom, rgb(220,220,220) 35%, rgb(204,204,204) 68%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.35, rgb(220,220,220)),
	    color-stop(0.68, rgb(204,204,204))
    );
    height:40px;
    
}

div.eb-map-row-hd div.eb-map-col {
    border-color:#FFF !important;
   /* font-weight:bold;*/
    
}




div.eb-map-row div.eb-map-col-0 {
    width:40px;
}

div.eb-map-row div.eb-map-col-1 {
    width:200px;
}

div.eb-map-row div.eb-map-col-2 {
    width:90px;
    text-align:right;
}

div.eb-map-row div.eb-map-col-3 {
    width:90px;
    text-align:right;
}

.eb-map-row-tools {
    width:40px;
    height:20px;
    float:right;
   /* background-color:#00F;*/
}

.eb-map-add-adjust {
    width:18px;
    height:20px;
 /*   background-color:#F00;*/
    float:left;
}

.eb-map-show-adjust {
    width:18px;
    height:20px;
   /* background-color:#0F0;*/
    float:left;
}


.eb-map-row-active {
    /*color:#FF0000 !important;*/
    background-color: rgba(255, 230, 0, 0.5);
}

.eb-map-col-active 
{
    background-image: linear-gradient(bottom, rgb(252,241,143) 35%, rgb(255,230,0) 68%);
    background-image: -o-linear-gradient(bottom, rgb(252,241,143) 35%, rgb(255,230,0) 68%);
    background-image: -moz-linear-gradient(bottom, rgb(252,241,143) 35%, rgb(255,230,0) 68%);
    background-image: -webkit-linear-gradient(bottom, rgb(252,241,143) 35%, rgb(255,230,0) 68%);
    background-image: -ms-linear-gradient(bottom, rgb(252,241,143) 35%, rgb(255,230,0) 68%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.35, rgb(252,241,143)),
	    color-stop(0.68, rgb(255,230,0))
    );
    /*color:#FF0000 !important;*/
}

.eb-map-mapping 
{
    background-repeat:no-repeat;
    background-position:center center;
}

.eb-map-mapping-current 
{
    background-image:url(../images/icons/16/tick.png);   
}

.eb-map-adjusted .eb-map-mapping-current 
{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}


.eb-map-mapping-previous 
{
    border:1px dashed #000;
}

.eb-map-col-4
{
    background-color:transparent;
}
.eb-map-col-5 
{
    background-color:Transparent;
}
.eb-map-col-6 
{
    background-color:Transparent;
}
.eb-map-col-7 
{
    background-color:Transparent;
}
.eb-map-col-8 
{
    background-color:Transparent;
}
.eb-map-col-9 
{
    background-color:Transparent;
}
.eb-map-col-10 
{
    background-color:Transparent;
}
.eb-map-col-11
{
    background-color:Transparent;
}

.eb-map-icons 
{
    width:16px;
    height:17px;
    background-repeat:no-repeat;
    background-position:center center;
    float:left;
}

.eb-map-hasAttachments .eb-map-attach 
{
    background-image:url(../images/icons/16/paperclip.png);
}

