#wrapper {
	border:1px solid #ccc;
	background-color: #FFFFFF;
	text-align:left;
	position: relative;
	margin:2em .6em;
	margin-bottom:0px;
	min-height:580px;
}
* html #wrapper {
	height:580px;/* min-height in IE 6 */
}

#header 
{
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height: 62px;
	position: relative;
	background-image: url(../images/ey/eyBeam-internal.png);
	background-repeat: no-repeat;
	background-position: 225px;
	padding: 0 20px 0 20px;
}
#contentPanel 
{
	background-color:#fff;
}

.wrapperPadding
{
	padding-left:.6em;
	padding-right:.6em;
}

#contentPanel 
{
	padding:0px;
	padding-left:7px;
	padding-right:7px;
}

#contentPanel > div.x-panel-bwrap
{
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	
}

.boxSides
{

}

#eyMenuNav 
{
    padding:5px;
    padding-left:20px;
	border-bottom:1px solid #ccc;
	display: block;
}

.contentpane 
{
	background-color:Red;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	margin-left:.6em;
	margin-right:.6em;
}

#footer {
	/*position:absolute;*/
	bottom:0pt; /*!important*/
	margin: 0 .6em;
	font-size:0.9em;
	padding:0pt;
	
	background:#CCCCCC;
} 

#contents 
{
	padding:2em;
}