/* -------------------------------------------------------------- 
   
   typography.css
   * Sets up some sensible default typography.
  
   Based on work by:
   * Nathan Borror     [playgroundblues.com]
   * Jeff Croft        [jeffcroft.com]
   * Christian Metts   [mintchaos.com]
   * Wilson Miner      [wilsonminer.com]
   * Richard Rutter    [clagnut.com]
   
   Read more about using a baseline here:
   * alistapart.com/articles/settingtypeontheweb
  
-------------------------------------------------------------- */

/* This is where you set your desired font size. The line-heights 
   and vertical margins are automatically calculated from this. 
   The percentage is of 16px (0.75 * 16px = 12px). */
   
body {  
	font-size:.75em; /*12px base*/
	line-height:1.4; 
	margin:0 0 1em 0; 
	color: #000000;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6
/*blockquote, abbr, acronym, address, 
dl, ol, ul, p, 
fieldset, form, label, legend , td
table, caption, tbody, tfoot, thead, tr, th */
{
	font-size: .75em;
}

ul ul {

}
   
h1,h2,h3,h4,h5,h6 { 
  color: #000; 
  font-family: Helvetica, Arial, Verdana, sans-serif; 
}
.form-a label {display:block; margin:6px 0 3px;}
.form-a fieldset {border:1px solid #ccc; padding:0 10px 10px;}

/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; }

h1 {
	font-size: 1.5em; /*18px*/
	line-height: 1;
	margin: 0;
	font-weight: bold;
}
h2 {
	font-size: 1.5em;/*18px*/
	font-weight: bold;
	margin: 0 0 .5em 0;
} 
h3 {
	font-size: 1.16em;/*14px*/
	font-weight: bold;
	margin: 0;
}
h4 {
	font-size: 1.08em;/*13px*/
	font-weight: bold;
	line-height: 1.25;
	margin: 0;
}
h5 {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}
h6 {
	font-size: 1em;
	font-weight: bold;
	margin: 3px 1em 1em 0;
	border-top: 2px solid #FFE600;
	color: #333333;
	background-color: #FFFBCB;
	padding: 6px 12px;
}


/* Text elements
-------------------------------------------------------------- */

p           {
	margin: 0 0 1em;
}
p.last, 
ul.last      { margin-bottom: 0; }

p img       { /*float: left; margin: 1.5em 1.5em 1.5em 0;*/ padding: 0; }
p img.top   { margin-top: 0; } /* Use this if the image is at the top of the <p>. */
img         { margin: 0; }
/*img         { margin: 0 0 1.5em; }*/

ul, ol      {  }/*BH modified from 1.5em*/
ul          {

}
ol          { list-style-type: decimal; }
dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin-top: 1.5em; font-style: italic; }
del         { color:#666; }

a, a:link			{ color: #369; text-decoration: none; }
a:hover     { color: #000; text-decoration: underline;  }
a:visited	{ color:#369;}

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic;}
dfn         { font-weight: bold; }
/*pre,code    { margin: 0; white-space: pre; }*/
pre,code,tt { font: 1em 'andale mono', 'monotype.com', 'lucida console', monospace; line-height: 1.5; } 
tt          { display: block; margin: 1.5em 0; line-height: 1.5; }


/* Tables
-------------------------------------------------------------- */

/*table   { margin-bottom: 1.4em; } --> ERR @ EXTJS */
th      { font-weight: bold; }  
tfoot   { font-style: italic; }
caption {
	color: #666666;
}

table.data {border:1px solid #ccc;}
.data td, .data th { padding: 4px 10px; }
.data caption {
	color: #666666;
	text-align: left;
	font-size:1.1em;
	font-weight:bold;
	border-top:1px solid #ccc;
	padding:5px 0;
}

table .last { padding-right: 0; } 
.ListHeaderColor th.last { border-right: 0; padding-right:10px; } 
.ListHeaderColor th, .ListHeaderColor td { padding:4px 10px;}
.ListHeaderColor th {
	background-color:#D9D9D9;
	font-weight:bold;
	border-right: 1px solid #F0F0F0;
}
.ListFooterColor td, .ListFooterColor th  {
	background-color:#CCC; color:#666666
}
.odd, .odd td, .odd th {
	background-color:#F0F0F0;
}
th {
	text-align:center;
}
.left {text-align:left}
.right {text-align:right}
.center {text-align:center}
td.padthis {padding: 0 16px 16px 0;}


/* Some default classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.quiet      { color: #666; }

.hide       { display: none !important; }
.highlight, .highlight a { background:#ff0; }
.added      { color:#060; }
.removed    { color:#900; }

.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }


/* Forms
-------------------------------------------------------------- */
input, select, textarea {
	border:1px solid #999999;
	font-weight:normal;
}

input.submit { background:#F0F0F0 url();}

textarea {
	border:1px solid #999;
	padding:9px; 
	font-size:1em; color:#666;
	font-family:Arial, Helvetica, sans-serif;
}
