<div id="footer"><div><!--  BEGIN FOOTER CONTENT  --><ul><li class="first fltlft">&copy;2011 Ernst &amp; Young LLP</li><li>All rights reserved. </li></ul><!-- Clearing Element --><div style="clear: both;"></div></div></div>