<div id="utilities">
	<div class="globalutil">
	<!--  BEGIN GLOBAL UTILITY LINKS (RIGHT SIDE)  -->
	    
		<ul>
		    <li class="ey-first">My local champion(s): <span id="et-local-champions">Naam1/Naam2</span>
		    </li>
			<li>
				<a href="javascript:eBook.Help.showChampions();">eBook Champions</a>
			</li>
			<li class="ey-first">&nbsp;</li>
			<li id="eBook-Culture-nl-BE" class="eyhomelink">
				<a target="_self" href="?culture=nl-BE">NL</a>
			</li>
			<li id="eBook-Culture-fr-FR" class="eyhomelink">
				<a target="_self" href="?culture=fr-FR">FR</a>
			</li>
			<li id="eBook-Culture-en-US" class="eyhomelink">
				<a target="_self" href="?culture=en-US">EN</a>
			</li>
			<li>
				<a href="javascript:eBook.Help.showHelp();">Help</a>
			</li>
			<li>
				<a href="/eBookAdmin/default.aspx" target="_blank">Admin</a>
			</li>
		</ul>
	</div>
	<!--  BEGIN USER-SPECIFIC INFORMATION (LEFT SIDE)  -->
	<div class="user">
		<div id="eBook-user">User:<div id="eBook.User"></div> [<div id="eBook.Office"></div>], Current Role: <div id="eBook.Role"></div>
			<!--li class="hide">Current Role: <strong>User</strong> | <a class="counselor" href="#">Counselor</a></li-->
		</div>
	</div>
	<!-- Clearing Element -->
	<div style="clear: both;"></div>
	<!--end Utilities-->
</div>
<div class="wrapperPadding">
	<div id="header">
		<a href="javascript:eBook.Interface.home();"><img height="58" id="eyLogo" alt="Ernst &amp; Young" src="images/ey/eyLogo-2.png" runat="server" class="eylogo" title="Site name home" id="Img1"></a>
		<h1 id="eBook-Title">eBook </h1><img src="images/eBook/eBookIcon-e-title.png" style="float:right;" /> 
	</div>
	
</div>