﻿<div class="eb-map-container">
    <div class="eb-map-accounts">
        <div class="eb-map-header">
            <div class="eb-map-header-inner">
                <div class="eb-map-row eb-map-row-hd" row="hd">
                    <div class="eb-map-col eb-map-col-0 eb-map-item-row-hd" id="eb-map-col-row-hd-0" row="hd" col="0">attribs</div>
                    <div class="eb-map-col eb-map-col-1 eb-map-item-row-hd" id="eb-map-col-row-hd-1" row="hd" col="1">Rekening</div>
                    <div class="eb-map-col eb-map-col-2 eb-map-item-row-hd" id="eb-map-col-row-hd-2" row="hd" col="2">Saldo N-1</div>
                    <div class="eb-map-col eb-map-col-3 eb-map-item-row-hd" id="eb-map-col-row-hd-3" row="hd" col="3">Saldo N</div>
                    <div class="x-clear"></div>
                </div>
            </div>
        </div>
        <div class="eb-map-body">
            <div class="eb-map-scroller">
                <div class="eb-map-row eb-map-row-0" row="0">
                    <div class="eb-map-col eb-map-col-0 eb-map-item-row-0" id="eb-map-col-row-0-0" row="0" col="0"><div class="eb-map-content">im</div></div>
                    <div class="eb-map-col eb-map-col-1 eb-map-item-row-0" id="eb-map-col-row-0-1" row="0" col="1"><div class="eb-map-content">100000 Geplaatst kapitaal</div></div>
                    <div class="eb-map-col eb-map-col-2 eb-map-item-row-0" id="eb-map-col-row-0-2" row="0" col="2"><div class="eb-map-content">-62.000,00€</div></div>
                    <div class="eb-map-col eb-map-col-3 eb-map-item-row-0" id="eb-map-col-row-0-3" row="0" col="3"><div class="eb-map-content">-123.342,20€</div></div>
                    <div class="x-clear"></div>
                    <div class="eb-map-row eb-map-row-1" row="1">
                        <div class="eb-map-col eb-map-col-0 eb-map-item-row-1" id="eb-map-col-row-1-0" row="1" col="0"><div class="eb-map-content">im</div></div>
                        <div class="eb-map-col eb-map-col-1 eb-map-item-row-1" id="eb-map-col-row-1-1" row="1" col="1"><div class="eb-map-content">100000.001 ADJ Geplaatst kapitaal</div></div>
                        <div class="eb-map-col eb-map-col-2 eb-map-item-row-1" id="eb-map-col-row-1-2" row="1" col="2"><div class="eb-map-content">-10.000,00€</div></div>
                        <div class="eb-map-col eb-map-col-3 eb-map-item-row-1" id="eb-map-col-row-1-3" row="1" col="3"><div class="eb-map-content">-50.000,00€</div></div>
                        <div class="x-clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="eb-map-mappings">
        <div class="eb-map-header">
            <div class="eb-map-header-inner">
                <div class="eb-map-row eb-map-row-hd" row="hd">
                    <div class="eb-map-col eb-map-col-4 eb-map-item-row-hd" id="eb-map-col-row-hd-4" row="hd" col="4">Verworpen uitgaven</div>
                    <div class="eb-map-col eb-map-col-5 eb-map-item-row-hd" id="eb-map-col-row-hd-5" row="hd" col="5">Salaris aansluiting</div>
                    <div class="eb-map-col eb-map-col-6 eb-map-item-row-hd" id="eb-map-col-row-hd-6" row="hd" col="6">BTW-Omzet aansluiting</div>
                    <div class="eb-map-col eb-map-col-7 eb-map-item-row-hd" id="eb-map-col-row-hd-7" row="hd" col="7">Voordelen alle aard</div>
                    <div class="x-clear"></div>
                </div>
            </div>
        </div>
        <div class="eb-map-body">
            <div class="eb-map-scroller">
                <div class="eb-map-row eb-map-row-0" row="0">
                    <div class="eb-map-col eb-map-col-4 eb-map-item-row-0" id="eb-map-col-row-0-4" row="0" col="4">V</div>
                    <div class="eb-map-col eb-map-col-5 eb-map-item-row-0" id="eb-map-col-row-0-5" row="0" col="5"></div>
                    <div class="eb-map-col eb-map-col-6 eb-map-item-row-0" id="eb-map-col-row-0-6" row="0" col="6">V</div>
                    <div class="eb-map-col eb-map-col-7 eb-map-item-row-0" id="eb-map-col-row-0-7" row="0" col="7">V</div>
                    <div class="x-clear"></div>
                    <div class="eb-map-row eb-map-row-1" row="1">
                        <div class="eb-map-col eb-map-col-4 eb-map-item-row-1" id="eb-map-col-row-1-4" row="1" col="4"></div>
                        <div class="eb-map-col eb-map-col-5 eb-map-item-row-1" id="eb-map-col-row-1-5" row="1" col="5">V</div>
                        <div class="eb-map-col eb-map-col-6 eb-map-item-row-1" id="eb-map-col-row-1-6" row="1" col="6">V</div>
                        <div class="eb-map-col eb-map-col-7 eb-map-item-row-1" id="eb-map-col-row-1-7" row="1" col="7"></div>
                        <div class="x-clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
