<?xml version="1.0" encoding="utf-8"?>
<div id="275W_cnt">
  <h1>275W - Crédit d'impôt pour recherche et développement</h1>
  <div id="TaxCreditResearchDevelopmentForm_cnt" class="biztax-panel">
    <div id="TaxCreditResearchDevelopmentForm" class="biztax-title">Crédit d'impôt pour recherche et développement</div>
    <div id="TaxCreditResearchDevelopmentForm_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr class="biztax-panel-table">
          <td colspan="4">Crédit d'impôt pour recherche et développement en une fois</td>
        </tr>
        <tr>
          <td class="biztax-subpanel-indent" colspan="4">
            <table cellpadding="5" cellspacing="0" width="100%">
              <tr>
                <th class="biztax-th-name">
                  <span>
                    <space />
                  </span>
                </th>
                <th class="biztax-th-grid-header" width="100px">Brevets</th>
                <th class="biztax-th-grid-header" width="100px">Recherche et développement</th>
              </tr>
              <tr>
                <td class="biztax-td-name">Valeur d’investissement ou de revient</td>
                <td class="biztax-td-grid-item" width="100px">
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__TaxCreditResearchDevelopmentMember__id__PatentsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__TaxCreditResearchDevelopmentMember__id__PatentsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PatentsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td class="biztax-td-grid-item" width="100px">
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AcquisitionInvestmentValue_D__id__TaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AcquisitionInvestmentValue" data-xbrl-context="id__TaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
              <tr>
                <td class="biztax-td-name">En une fois</td>
                <td class="biztax-td-grid-item" width="100px">
                  <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__TaxCreditResearchDevelopmentMember__id__PatentsMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__TaxCreditResearchDevelopmentMember__id__PatentsMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:PatentsMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
                <td class="biztax-td-grid-item" width="100px">
                  <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveOneGo_D__id__TaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveOneGo" data-xbrl-context="id__TaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="biztax-panel-table">
          <td colspan="4">Crédit d'impôt pour recherche et développement étalé</td>
        </tr>
        <tr>
          <td class="biztax-subpanel-indent" colspan="4">
            <table cellpadding="5" cellspacing="0" width="100%">
              <tr>
                <th class="biztax-th-name">
                  <span>
                    <space />
                  </span>
                </th>
                <th class="biztax-th-grid-header" width="100px">Recherche et développement</th>
              </tr>
              <tr>
                <td class="biztax-td-name">Amortissements admissibles</td>
                <td class="biztax-td-grid-item" width="100px">
                  <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EligibleDepreciations_D__id__TaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EligibleDepreciations" data-xbrl-context="id__TaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
              <tr>
                <td class="biztax-td-name">Etalé</td>
                <td class="biztax-td-grid-item" width="100px">
                  <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="InvestmentIncentiveSpread_D__id__TaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="InvestmentIncentiveSpread" data-xbrl-context="id__TaxCreditResearchDevelopmentMember__id__ResearchDevelopmentMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-incc:IncentiveCategoryDimension/d-invc:InvestmentCategoryDimension" data-xbrl-dimension="d-invc:InvestmentCategoryDimension" data-xbrl-dimensionmember="d-invc:ResearchDevelopmentMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Crédit d'impôt pour recherche et développement étalé en raison d'investissements de périodes imposables précédentes</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8501</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="SpreadTaxCreditResearchDevelopmentPreviousTaxPeriods_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="SpreadTaxCreditResearchDevelopmentPreviousTaxPeriods" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Crédit d'impôt pour recherche et développement complémentaire</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8502</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AdditionalTaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AdditionalTaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Crédit d'impôt pour recherche et développement de la période imposable imputable en principe</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8510</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="ClearableTaxCreditResearchDevelopmentCurrentTaxPeriod_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ClearableTaxCreditResearchDevelopmentCurrentTaxPeriod" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr class="biztax-panel-table">
          <td colspan="4">Crédit d'impôt pour recherche et développement des périodes imposables précédentes</td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">Imputable</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8521</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ClearableTaxCreditResearchDevelopmentPreviousTaxPeriods_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ClearableTaxCreditResearchDevelopmentPreviousTaxPeriods" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name" style=" padding-left:20px ">A restituer pour le présent exercice d'imposition</td>
          <td class="biztax-td-code" width="50px">198</td>
          <td class="biztax-td-code" width="50px">1850</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxCreditResearchDevelopmentClearablePreviousTaxPeriodsRepayableCurrentAssessmentYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxCreditResearchDevelopmentClearablePreviousTaxPeriodsRepayableCurrentAssessmentYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Crédit d'impôt pour recherche et développement de périodes imposables précédentes imputable et non restituable</td>
          <td class="biztax-td-code" width="50px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-code" width="50px">8530</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ClearableNonRepayableTaxCreditResearchDevelopmentPreviousTaxPeriods_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ClearableNonRepayableTaxCreditResearchDevelopmentPreviousTaxPeriods" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Crédit d’impôt pour recherche et développement imputable en principe</td>
          <td class="biztax-td-code" width="50px">184</td>
          <td class="biztax-td-code" width="50px">1833</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="TaxCreditResearchDevelopment_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxCreditResearchDevelopment" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">A restituer pour le présent exercice d'imposition</td>
          <td class="biztax-td-code" width="50px">198</td>
          <td class="biztax-td-code" width="50px">1850</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="TaxCreditResearchDevelopmentClearablePreviousTaxPeriodsRepayableCurrentAssessmentYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="TaxCreditResearchDevelopmentClearablePreviousTaxPeriodsRepayableCurrentAssessmentYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>