<?xml version="1.0" encoding="utf-8"?>
<div id="276T_cnt">
  <h1>276T - Exonération pour personnel supplémentaire</h1>
  <div id="CalculationPerformedWorkingDaysSection_cnt" class="biztax-panel">
    <div id="CalculationPerformedWorkingDaysSection" class="biztax-title">Jours de travail prestés</div>
    <div id="CalculationPerformedWorkingDaysSection_children" class="biztax-panel-children">
      <div id="CalculationPerformedWorkingDaysCalendarYear-1Title_cnt" class="biztax-panel">
        <div id="CalculationPerformedWorkingDaysCalendarYear-1Title" class="biztax-title">Jours de travail prestés année civile-1</div>
        <div id="CalculationPerformedWorkingDaysCalendarYear-1Title_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="CalculationPerformedWorkingDaysCalendarYear-1Title" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th rowspan="2" class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Nom</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Numéro national</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Période</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Unité de temps</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Statut de l'emploi</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Régime de travail</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Régime de travail, nombre de jours</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Régime de travail, nombre de jours total</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Rémunération brute</th>
                  <th colspan="3" class="biztax-th-panel">Jours de travail, tous les travailleurs</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Heures rémunérées, par trimestre</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Rémunération journalière moyenne</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Rémunération horaire moyenne</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Jours de travail des travailleurs avec bas salaire</th>
                </tr>
                <tr>
                  <th class="biztax-th-field-header" width="100px">Jours rémunérés</th>
                  <th class="biztax-th-field-header" width="100px">Jours de vacances des ouvriers</th>
                  <th class="biztax-th-field-header" width="100px">Corrections</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-per:CalendarYear-1Member">Année civile-1</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-tu:TimeUnitDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-tu:Quarter1Member">Trimestre 1</div>
                        <div data-value="d-tu:Quarter2Member">Trimestre 2</div>
                        <div data-value="d-tu:Quarter3Member">Trimestre 3</div>
                        <div data-value="d-tu:Quarter4Member">Trimestre 4</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empstat:EmploymentStatusDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empstat:EmployeeMember">Employé</div>
                        <div data-value="d-empstat:WorkerMember">Ouvrier</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empreg:EmploymentRegimeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empreg:FullTimeMember">Temps plein</div>
                        <div data-value="d-empreg:PartTimeMember">Temps partiel</div>
                      </div>
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LabourRegulationNumberDays_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LabourRegulationNumberDays" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="positiveIntegerMin1Max6ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LabourRegulationNumberDaysYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LabourRegulationNumberDaysYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeInteger6ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="GrossIncome_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="GrossIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="WorkingDaysPaid_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="WorkingDaysPaid" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="HolidaysWorkers_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="HolidaysWorkers" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CorrectionsWorkingDays_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectionsWorkingDays" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PaidHoursQuarter_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PaidHoursQuarter" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AverageDayPay_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AverageDayPay" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AverageHourPay_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AverageHourPay" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="WorkingDaysLowWages_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="WorkingDaysLowWages" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
      <div id="CalculationPerformedWorkingDaysCalendarYear-2Title_cnt" class="biztax-panel">
        <div id="CalculationPerformedWorkingDaysCalendarYear-2Title" class="biztax-title">Jours de travail prestés année civile-2</div>
        <div id="CalculationPerformedWorkingDaysCalendarYear-2Title_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="CalculationPerformedWorkingDaysCalendarYear-2Title" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th rowspan="2" class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Nom</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Numéro national</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Période</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Unité de temps</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Statut de l'emploi</th>
                  <th rowspan="2" class="biztax-th-context-header" width="100px">Régime de travail</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Régime de travail, nombre de jours</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Régime de travail, nombre de jours total</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Rémunération brute</th>
                  <th colspan="3" class="biztax-th-panel">Jours de travail, tous les travailleurs</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Heures rémunérées, par trimestre</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Rémunération journalière moyenne</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Rémunération horaire moyenne</th>
                  <th rowspan="2" class="biztax-th-field-header" width="100px">Jours de travail des travailleurs avec bas salaire</th>
                </tr>
                <tr>
                  <th class="biztax-th-field-header" width="100px">Jours rémunérés</th>
                  <th class="biztax-th-field-header" width="100px">Jours de vacances des ouvriers</th>
                  <th class="biztax-th-field-header" width="100px">Corrections</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-per:CalendarYear-2Member">Année civile-2</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-tu:TimeUnitDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-tu:Quarter1Member">Trimestre 1</div>
                        <div data-value="d-tu:Quarter2Member">Trimestre 2</div>
                        <div data-value="d-tu:Quarter3Member">Trimestre 3</div>
                        <div data-value="d-tu:Quarter4Member">Trimestre 4</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empstat:EmploymentStatusDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empstat:EmployeeMember">Employé</div>
                        <div data-value="d-empstat:WorkerMember">Ouvrier</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empreg:EmploymentRegimeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empreg:FullTimeMember">Temps plein</div>
                        <div data-value="d-empreg:PartTimeMember">Temps partiel</div>
                      </div>
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LabourRegulationNumberDays_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LabourRegulationNumberDays" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="positiveIntegerMin1Max6ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="LabourRegulationNumberDaysYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="LabourRegulationNumberDaysYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeInteger6ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="GrossIncome_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="GrossIncome" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="WorkingDaysPaid_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="WorkingDaysPaid" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="HolidaysWorkers_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="HolidaysWorkers" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CorrectionsWorkingDays_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectionsWorkingDays" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="PaidHoursQuarter_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="PaidHoursQuarter" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AverageDayPay_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AverageDayPay" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="AverageHourPay_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="AverageHourPay" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="WorkingDaysLowWages_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="WorkingDaysLowWages" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
    </div>
  </div>
  <div id="CalculationExemptionAdditionalPersonnelSection_cnt" class="biztax-panel">
    <div id="CalculationExemptionAdditionalPersonnelSection" class="biztax-title">Exonération pour personnel supplémentaire</div>
    <div id="CalculationExemptionAdditionalPersonnelSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Movement de tous les travailleurs, année civile-1</td>
          <td class="biztax-td-code" width="50px">8601</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="MovementAllPersonnelCalendarYear-1_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementAllPersonnelCalendarYear-1" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="integer6ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Accroissement des travailleurs avec bas salaire, année civile-1</td>
          <td class="biztax-td-code" width="50px">8602</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="IncreasePersonnelLowWageCalendarYear-1_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="IncreasePersonnelLowWageCalendarYear-1" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeInteger6ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Nombre de travailleurs pour lesquels l'exonération peut être obtenue</td>
          <td class="biztax-td-code" width="50px">8603</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EmployeesEligibleExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EmployeesEligibleExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeDecimal6D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Exonération</td>
          <td class="biztax-td-code" width="50px">8604</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper biztax-field-calculated" data-xbrl-calc="true" data-xbrl-id="ExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CalculationReversalPreviousExemptionAdditionalPersonnelSection_cnt" class="biztax-panel">
    <div id="CalculationReversalPreviousExemptionAdditionalPersonnelSection" class="biztax-title">Reprise de l'exonération</div>
    <div id="CalculationReversalPreviousExemptionAdditionalPersonnelSection_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-code" width="50px">Code </th>
          <th class="biztax-th-period" width="100px">FR-Belastbaar tijdperk</th>
        </tr>
        <tr>
          <td class="biztax-td-name">Movement de tous les travailleurs, année civile-1</td>
          <td class="biztax-td-code" width="50px">8601</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="MovementAllPersonnelCalendarYear-1_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="MovementAllPersonnelCalendarYear-1" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="U-Pure" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="integer6ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Exonération à reprendre en principe</td>
          <td class="biztax-td-code" width="50px">8612</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BasicTaxableReversalPreviousExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BasicTaxableReversalPreviousExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Exonération accordée pour l'exercice d'imposition précédent</td>
          <td class="biztax-td-code" width="50px">8613</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ExemptionAdditionalPersonnelPreviousAssessmentYear_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ExemptionAdditionalPersonnelPreviousAssessmentYear" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Exonération à reprendre</td>
          <td class="biztax-td-code" width="50px">8614</td>
          <td class="biztax-td-period" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ReversalPreviousExemptionAdditionalPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ReversalPreviousExemptionAdditionalPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="00000000-0000-0000-0000-000000000000" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="CorrectionsWorkingDaysPersonnelDetailSection_cnt" class="biztax-panel">
    <div id="CorrectionsWorkingDaysPersonnelDetailSection" class="biztax-title">Corrections</div>
    <div id="CorrectionsWorkingDaysPersonnelDetailSection_children" class="biztax-panel-children">
      <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-1Title_cnt" class="biztax-panel">
        <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-1Title" class="biztax-title">Corrections année civile-1</div>
        <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-1Title_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-1Title" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-context-header" width="100px">Nom</th>
                  <th class="biztax-th-context-header" width="100px">Numéro national</th>
                  <th class="biztax-th-context-header" width="100px">Période</th>
                  <th class="biztax-th-context-header" width="100px">Unité de temps</th>
                  <th class="biztax-th-context-header" width="100px">Statut de l'emploi</th>
                  <th class="biztax-th-context-header" width="100px">Régime de travail</th>
                  <th class="biztax-th-field-header" width="100px">Equivalent en jours normaux de travail prestés en cas de travail à temps partiel, entre les jours mentionnés dans la déclaration trimestrielle ONSS et les prestations effectives</th>
                  <th class="biztax-th-field-header" width="100px">Jours fériés compris dans les jours rémunérés des ouvriers</th>
                  <th class="biztax-th-field-header" width="100px">Jours fériés légaux compris dans les corrections des jours rémunérés et des jours de vacances des ouvriers</th>
                  <th class="biztax-th-field-header" width="100px">Explication</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-per:CalendarYear-1Member">Année civile-1</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-tu:TimeUnitDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-tu:Quarter1Member">Trimestre 1</div>
                        <div data-value="d-tu:Quarter2Member">Trimestre 2</div>
                        <div data-value="d-tu:Quarter3Member">Trimestre 3</div>
                        <div data-value="d-tu:Quarter4Member">Trimestre 4</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empstat:EmploymentStatusDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empstat:EmployeeMember">Employé</div>
                        <div data-value="d-empstat:WorkerMember">Ouvrier</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empreg:EmploymentRegimeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empreg:FullTimeMember">Temps plein</div>
                        <div data-value="d-empreg:PartTimeMember">Temps partiel</div>
                      </div>
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EquivalentWholeDayWorkingDaysPartTimePersonnelPerformedAccordingNSSOQuarterlyDeclaration_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EquivalentWholeDayWorkingDaysPartTimePersonnelPerformedAccordingNSSOQuarterlyDeclaration" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankHolidaysIncludedDaysPaidWorkingDaysAllPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankHolidaysIncludedDaysPaidWorkingDaysAllPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankHolidaysIncludedCorrectionsWorkingDaysAllPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankHolidaysIncludedCorrectionsWorkingDaysAllPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CorrectionWorkingDaysPersonnelDetail_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectionWorkingDaysPersonnelDetail" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
      <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-2Title_cnt" class="biztax-panel">
        <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-2Title" class="biztax-title">Corrections année civile-2</div>
        <div id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-2Title_children" class="biztax-panel-children">
          <contextgrid data-xbrl-cg-parent-id="CorrectionsWorkingDaysPersonnelDetailCalendarYear-2Title" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension">
            <contextheading>
              <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                  <th class="biztax-th-context-action" width="50px">
                    <span>
                      <space />
                    </span>
                  </th>
                  <th class="biztax-th-context-header" width="100px">Nom</th>
                  <th class="biztax-th-context-header" width="100px">Numéro national</th>
                  <th class="biztax-th-context-header" width="100px">Période</th>
                  <th class="biztax-th-context-header" width="100px">Unité de temps</th>
                  <th class="biztax-th-context-header" width="100px">Statut de l'emploi</th>
                  <th class="biztax-th-context-header" width="100px">Régime de travail</th>
                  <th class="biztax-th-field-header" width="100px">Equivalent en jours normaux de travail prestés en cas de travail à temps partiel, entre les jours mentionnés dans la déclaration trimestrielle ONSS et les prestations effectives</th>
                  <th class="biztax-th-field-header" width="100px">Jours fériés compris dans les jours rémunérés des ouvriers</th>
                  <th class="biztax-th-field-header" width="100px">Jours fériés légaux compris dans les corrections des jours rémunérés et des jours de vacances des ouvriers</th>
                  <th class="biztax-th-field-header" width="100px">Explication</th>
                </tr>
              </table>
            </contextheading>
            <lineTpl>
              <table>
                <tbody>
                  <tr>
                    <td class="biztax-context-action">
                      <div class="biztax-context-removeitem" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NameTypedDimension" data-xbrl-datatype="NameTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-ty:NationalNumberTypedDimension" data-xbrl-datatype="NationalNumberTypedID" data-xbrl-type="input" />
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-per:PeriodDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-per:CalendarYear-2Member">Année civile-2</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-tu:TimeUnitDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-tu:Quarter1Member">Trimestre 1</div>
                        <div data-value="d-tu:Quarter2Member">Trimestre 2</div>
                        <div data-value="d-tu:Quarter3Member">Trimestre 3</div>
                        <div data-value="d-tu:Quarter4Member">Trimestre 4</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empstat:EmploymentStatusDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empstat:EmployeeMember">Employé</div>
                        <div data-value="d-empstat:WorkerMember">Ouvrier</div>
                      </div>
                    </td>
                    <td>
                      <div class="biztax-field-wrapper biztax-contextfield" data-xbrl-dimension-id="d-empreg:EmploymentRegimeDimension" data-xbrl-datatype="" data-xbrl-type="select">
                        <div data-value="d-empreg:FullTimeMember">Temps plein</div>
                        <div data-value="d-empreg:PartTimeMember">Temps partiel</div>
                      </div>
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="EquivalentWholeDayWorkingDaysPartTimePersonnelPerformedAccordingNSSOQuarterlyDeclaration_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="EquivalentWholeDayWorkingDaysPartTimePersonnelPerformedAccordingNSSOQuarterlyDeclaration" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankHolidaysIncludedDaysPaidWorkingDaysAllPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankHolidaysIncludedDaysPaidWorkingDaysAllPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="BankHolidaysIncludedCorrectionsWorkingDaysAllPersonnel_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="BankHolidaysIncludedCorrectionsWorkingDaysAllPersonnel" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                    <td>
                      <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="CorrectionWorkingDaysPersonnelDetail_D" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="CorrectionWorkingDaysPersonnelDetail" data-xbrl-context="" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empreg:EmploymentRegimeDimension/d-empstat:EmploymentStatusDimension/d-per:PeriodDimension/d-tu:TimeUnitDimension/d-ty:NameTypedDimension/d-ty:NationalNumberTypedDimension" data-xbrl-dimension="" data-xbrl-dimensionmember="" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </lineTpl>
          </contextgrid>
        </div>
      </div>
    </div>
  </div>
</div>