<?xml version="1.0" encoding="utf-8"?>
<div id="276W3_cnt">
  <h1>276W3 - Exemption Additional Personnel Head Export Department Form</h1>
  <div id="ExemptionAdditionalPersonnelHeadExportDepartmentForm_cnt" class="biztax-panel">
    <div id="ExemptionAdditionalPersonnelHeadExportDepartmentForm" class="biztax-title">Exemption Additional Personnel Head Export Department Form</div>
    <div id="ExemptionAdditionalPersonnelHeadExportDepartmentForm_children" class="biztax-panel-children">
      <table cellpadding="5" cellspacing="0" width="100%">
        <tr>
          <th class="biztax-th-name">
            <span>
              <space />
            </span>
          </th>
          <th class="biztax-th-grid-header" width="100px"></th>
          <th class="biztax-th-grid-header" width="100px"></th>
          <th class="biztax-th-grid-header" width="100px"></th>
          <th class="biztax-th-grid-header" width="100px"></th>
          <th class="biztax-th-grid-header" width="100px"></th>
        </tr>
        <tr>
          <td class="biztax-td-name">Identity</td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Identity_D__id__DepartmentHeadExportMember__id__RecruitmentFullTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Identity" data-xbrl-context="id__DepartmentHeadExportMember__id__RecruitmentFullTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:RecruitmentFullTimeMember" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Identity_D__id__DepartmentHeadExportMember__id__EmployedFullTimeTransferTaxPeriodMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Identity" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedFullTimeTransferTaxPeriodMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedFullTimeTransferTaxPeriodMember" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Identity_D__id__DepartmentHeadExportMember__id__RecruitmentFullTimeReplacementMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Identity" data-xbrl-context="id__DepartmentHeadExportMember__id__RecruitmentFullTimeReplacementMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:RecruitmentFullTimeReplacementMember" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Identity_D__id__DepartmentHeadExportMember__id__EmployedFullTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Identity" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedFullTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedFullTimeMember" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Identity_D__id__DepartmentHeadExportMember__id__EmployedPartTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Identity" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedPartTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedPartTimeMember" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">National Number</td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NationalNumber_D__id__DepartmentHeadExportMember__id__RecruitmentFullTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NationalNumber" data-xbrl-context="id__DepartmentHeadExportMember__id__RecruitmentFullTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:RecruitmentFullTimeMember" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NationalNumber_D__id__DepartmentHeadExportMember__id__EmployedFullTimeTransferTaxPeriodMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NationalNumber" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedFullTimeTransferTaxPeriodMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedFullTimeTransferTaxPeriodMember" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NationalNumber_D__id__DepartmentHeadExportMember__id__RecruitmentFullTimeReplacementMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NationalNumber" data-xbrl-context="id__DepartmentHeadExportMember__id__RecruitmentFullTimeReplacementMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:RecruitmentFullTimeReplacementMember" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NationalNumber_D__id__DepartmentHeadExportMember__id__EmployedFullTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NationalNumber" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedFullTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedFullTimeMember" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="NationalNumber_D__id__DepartmentHeadExportMember__id__EmployedPartTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="NationalNumber" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedPartTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedPartTimeMember" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Date Recruitment Employment Additional Personnel</td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRecruitmentEmploymentAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__RecruitmentFullTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRecruitmentEmploymentAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__RecruitmentFullTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:RecruitmentFullTimeMember" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRecruitmentEmploymentAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__EmployedFullTimeTransferTaxPeriodMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRecruitmentEmploymentAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedFullTimeTransferTaxPeriodMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedFullTimeTransferTaxPeriodMember" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRecruitmentEmploymentAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__RecruitmentFullTimeReplacementMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRecruitmentEmploymentAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__RecruitmentFullTimeReplacementMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:RecruitmentFullTimeReplacementMember" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRecruitmentEmploymentAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__EmployedFullTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRecruitmentEmploymentAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedFullTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedFullTimeMember" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="DateRecruitmentEmploymentAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__EmployedPartTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="DateRecruitmentEmploymentAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedPartTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedPartTimeMember" data-xbrl-path="" data-xbrl-fieldtype="dateItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Function</td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="Function_D__id__DepartmentHeadExportMember__id__RecruitmentFullTimeReplacementMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="Function" data-xbrl-context="id__DepartmentHeadExportMember__id__RecruitmentFullTimeReplacementMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="" data-xbrl-unitref="" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:RecruitmentFullTimeReplacementMember" data-xbrl-path="" data-xbrl-fieldtype="stringItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Full Exemption Additional Personnel</td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FullExemptionAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__RecruitmentFullTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FullExemptionAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__RecruitmentFullTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:RecruitmentFullTimeMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FullExemptionAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__EmployedFullTimeTransferTaxPeriodMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FullExemptionAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedFullTimeTransferTaxPeriodMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedFullTimeTransferTaxPeriodMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FullExemptionAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__EmployedFullTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FullExemptionAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedFullTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedFullTimeMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="FullExemptionAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__EmployedPartTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="FullExemptionAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedPartTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedPartTimeMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
        <tr>
          <td class="biztax-td-name">Actual Exemption Additional Personnel</td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ActualExemptionAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__RecruitmentFullTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ActualExemptionAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__RecruitmentFullTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:RecruitmentFullTimeMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ActualExemptionAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__EmployedFullTimeTransferTaxPeriodMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ActualExemptionAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedFullTimeTransferTaxPeriodMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedFullTimeTransferTaxPeriodMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <span>
              <space />
            </span>
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ActualExemptionAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__EmployedFullTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ActualExemptionAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedFullTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedFullTimeMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
          <td class="biztax-td-grid-item" width="100px">
            <div class=" biztax-field-wrapper " data-xbrl-calc="false" data-xbrl-id="ActualExemptionAdditionalPersonnel_D__id__DepartmentHeadExportMember__id__EmployedPartTimeMember" data-xbrl-pres-period="D" data-xbrl-period="D" data-xbrl-name="ActualExemptionAdditionalPersonnel" data-xbrl-context="id__DepartmentHeadExportMember__id__EmployedPartTimeMember" data-xbrl-prefix="tax-inc" data-xbrl-decimals="INF" data-xbrl-unitref="EUR" data-xbrl-dimensionset="d-empf:EmploymentFunctionDimension/d-empper:EmploymentPeriodDimension" data-xbrl-dimension="d-empper:EmploymentPeriodDimension" data-xbrl-dimensionmember="d-empper:EmployedPartTimeMember" data-xbrl-path="" data-xbrl-fieldtype="nonNegativeMonetary14D2ItemType" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>